@using System.Globalization
@model MonPDReborn.Models.Reklame.ReklameVM.DetailReklame

@{
    var data = Model.DataDetailList.FirstOrDefault();
}

   @if (data != null)
{
<div class="mb-1">
    <div class="row g-3 mb-1">
        <div class="col-lg-4">
            <div class="card shadow-sm rounded-xl">
                <div class="card-body">

                    <h5 class="fw-bold fs-16 mb-3">Informasi Jalan</h5>

                    <hr class="mt-0 mb-3">

                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-semibold mb-0">Kelas Jalan:</p>
                        <p class="fw-bold mb-0 text-end">@data.KelasJalan</p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-semibold mb-0">Nama Jalan:</p>
                        <p class="fw-bold mb-0">@data.NamaJalan</p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="fw-semibold mb-0">Status:</p>
                        <p class="fw-bold mb-0">@data.Kategori</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
}
    <div class="row g-3 mb-1">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-success text-white d-flex align-items-center">
                    <i class="ri-map-pin-2-line fs-4 me-2"></i>
                    <h5 class="mb-0 text-white">Detail Tunggakan per Jenis Pajak & Tahun Buku</h5>
                </div>
                <div class="card-body fw-semibold">
                    <div class="table-responsive">
                        @(Html.DevExtreme().DataGrid<MonPDReborn.Models.Reklame.DetailData>()
                            .ID("detailreklameGrid")
                            .DataSource(Model.DataDetailList)
                            .ShowBorders(true)
                            .ShowColumnLines(true)
                            .ShowColumnHeaders(true)
                            .AllowColumnResizing(true)
                            .ShowRowLines(true)
                            .ColumnAutoWidth(true)
                            .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
                            .FilterRow(f => f.Visible(true))
                            .HeaderFilter(h => h.Visible(true))
                            .Sorting(s => s.Mode(GridSortingMode.Multiple))
                            .Paging(p => p.PageSize(10))
                            .Pager(pager =>
                            {
                                pager.ShowPageSizeSelector(true);
                                pager.AllowedPageSizes(new[] { 10, 20, 50 });
                                pager.ShowInfo(true);
                            })
                            .Columns(columns => {
                                columns.AddFor(m => m.AlamatReklame).Caption("Alamat Reklame");
                                columns.AddFor(m => m.IsiReklame).Caption("Isi Reklame");
                                columns.AddFor(m => m.JenisReklame).Caption("Jenis Reklame");
                                columns.AddFor(m => m.KategoriReklame).Caption("Kategori Reklame");
                                columns.Add()
                                .Caption("Tanggal")
                                .CellTemplate(@<text>
                                    @{
                                        var mulai = data.TglMulai != null ? ((DateTime)data.TglMulai).ToString("dd MMM yyyy", new CultureInfo("id-ID")) : "-";
                                        var selesai = data.TglSelesai != null ? ((DateTime)data.TglSelesai).ToString("dd MMM yyyy", new CultureInfo("id-ID")) : "-";
                                    }
                                    <span>@mulai - @selesai</span>
                                </text>);

                                columns.AddFor(m => m.Pajak).Caption("Pajak").Format("#,##0");
                            })
                            .Summary(s => {
          
                                s.TotalItems(items => {
                                    items.AddFor(m => m.AlamatReklame).SummaryType(SummaryType.Count).DisplayFormat("Total");
                                    items.AddFor(m => m.Pajak).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                                });
                            })
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>


