@model MonPDReborn.Models.Reklame.ReklameVM.ShowData

<div class="row">
     <div class="col-lg-4 mb-3">
        <div class="card card-animate h-100 shadow-lg rounded-3" style="border-top: 6px solid #66BB6A; height:87%;">
            <div class="card-body d-flex align-items-center">
                <!-- Logo Besar -->
                <div class="flex-shrink-0 me-4">
                    <div class="bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 80px; height: 80px;">
                        <i class="mdi mdi-billboard fs-1"></i>
                    </div>
                </div>

                <!-- Teks Kanan -->
                <div class="flex-grow-1">
                    <h4 class="fw-bold text-primary mb-2">Reklame Insidentil</h4>

                    <div class="mb-2">
                        <span class="text-muted">Total:</span>
                        <span class="fw-semibold float-end">@Model.DataRekap.Sum(x=>x.Insidentil.Jumlah).ToString("n0")</span>
                    </div>

                    <div class="mb-2">
                        <span class="text-muted">Aktif:</span>
                        <span class="fw-semibold float-end">@Model.DataRekap.Sum(x=>x.Insidentil.Aktif).ToString("n0")</span>
                    </div>

                    <div>
                        <span class="text-muted">Expire:</span>
                        <span class="fw-semibold float-end">@((Model.DataRekap.Sum(x=>x.Insidentil.Jumlah) - Model.DataRekap.Sum(x=>x.Insidentil.Aktif)).ToString("n0"))</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-3">
        <div class="card card-animate h-100 shadow-lg rounded-3" style="border-top: 6px solid #66BB6A; height:87%;">
            <div class="card-body d-flex align-items-center">
                <!-- Logo Besar -->
                <div class="flex-shrink-0 me-4">
                    <div class="bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 80px; height: 80px;">
                        <i class="mdi mdi-newspaper fs-1"></i>
                    </div>
                </div>

                <!-- Teks Kanan -->
                <div class="flex-grow-1">
                    <h4 class="fw-bold text-primary mb-2">Reklame Permanen</h4>

                    <div class="mb-2">
                        <span class="text-muted">Total:</span>
                        <span class="fw-semibold float-end">@Model.DataRekap.Sum(x=>x.Permanen.Jumlah).ToString("n0")</span>
                    </div>

                    <div class="mb-2">
                        <span class="text-muted">Aktif:</span>
                        <span class="fw-semibold float-end">@Model.DataRekap.Sum(x=>x.Permanen.Aktif).ToString("n0")</span>
                    </div>

                    <div>
                        <span class="text-muted">Expire:</span>
                        <span class="fw-semibold float-end">@((Model.DataRekap.Sum(x=>x.Permanen.Jumlah) - Model.DataRekap.Sum(x=>x.Permanen.Aktif)).ToString("n0"))</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-3">
        <div class="card card-animate h-100 shadow-lg rounded-3" style="border-top: 6px solid #66BB6A; height:87%;">
            <div class="card-body d-flex align-items-center">
                <!-- Logo Besar -->
                <div class="flex-shrink-0 me-4">
                    <div class="bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 80px; height: 80px;">
                        <i class="mdi mdi-sign-real-estate fs-1"></i>
                    </div>
                </div>

                <!-- Teks Kanan -->
                <div class="flex-grow-1">
                    <h4 class="fw-bold text-primary mb-2">Reklame Terbatas</h4>

                    <div class="mb-2">
                        <span class="text-muted">Total:</span>
                        <span class="fw-semibold float-end">@Model.DataRekap.Sum(x=>x.Terbatas.Jumlah).ToString("n0")</span>
                    </div>

                    <div class="mb-2">
                        <span class="text-muted">Aktif:</span>
                        <span class="fw-semibold float-end">@Model.DataRekap.Sum(x=>x.Terbatas.Aktif).ToString("n0")</span>
                    </div>

                    <div>
                        <span class="text-muted">Expire:</span>
                        <span class="fw-semibold float-end">@((Model.DataRekap.Sum(x=>x.Terbatas.Jumlah) - Model.DataRekap.Sum(x=>x.Terbatas.Aktif)).ToString("n0"))</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 

<div class="table-responsive">
    @(Html.DevExtreme().DataGrid<MonPDReborn.Models.Reklame.RekapData>()
        .ID("reklameSummaryGrid")
        .DataSource(Model.DataRekap)
        @* .KeyExpr("NamaJalan") *@
        .ShowBorders(true)
        .ShowColumnLines(true)
        .ShowColumnHeaders(true)
        .AllowColumnResizing(true)
        .ShowRowLines(true)
        .RowAlternationEnabled(true)
        .ColumnAutoWidth(true)
        .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
        .FilterRow(f => f.Visible(true))
        .Sorting(s => s.Mode(GridSortingMode.Multiple))
        .Paging(p => p.PageSize(10))
        .Pager(pager =>
        {
            pager.ShowPageSizeSelector(true);
            pager.AllowedPageSizes(new[] { 10, 20, 50 });
            pager.ShowInfo(true);
        })
        .Columns(columns => {
            // Kolom Kunci
            columns.AddFor(m => m.KelasJalan)
            .Caption("KELAS JALAN")
            .Width(120)
            .Fixed(true)
            .AllowHeaderFiltering(true); // ✅

            columns.AddFor(m => m.NamaJalan)
            .Caption("NAMA JALAN")
            .Width(180)
            .Fixed(true)
            .AllowHeaderFiltering(true); // ✅


            columns.Add().Caption("JENIS INSIDENTIL").Alignment(HorizontalAlignment.Center).Columns(sub =>
            {
                sub.AddFor(x => x.Insidentil.Aktif).Caption("AKTIF").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" class="value-link value-link-success" onclick="GetDetailJalan('<%= 1 %>', '<%= data.NamaJalan %>', 'Aktif')">
                        <%= data.Insidentil.Aktif %>
                    </a>
                </text>
                        );

                            sub.AddFor(x => x.Insidentil.Expired).Caption("EXPIRED").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" class="value-link value-link-warning" onclick="GetDetailJalan('<%= 1 %>', '<%= data.NamaJalan %>', 'Expired')">
                        <%= data.Insidentil.Expired %>
                    </a>
                </text>
                        );

                            sub.AddFor(x => x.Insidentil.Perpanjangan).Caption("PERPANJANGAN").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" class="value-link" onclick="GetDetailJalan('<%= 1 %>', '<%= data.NamaJalan %>', 'Perpanjangan')">
                        <%= data.Insidentil.Perpanjangan %>
                    </a>
                </text>
                        );

                            sub.AddFor(x => x.Insidentil.WajibBongkar).Caption("WAJIB BONGKAR").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" class="value-link value-link-danger" onclick="GetDetailJalan('<%= 1 %>', '<%= data.NamaJalan %>', 'WajibBongkar')">
                        <%= data.Insidentil.WajibBongkar %>
                    </a>
                </text>
                        );

                            sub.AddFor(x => x.Insidentil.Bongkar).Caption("BONGKAR").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" onclick="GetDetailJalan('<%= 1 %>', '<%= data.NamaJalan %>', 'Bongkar')">
                        <%= data.Insidentil.Bongkar %>
                    </a>
                </text>
                        );

                            sub.AddFor(x => x.Insidentil.BlmBongkar).Caption("BELUM BONGKAR").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" class="value-link value-link-danger" onclick="GetDetailJalan('<%= 1 %>', '<%= data.NamaJalan %>', 'BlmBongkar')">
                        <%= data.Insidentil.BlmBongkar %>
                    </a>
                </text>
                        );
                
                
            });

            columns.Add().Caption("JENIS PERMANEN").Alignment(HorizontalAlignment.Center).Columns(sub =>
            {
                sub.AddFor(x => x.Permanen.Aktif).Caption("AKTIF").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" class="value-link value-link-success" onclick="GetDetailJalan('<%= 2 %>', '<%= data.NamaJalan %>', 'Aktif')">
                        <%= data.Permanen.Aktif %>
                    </a>
                </text>
                        );

                            sub.AddFor(x => x.Permanen.Expired).Caption("EXPIRED").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" class="value-link value-link-warning" onclick="GetDetailJalan('<%= 2 %>', '<%= data.NamaJalan %>', 'Expired')">
                        <%= data.Permanen.Expired %>
                    </a>
                </text>
                        );

                            sub.AddFor(x => x.Permanen.Perpanjangan).Caption("PERPANJANGAN").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" class="value-link" onclick="GetDetailJalan('<%= 2 %>', '<%= data.NamaJalan %>', 'Perpanjangan')">
                        <%= data.Permanen.Perpanjangan %>
                    </a>
                </text>
                        );

                            sub.AddFor(x => x.Permanen.WajibBongkar).Caption("WAJIB BONGKAR").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" class="value-link value-link-danger" onclick="GetDetailJalan('<%= 2 %>', '<%= data.NamaJalan %>', 'WajibBongkar')">
                        <%= data.Permanen.WajibBongkar %>
                    </a>
                </text>
                        );

                            sub.AddFor(x => x.Permanen.Bongkar).Caption("BONGKAR").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" onclick="GetDetailJalan('<%= 2 %>', '<%= data.NamaJalan %>', 'Bongkar')">
                        <%= data.Permanen.Bongkar %>
                    </a>
                </text>
                        );

                            sub.AddFor(x => x.Permanen.BlmBongkar).Caption("BELUM BONGKAR").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" class="value-link value-link-danger" onclick="GetDetailJalan('<%= 2 %>', '<%= data.NamaJalan %>', 'BlmBongkar')">
                        <%= data.Permanen.BlmBongkar %>
                    </a>
                </text>
                        );
                
                
            });

            columns.Add().Caption("JENIS TERBATAS").Alignment(HorizontalAlignment.Center).Columns(sub =>
            {
                sub.AddFor(x => x.Terbatas.Aktif).Caption("AKTIF").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" class="value-link value-link-success" onclick="GetDetailJalan('<%= 3 %>', '<%= data.NamaJalan %>', 'Aktif')">
                        <%= data.Terbatas.Aktif %>
                    </a>
                </text>
                        );

                            sub.AddFor(x => x.Terbatas.Expired).Caption("EXPIRED").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" class="value-link value-link-warning" onclick="GetDetailJalan('<%= 3 %>', '<%= data.NamaJalan %>', 'Expired')">
                        <%= data.Terbatas.Expired %>
                    </a>
                </text>
                        );

                            sub.AddFor(x => x.Terbatas.Perpanjangan).Caption("PERPANJANGAN").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" class="value-link" onclick="GetDetailJalan('<%= 3 %>', '<%= data.NamaJalan %>', 'Perpanjangan')">
                        <%= data.Terbatas.Perpanjangan %>
                    </a>
                </text>
                        );

                            sub.AddFor(x => x.Terbatas.WajibBongkar).Caption("WAJIB BONGKAR").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" class="value-link value-link-danger" onclick="GetDetailJalan('<%= 3 %>', '<%= data.NamaJalan %>', 'WajibBongkar')">
                        <%= data.Terbatas.WajibBongkar %>
                    </a>
                </text>
                        );

                            sub.AddFor(x => x.Terbatas.Bongkar).Caption("BONGKAR").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" onclick="GetDetailJalan('<%= 3 %>', '<%= data.NamaJalan %>', 'Bongkar')">
                        <%= data.Terbatas.Bongkar %>
                    </a>
                </text>
                        );

                            sub.AddFor(x => x.Terbatas.BlmBongkar).Caption("BELUM BONGKAR").CellTemplate(
                    @<text>
                    <a href="javascript:void(0)" class="value-link value-link-danger" onclick="GetDetailJalan('<%= 3 %>', '<%= data.NamaJalan %>', 'BlmBongkar')">
                        <%= data.Terbatas.BlmBongkar %>
                    </a>
                </text>
                        );
                
            });
        })
        .Summary(s => {
          
            s.TotalItems(items => {
                items.AddFor(m => m.NamaJalan).SummaryType(SummaryType.Count).DisplayFormat("JUMLAH");
                items.AddFor(m => m.Insidentil.Aktif).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Insidentil.Expired).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Insidentil.Perpanjangan).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Insidentil.WajibBongkar).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Insidentil.Bongkar).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Insidentil.BlmBongkar).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Permanen.Aktif).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Permanen.Expired).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Permanen.Perpanjangan).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Permanen.WajibBongkar).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Permanen.Bongkar).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Permanen.BlmBongkar).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Terbatas.Aktif).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Terbatas.Expired).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Terbatas.Perpanjangan).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Terbatas.WajibBongkar).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Terbatas.Bongkar).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Terbatas.BlmBongkar).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
            });
        })
    )
</div>