@model MonPDReborn.Models.Reklame.ReklameVM.ShowData

<div class="row">
     <div class="col-lg-4 mb-3">
        <div class="card card-animate h-100 shadow-lg rounded-3" style="border-top: 6px solid #66BB6A; height:87%;">
            <div class="card-body d-flex align-items-center">
                <!-- Logo Besar -->
                <div class="flex-shrink-0 me-4">
                    <div class="bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 80px; height: 80px;">
                        <i class="mdi mdi-billboard fs-1"></i>
                    </div>
                </div>

                <!-- Teks Kanan -->
                <div class="flex-grow-1">
                    <h4 class="fw-bold text-primary mb-2">Reklame Insidentil</h4>

                    <div class="mb-2">
                        <span class="text-muted">Total:</span>
                        <span class="fw-semibold float-end">@Model.DataRekap.Sum(x=>x.Isidentil.Jumlah).ToString("n0")</span>
                    </div>

                    <div class="mb-2">
                        <span class="text-muted">Aktif:</span>
                        <span class="fw-semibold float-end">@Model.DataRekap.Sum(x=>x.Isidentil.Aktif).ToString("n0")</span>
                    </div>

                    <div>
                        <span class="text-muted">Expire:</span>
                        <span class="fw-semibold float-end">@((Model.DataRekap.Sum(x=>x.Isidentil.Jumlah) - Model.DataRekap.Sum(x=>x.Isidentil.Aktif)).ToString("n0"))</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-3">
        <div class="card card-animate h-100 shadow-lg rounded-3" style="border-top: 6px solid #66BB6A; height:87%;">
            <div class="card-body d-flex align-items-center">
                <!-- Logo Besar -->
                <div class="flex-shrink-0 me-4">
                    <div class="bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 80px; height: 80px;">
                        <i class="mdi mdi-newspaper fs-1"></i>
                    </div>
                </div>

                <!-- Teks Kanan -->
                <div class="flex-grow-1">
                    <h4 class="fw-bold text-primary mb-2">Reklame Permanen</h4>

                    <div class="mb-2">
                        <span class="text-muted">Total:</span>
                        <span class="fw-semibold float-end">@Model.DataRekap.Sum(x=>x.Permanen.Jumlah).ToString("n0")</span>
                    </div>

                    <div class="mb-2">
                        <span class="text-muted">Aktif:</span>
                        <span class="fw-semibold float-end">@Model.DataRekap.Sum(x=>x.Permanen.Aktif).ToString("n0")</span>
                    </div>

                    <div>
                        <span class="text-muted">Expire:</span>
                        <span class="fw-semibold float-end">@((Model.DataRekap.Sum(x=>x.Permanen.Jumlah) - Model.DataRekap.Sum(x=>x.Permanen.Aktif)).ToString("n0"))</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-3">
        <div class="card card-animate h-100 shadow-lg rounded-3" style="border-top: 6px solid #66BB6A; height:87%;">
            <div class="card-body d-flex align-items-center">
                <!-- Logo Besar -->
                <div class="flex-shrink-0 me-4">
                    <div class="bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 80px; height: 80px;">
                        <i class="mdi mdi-sign-real-estate fs-1"></i>
                    </div>
                </div>

                <!-- Teks Kanan -->
                <div class="flex-grow-1">
                    <h4 class="fw-bold text-primary mb-2">Reklame Terbatas</h4>

                    <div class="mb-2">
                        <span class="text-muted">Total:</span>
                        <span class="fw-semibold float-end">@Model.DataRekap.Sum(x=>x.Terbatas.Jumlah).ToString("n0")</span>
                    </div>

                    <div class="mb-2">
                        <span class="text-muted">Aktif:</span>
                        <span class="fw-semibold float-end">@Model.DataRekap.Sum(x=>x.Terbatas.Aktif).ToString("n0")</span>
                    </div>

                    <div>
                        <span class="text-muted">Expire:</span>
                        <span class="fw-semibold float-end">@((Model.DataRekap.Sum(x=>x.Terbatas.Jumlah) - Model.DataRekap.Sum(x=>x.Terbatas.Aktif)).ToString("n0"))</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 

<div class="table-responsive">
    @(Html.DevExtreme().DataGrid<MonPDReborn.Models.Reklame.RekapData>()
        .ID("reklameSummaryGrid")
        .DataSource(Model.DataRekap)
        @* .KeyExpr("NamaJalan") *@
        .ShowBorders(true)
        .ShowColumnLines(true)
        .ShowColumnHeaders(true)
        .AllowColumnResizing(true)
        .ShowRowLines(true)
        .RowAlternationEnabled(true)
        .ColumnAutoWidth(true)
        .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
        .FilterRow(f => f.Visible(true))
        .Sorting(s => s.Mode(GridSortingMode.Multiple))
        .Paging(p => p.PageSize(10))
        .Pager(pager =>
        {
            pager.ShowPageSizeSelector(true);
            pager.AllowedPageSizes(new[] { 10, 20, 50 });
            pager.ShowInfo(true);
        })
        .Columns(columns => {
            // Kolom Kunci
            columns.AddFor(m => m.KelasJalan)
            .Caption("KELAS JALAN")
            .Width(120)
            .Fixed(true)
            .AllowHeaderFiltering(true); // ✅

            columns.AddFor(m => m.NamaJalan)
            .Caption("NAMA JALAN")
            .Width(180)
            .Fixed(true)
            .AllowHeaderFiltering(true); // ✅

            @* columns.Add().Caption("JENIS INSIDENTIL").Alignment(HorizontalAlignment.Center).Columns(sub => {
                sub.AddFor(x => x.Isidentil.ExpiredBongkar).Caption("EXPIRED BONGKAR").CellTemplate(new JS("detailReklameCellTemplate"));;
                sub.AddFor(x => x.Isidentil.ExpiredBlmBongkar).Caption("EXPIRED BLM BONGKAR").CellTemplate(new JS("detailReklameCellTemplate"));;
                sub.AddFor(x => x.Isidentil.Aktif).Caption("AKTIF").CellTemplate(new JS("detailReklameCellTemplate"));;
                sub.AddFor(x => x.Isidentil.Jumlah).Caption("JUMLAH");
            });

            columns.Add().Caption("JENIS PERMANEN").Alignment(HorizontalAlignment.Center).Columns(sub => {
                sub.AddFor(x => x.Permanen.ExpiredBongkar).Caption("EXPIRED BONGKAR").CellTemplate(new JS("detailReklameCellTemplate"));
                sub.AddFor(x => x.Permanen.ExpiredBlmBongkar).Caption("EXPIRED BLM BONGKAR").CellTemplate(new JS("detailReklameCellTemplate"));
                sub.AddFor(x => x.Permanen.Aktif).Caption("AKTIF").CellTemplate(new JS("detailReklameCellTemplate"));
                sub.AddFor(x => x.Permanen.Jumlah).Caption("JUMLAH");
            });

            columns.Add().Caption("JENIS TERBATAS").Alignment(HorizontalAlignment.Center).Columns(sub => {
                sub.AddFor(x => x.Terbatas.ExpiredBongkar).Caption("EXPIRED BONGKAR").CellTemplate(new JS("detailReklameCellTemplate"));
                sub.AddFor(x => x.Terbatas.ExpiredBlmBongkar).Caption("EXPIRED BLM BONGKAR").CellTemplate(new JS("detailReklameCellTemplate"));
                sub.AddFor(x => x.Terbatas.Aktif).Caption("AKTIF").CellTemplate(new JS("detailReklameCellTemplate"));
                sub.AddFor(x => x.Terbatas.Jumlah).Caption("JUMLAH");
            }); *@

            columns.Add().Caption("JENIS INSIDENTIL").Alignment(HorizontalAlignment.Center).Columns(sub =>
    {
                sub.AddFor(x => x.Isidentil.ExpiredBongkar).Caption("EXPIRED BONGKAR").CellTemplate(
                    @<text>
        <a href="javascript:void(0)" onclick="GetDetailJalan('<%= data.KelasJalanId %>','<%= data.NamaJalan %>','ExpiredBongkar','INSIDENTIL')">
            <%= data.Isidentil.ExpiredBongkar %>
        </a>
                    </text>
                );
                sub.AddFor(x => x.Isidentil.ExpiredBlmBongkar).Caption("EXPIRED BLM BONGKAR").CellTemplate(
                    @<text>
        <a href="javascript:void(0)" onclick="GetDetailJalan('<%= data.KelasJalanId %>','<%= data.NamaJalan %>','ExpiredBlmBongkar','INSIDENTIL')">
            <%= data.Isidentil.ExpiredBlmBongkar %>
        </a>
                    </text>
                );
                sub.AddFor(x => x.Isidentil.Aktif).Caption("AKTIF").CellTemplate(
                    @<text>
        <a href="javascript:void(0)" onclick="GetDetailJalan('<%= data.KelasJalanId %>','<%= data.NamaJalan %>','Aktif','INSIDENTIL')">
            <%= data.Isidentil.Aktif %>
        </a>
                    </text>
                );
                sub.AddFor(x => x.Isidentil.Jumlah).Caption("JUMLAH");
            });

            columns.Add().Caption("JENIS PERMANEN").Alignment(HorizontalAlignment.Center).Columns(sub =>
            {
                sub.AddFor(x => x.Permanen.ExpiredBongkar).Caption("EXPIRED BONGKAR").CellTemplate(
                    @<text>
        <a href="javascript:void(0)" onclick="GetDetailJalan('<%= data.KelasJalanId %>','<%= data.NamaJalan %>','ExpiredBongkar','PERMANEN')">
            <%= data.Permanen.ExpiredBongkar %>
        </a>
                    </text>
                );
                sub.AddFor(x => x.Permanen.ExpiredBlmBongkar).Caption("EXPIRED BLM BONGKAR").CellTemplate(
                    @<text>
        <a href="javascript:void(0)" onclick="GetDetailJalan('<%= data.KelasJalanId %>','<%= data.NamaJalan %>','ExpiredBlmBongkar','PERMANEN')">
            <%= data.Permanen.ExpiredBlmBongkar %>
        </a>
                    </text>
                );
                sub.AddFor(x => x.Permanen.Aktif).Caption("AKTIF").CellTemplate(
                    @<text>
        <a href="javascript:void(0)" onclick="GetDetailJalan('<%= data.KelasJalanId %>','<%= data.NamaJalan %>','Aktif','PERMANEN')">
            <%= data.Permanen.Aktif %>
        </a>
                    </text>
                );
                sub.AddFor(x => x.Permanen.Jumlah).Caption("JUMLAH");
            });

            columns.Add().Caption("JENIS TERBATAS").Alignment(HorizontalAlignment.Center).Columns(sub =>
            {
                sub.AddFor(x => x.Terbatas.ExpiredBongkar).Caption("EXPIRED BONGKAR").CellTemplate(
                    @<text>
        <a href="javascript:void(0)" onclick="GetDetailJalan('<%= data.KelasJalanId %>','<%= data.NamaJalan %>','ExpiredBongkar','TERBATAS')">
            <%= data.Terbatas.ExpiredBongkar %>
        </a>
                    </text>
                );
                sub.AddFor(x => x.Terbatas.ExpiredBlmBongkar).Caption("EXPIRED BLM BONGKAR").CellTemplate(
                    @<text>
        <a href="javascript:void(0)" onclick="GetDetailJalan('<%= data.KelasJalanId %>','<%= data.NamaJalan %>','ExpiredBlmBongkar','TERBATAS')">
            <%= data.Terbatas.ExpiredBlmBongkar %>
        </a>
                    </text>
                );
                sub.AddFor(x => x.Terbatas.Aktif).Caption("AKTIF").CellTemplate(
                    @<text>
        <a href="javascript:void(0)" onclick="GetDetailJalan('<%= data.KelasJalanId %>','<%= data.NamaJalan %>','Aktif','TERBATAS')">
            <%= data.Terbatas.Aktif %>
        </a>
                    </text>
                );
                sub.AddFor(x => x.Terbatas.Jumlah).Caption("JUMLAH");
            });
        })
        .Summary(s => {
          
            s.TotalItems(items => {
                items.AddFor(m => m.NamaJalan).SummaryType(SummaryType.Count).DisplayFormat("JUMLAH");
                items.AddFor(m => m.Isidentil.ExpiredBongkar).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Isidentil.ExpiredBlmBongkar).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Isidentil.Aktif).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Isidentil.Jumlah).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Permanen.ExpiredBongkar).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Permanen.ExpiredBlmBongkar).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Permanen.Aktif).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Permanen.Jumlah).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Terbatas.ExpiredBongkar).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Terbatas.ExpiredBlmBongkar).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Terbatas.Aktif).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
                items.AddFor(m => m.Terbatas.Jumlah).SummaryType(SummaryType.Sum).DisplayFormat("{0}").ValueFormat("#,##0");
            });
        })
    )
</div>