@model MonPDReborn.Models.Reklame.ReklameVM.Index
@using DevExtreme.AspNet.Mvc

@{
    ViewData["Title"] = "Detail Reklame";
    Layout = "_Layout";
}

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-1">
                        Informasi Reklame
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-1">
                        Cari Informasi Reklame
                    </h4>
                </div>
            </div>

            <div class="card-body">
                <div class="row g-3 align-items-center">
                   
                    <div class="col-lg col-md-6">
                        @(Html.DevExtreme().DateBoxFor(x=>x.TglAwal)
                                                .ID("tanggalAwal")
                                                .Type(DateBoxType.Date)
                                                .Placeholder("Tanggal Awal")
                                                .StylingMode(EditorStylingMode.Outlined)
                                                )
                    </div>

                    <div class="col-lg col-md-6">
                        @(Html.DevExtreme().DateBoxFor(x => x.TglAkhir)
                                                .ID("tanggalAkhir")
                                                .Type(DateBoxType.Date)
                                                .Placeholder("Tanggal Akhir")
                                                .StylingMode(EditorStylingMode.Outlined)
                                                )
                    </div>

                    <div class="col-lg-2 col-md-12">
                        <button type="button" id="btnTerapkanFilter" class="btn btn-success w-100" onclick="fnShow()">
                            <i class="ri-filter-3-line me-1"></i> Terapkan
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @* Dashboard baru *@
  

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-1">
                        Daftar Titik Reklame
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <div id="loading2-Show" class="spinner-border text-primary" style="display: none">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div id="Show"></div>

                <div class="modal fade" id="detailModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div id="detailModalContent">
                                <div class="text-center p-5">
                                    <div class="spinner-border text-primary"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            fnShow();
        });


        function fnShow() {
            const tglAwalDate = $('#tanggalAwal').dxDateBox('instance').option('value');
            const tglAkhirDate = $('#tanggalAkhir').dxDateBox('instance').option('value');

            // Format ke yyyy-MM-dd
            const tglAwal = tglAwalDate ? tglAwalDate.toISOString().split('T')[0] : '';
            const tglAkhir = tglAkhirDate ? tglAkhirDate.toISOString().split('T')[0] : '';
            $.ajax({
                url: '@Url.Action("Show")',
                type: 'GET',
                data: {
                    TglAwal: tglAwal,
                    TglAkhir: tglAkhir
                },
                beforeSend: function () {
                    $('#loading2-Show').show();  
                    $('#Show').hide();
                },
                success: function (response) {
                    $('#loading2-Show').hide();
                    $('#Show').show().html(response);
                },
                error: function (xhr) {
                    $('#loading2-Show').hide();
                    $('#Show').html('<p class="text-danger">⚠ Gagal memuat data. Silakan coba lagi.</p>');
                }
            });
        }
                function GetDetailJalan(kelasJalan, namaJalan, status, jenisReklame) {
            const tglAwalDate = $('#tanggalAwal').dxDateBox('instance').option('value');
            const tglAkhirDate = $('#tanggalAkhir').dxDateBox('instance').option('value');

            const tglAwal = tglAwalDate ? tglAwalDate.toISOString().split('T')[0] : '';
            const tglAkhir = tglAkhirDate ? tglAkhirDate.toISOString().split('T')[0] : '';

            $.ajax({
                url: '@Url.Action("Detail", "Reklame")',
                type: "GET",
                data: { kelasJalan, namaJalan, status, jenisReklame, tglAwal, tglAkhir },
                beforeSend: function () {
                    $("#loader").show();

                    const $modal = $("#staticBackdropLargeScrollableCenter");
                    $modal.find(".modal-title").text("");
                    $modal.find(".modal-body").html("");
                },
                success: function (response) {
                    const $modal = $("#staticBackdropLargeScrollableCenter");
                    if (response.Status === undefined) {
                        $modal.find(".modal-title").html("Data Detail Reklame Jalan " + namaJalan);
                        $modal.find(".modal-body").html(response);
                        $modal.modal('show');
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Peringatan',
                            text: response.Message
                        });
                    }
                },
                error: function () {
                    const $modal = $("#staticBackdropLargeScrollableCenter");
                    $modal.find(".modal-title").html("Error");
                    $modal.find(".modal-body").html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
                    $modal.modal('show');
                },
                complete: function () {
                    $("#loader").hide();
                }
            });
        }

        // function GetDetailJalan(kelasJalan, namaJalan, status, jenisReklame)
        // {
        //     const tglAwalDate = $('#tanggalAwal').dxDateBox('instance').option('value');
        //     const tglAkhirDate = $('#tanggalAkhir').dxDateBox('instance').option('value');

        //     Format ke yyyy-MM-dd
        //     const tglAwal = tglAwalDate ? tglAwalDate.toISOString().split('T')[0] : '';
        //     const tglAkhir = tglAkhirDate ? tglAkhirDate.toISOString().split('T')[0] : '';
        //     $.ajax({
        //         url: '@Url.Action("Detail", "Reklame")',
        //         type: "GET",
        //         data: {
        //             kelasJalan, namaJalan, status, jenisReklame, tglAwal, tglAkhir
        //         },
        //         beforeSend: function () {
        //             $("#loader").show();

                   
        //         },
        //         success: function (resp)
        //         {
        //             $("#loader").hide();
        //             $("#staticBackdropLargeScrollableCenter .modal-title").html("Data Detail Reklame Jalan " + namaJalan);
        //             $("#staticBackdropLargeScrollableCenter .modal-body").html(resp);
        //             $("#staticBackdropLargeScrollableCenter").modal('show');
        //         },
        //         error: function (xhr) {
        //             $("#loader").hide();
        //             alert("Internal Server Error", '', 'Information!', 1);
        //             $('#modal-danger').modal({ backdrop: 'static', keyboard: false, show: true })
        //         }
        //     });

        // }

        // function detailReklameCellTemplate(cellElement, cellInfo) {
        //     const value = cellInfo.value ?? 0;

        //     const [kategori, statusRaw] = cellInfo.column.dataField.split('.');
        //     const status = statusRaw;

        //     const jalan = cellInfo.data.NamaJalan;
        //     const kelasJalan = cellInfo.data.KelasJalanId;  // AMBIL dari data baris

        //     const $link = $('<a>')
        //         .addClass('value-link text-decoration-none')
        //         .attr('href', 'javascript:void(0);')
        //         .attr('title', 'Lihat Detail')
        //         .text(value.toLocaleString('id-ID'))
        //         .on('click', () => {
        //             GetDetailJalan(kelasJalan, jalan, status, jenisReklame);
        //         });

        //     const $wrapper = $('<div>')
        //         .css({
        //             display: 'flex',
        //             alignItems: 'center',
        //             justifyContent: 'flex-end'
        //         })
        //         .append($link);

        //     $(cellElement).append($wrapper);
        // }





    </script>
}