@model MonPDReborn.Models.Reklame.InputReklameVM.Show

<form id="formUpaya" asp-action="SimpanUpaya" asp-controller="InputReklame" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.Data.NewRowUpaya.NoFormulir)
    <div class="row">

        <div class="col-lg-3 mb-3">
            <label asp-for="SelectedKdAktifitas" class="form-label">Kode Aktifitas</label>
            @(Html.DevExtreme().TextBox()
                        .ID("txtKdAktifitas")
                        .Name("SelectedKdAktifitas")
                        .Placeholder("Masukkan Kode Aktifitas")
                        .ShowClearButton(true)
                        .OnEnterKey("onKdAktifitasSearch")
                        )
        </div>

        <div class="col-lg-4 mb-3">
            <label class="form-label">Nama Petugas</label>
            <input type="text" id="txtNamaAktifitas" class="form-control" readonly />
            <!-- Hidden input supaya ikut terkirim -->
            <input type="hidden" id="hdNamaPetugas" name="Data.NewRowUpaya.NamaPetugas" />
        </div>

        <div class="col-lg-4 mb-3">
            <label class="form-label">NIK Petugas</label>
            <input type="text" id="txtNikPetugas" class="form-control" readonly />
            <!-- Hidden input supaya ikut terkirim -->
            <input type="hidden" id="hdNikPetugas" name="Data.NewRowUpaya.NIKPetugas" />
        </div>


        <div class="col-lg-5 mb-3">
            <label asp-for="SelectedNoFormulir" class="form-label"> Cari No Formulir</label>
            @(Html.DevExtreme().TextBox()
                        .ID("txtNoFormulir")
                        .Name("SelectedNoFormulir")
                        .Placeholder("Masukkan No Formulir")
                        .ShowClearButton(true)
                        .OnEnterKey("onNoFormulirSearch")
                        )
        </div>

        <div class="col-lg-5 mb-3">
            <label class="form-label">Alamat Reklame</label>
            <input type="text" id="txtAlamatReklame" class="form-control" readonly />
        </div>

        <div class="col-lg-5 mb-3">
            <label asp-for="SelectedNOR" class="form-label">Cari NOR</label>
            @(Html.DevExtreme().TextBox()
                        .ID("txtNOR")
                        .Name("SelectedNOR")
                        .Placeholder("Masukkan NOR")
                        .ShowClearButton(true)
                        .OnEnterKey("onNORSearch")
                        )
        </div>

        <div class="col-lg-8 mb-3">
            <label asp-for="SelectedUpaya" class="form-label">Jenis Upaya</label>
            @(Html.DevExtreme().SelectBoxFor(m => m.SelectedUpaya)
                        .ID("cbUpaya")
                        .DataSource(d => d.Mvc().LoadAction("GetUpaya").Key("filter"))
                        .OnValueChanged("fnReloadTindakan")
                        .DisplayExpr("Text")
                        .ValueExpr("Value")
                        .SearchEnabled(true)
                        )
        </div>

        <div class="col-lg-8 mb-3">
            <label asp-for="SelectedTindakan" class="form-label">Keterangan</label>
            @(Html.DevExtreme().SelectBoxFor(m => m.SelectedTindakan)
                        .ID("cbTindakan")
                        .ValueExpr("Value")
                        .DisplayExpr("Text")
                        .DataSource(x => x.Mvc().Controller("InputReklame").LoadAction("GetTindakan").LoadParams(new JS("fnGetParamsTindakan()")))
                        .SearchEnabled(true)
                        )
        </div>

        <div class="col-lg-8 mb-3">
            <label asp-for="Data.NewRowUpaya.TglUpaya" class="form-label">Tanggal Upaya</label>
            @(Html.DevExtreme().DateBoxFor(m => m.Data.NewRowUpaya.TglUpaya)
                        .Type(DateBoxType.Date)
                        .DisplayFormat("dd MMM yyyy")
                        .Value(DateTime.Today))
        </div>

        <div class="col-lg-8 mb-3">
            <label asp-for="Lampiran" class="form-label"></label>
            <input asp-for="Lampiran" class="form-control" accept=".jpg,.jpeg,.png" />
            <small class="form-text text-muted">
                Hanya file gambar (.jpg, .jpeg, .png).
            </small>
            <span asp-validation-for="Lampiran" class="text-danger"></span>
        </div>

    </div>

    <div class="mb-3 text-end">
        <button type="button" class="btn btn-primary" onclick="simpanUpaya()">Simpan</button>
    </div>

</form>