@model MonPDReborn.Models.DataOP.UploadDataVM.Index

<div class="row">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h4 class="card-title text-black fs-16 mb-0">
                        Upload Potensi Hotel
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <form id="UploadHotel" asp-action="UploadPotensiHotel" asp-controller="UploadData" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Tahun">Tahun</label>
                        <select asp-for="Tahun" asp-items="Model.TahunList" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label for="FileExcel">Upload Excel</label>
                        <input type="file" class="form-control" asp-for="FileExcel" name="file" />

                        <div class="mt-2">
                            <a href="~/TemplateUpload/DB_POTENSI_HOTEL.xlsx"
                               class="btn btn-outline-success btn-sm">
                                <i class="bi bi-download"></i> Download Template
                            </a>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary mt-2" onclick="UploadHotel()">Upload</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h4 class="card-title text-black fs-16 mb-0">
                        Upload Potensi Resto
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <form id="UploadResto" asp-action="UploadPotensiResto" asp-controller="UploadData" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Tahun">Tahun</label>
                        <select asp-for="Tahun" asp-items="Model.TahunList" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label for="FileExcel">Upload Excel</label>
                        <input type="file" class="form-control" asp-for="FileExcel" name="file" />

                        <div class="mt-2">
                            <a href="~/TemplateUpload/DB_POTENSI_RESTO.xlsx"
                               class="btn btn-outline-success btn-sm">
                                <i class="bi bi-download"></i> Download Template
                            </a>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary mt-2" onclick="UploadResto()">Upload</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h4 class="card-title text-black fs-16 mb-0">
                        Upload Potensi Hiburan
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <form id="UploadHiburan" asp-action="UploadPotensiHiburan" asp-controller="UploadData" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Tahun">Tahun</label>
                        <select asp-for="Tahun" asp-items="Model.TahunList" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label for="FileExcel">Upload Excel</label>
                        <input type="file" class="form-control" asp-for="FileExcel" name="file" />

                        <div class="mt-2">
                            <a href="~/TemplateUpload/DB_POTENSI_HIBURAN.xlsx"
                               class="btn btn-outline-success btn-sm">
                                <i class="bi bi-download"></i> Download Template
                            </a>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary mt-2" onclick="UploadHiburan()">Upload</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h4 class="card-title text-black fs-16 mb-0">
                        Upload Potensi Parkir
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <form id="UploadParkir" asp-action="UploadPotensiParkir" asp-controller="UploadData" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Tahun">Tahun</label>
                        <select asp-for="Tahun" asp-items="Model.TahunList" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label for="FileExcel">Upload Excel</label>
                        <input type="file" class="form-control" asp-for="FileExcel" name="file" />

                        <div class="mt-2">
                            <a href="~/TemplateUpload/DB_POTENSI_PARKIR.xlsx"
                               class="btn btn-outline-success btn-sm">
                                <i class="bi bi-download"></i> Download Template
                            </a>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary mt-2" onclick="UploadParkir()">Upload</button>
                </form>
            </div>
        </div>
    </div>

    <hr />
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h4 class="card-title text-black fs-16 mb-0">
                        Upload Pemeriksaan Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <form id="UploadPemeriksaanExcel" asp-action="UploadPemeriksaanExcel" asp-controller="UploadData" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Tahun">Tahun</label>
                        <select asp-for="Tahun" asp-items="Model.TahunList" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label for="FileExcel">Upload Excel</label>
                        <input type="file" class="form-control" asp-for="FileExcel" name="file" />

                        <div class="mt-2">
                            <a href="~/TemplateUpload/PEMERIKSAAN_UPLOAD.xlsx"
                               class="btn btn-outline-success btn-sm">
                                <i class="bi bi-download"></i> Download Template
                            </a>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary mt-2" onclick="UploadPemeriksaanExcel()">Upload</button>
                </form>
            </div>
        </div>
    </div>
    <hr />
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h4 class="card-title text-black fs-16 mb-0">
                        Upload Pengedokan Resto
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <form id="UploadPengedokanResto" asp-action="UploadPengedokanResto" asp-controller="UploadData" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Tahun">Tahun</label>
                        <select asp-for="Tahun" asp-items="Model.TahunList" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label for="FileExcel">Upload Excel</label>
                        <input type="file" class="form-control" asp-for="FileExcel" name="file" />

                        <div class="mt-2">
                            <a href="~/TemplateUpload/PENGEDOKAN_RESTO_UPLOAD.xlsx"
                               class="btn btn-outline-success btn-sm">
                                <i class="bi bi-download"></i> Download Template
                            </a>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary mt-2" onclick="UploadPengedokanResto()">Upload</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h4 class="card-title text-black fs-16 mb-0">
                        Upload Pengedokan Parkir
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <form id="UploadPengedokanParkir" asp-action="UploadPengedokanParkir" asp-controller="UploadData" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Tahun">Tahun</label>
                        <select asp-for="Tahun" asp-items="Model.TahunList" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label for="FileExcel">Upload Excel</label>
                        <input type="file" class="form-control" asp-for="FileExcel" name="file" />

                        <div class="mt-2">
                            <a href="~/TemplateUpload/PENGEDOKAN_PARKIR_UPLOAD.xlsx"
                               class="btn btn-outline-success btn-sm">
                                <i class="bi bi-download"></i> Download Template
                            </a>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary mt-2" onclick="UploadPengedokanParkir()">Upload</button>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        function UploadHotel() {
            var formData = new FormData($('#UploadHotel')[0]);

            $.ajax({
                url: '@Url.Action("UploadPotensiHotel", "UploadData")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $("#loader").show();
                },
                complete: function () {
                    $("#loader").hide();
                },
                success: function (response) {
                    if (response.Status === 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Berhasil',
                            text: response.Message
                        });

                        $('#UploadHotel')[0].reset();
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Gagal',
                            text: response.Message
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Terjadi kesalahan saat mengirim data.'
                    });
                }
            });
        }

        function UploadResto() {
            var formData = new FormData($('#UploadResto')[0]);

            $.ajax({
                url: '@Url.Action("UploadPotensiResto", "UploadData")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $("#loader").show();
                },
                complete: function () {
                    $("#loader").hide();
                },
                success: function (response) {
                    if (response.Status === 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Berhasil',
                            text: response.Message
                        });

                        $('#UploadResto')[0].reset();
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Gagal',
                            text: response.Message
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Terjadi kesalahan saat mengirim data.'
                    });
                }
            });
        }

        function UploadHiburan() {
            var formData = new FormData($('#UploadHiburan')[0]);

            $.ajax({
                url: '@Url.Action("UploadPotensiHiburan", "UploadData")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $("#loader").show();
                },
                complete: function () {
                    $("#loader").hide();
                },
                success: function (response) {
                    if (response.Status === 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Berhasil',
                            text: response.Message
                        });

                        $('#UploadHiburan')[0].reset();
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Gagal',
                            text: response.Message
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Terjadi kesalahan saat mengirim data.'
                    });
                }
            });
        }

        function UploadParkir() {
            var formData = new FormData($('#UploadParkir')[0]);

            $.ajax({
                url: '@Url.Action("UploadPotensiParkir", "UploadData")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $("#loader").show();
                },
                complete: function () {
                    $("#loader").hide();
                },
                success: function (response) {
                    if (response.Status === 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Berhasil',
                            text: response.Message
                        });

                        $('#UploadParkir')[0].reset();
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Gagal',
                            text: response.Message
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Terjadi kesalahan saat mengirim data.'
                    });
                }
            });
        }

        function UploadPemeriksaanExcel() {
            var formData = new FormData($('#UploadPemeriksaanExcel')[0]);

            $.ajax({
                url: '@Url.Action("UploadPemeriksaanExcel", "UploadData")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $("#loader").show();
                },
                complete: function () {
                    $("#loader").hide();
                },
                success: function (response) {
                    if (response.Status === 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Berhasil',
                            text: response.Message
                        });

                        $('#UploadPemeriksaanExcel')[0].reset();
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Gagal',
                            text: response.Message
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Terjadi kesalahan saat mengirim data.'
                    });
                }
            });
        }

        function UploadPengedokanResto() {
            var formData = new FormData($('#UploadPengedokanResto')[0]);

            $.ajax({
                url: '@Url.Action("UploadPengedokanResto", "UploadData")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $("#loader").show();
                },
                complete: function () {
                    $("#loader").hide();
                },
                success: function (response) {
                    if (response.Status === 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Berhasil',
                            text: response.Message
                        });

                        $('#UploadPengedokanResto')[0].reset();
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Gagal',
                            text: response.Message
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Terjadi kesalahan saat mengirim data.'
                    });
                }
            });
        }

        function UploadPengedokanParkir() {
            var formData = new FormData($('#UploadPengedokanParkir')[0]);

            $.ajax({
                url: '@Url.Action("UploadPengedokanParkir", "UploadData")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $("#loader").show();
                },
                complete: function () {
                    $("#loader").hide();
                },
                success: function (response) {
                    if (response.Status === 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Berhasil',
                            text: response.Message
                        });

                        $('#UploadPengedokanParkir')[0].reset();
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Gagal',
                            text: response.Message
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Terjadi kesalahan saat mengirim data.'
                    });
                }
            });
        }
    </script>
}
