<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg">

<head>

    <meta charset="utf-8" />
    <title>@ViewData["Title"] | MONPD </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />

    <!-- Devextreme -->
    <script src="~/js/vendor.js"></script>img
    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/latest/js/localization/dx.messages.id.js"></script>
    <script>
        DevExpress.localization.locale("id"); // Ubah "id" sesuai dengan bahasa yang diinginkan
    </script>

    <!-- App favicon -->
    @* <link rel="shortcut icon" href="assets/images/favicon.ico"> *@
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- jsvectormap css -->
    <link href="~/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <!-- Swiper slider css -->
    <link href="~/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="~/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/assets/css/custom.min.css" rel="stylesheet" type="text/css" />

    @*VELZON CSS*@
    <link href="~/assets/js/jquery-ui.css" rel="stylesheet" />

    @*PLUGIN CSS*@
    <link href="~/assets/DataTables/datatables.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/spinner.css" id="app-style" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/flatpickr/themes/material_blue.css" rel="stylesheet" />
    <link href="~/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/libs/leaflet/leaflet.css" rel="stylesheet" />
    <link href="~/assets/libs/multi.js/multi.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/css/lightbox.css" rel="stylesheet" />


    @* <script src="~/assets/js/jquery.js"></script>  *@


    <style>
        .dx-datagrid-headers .dx-header-row > td {
            font-weight: bold !important;
            color: white !important;
            text-transform: uppercase !important;
            background-color: #36BA98 !important;
            /* border: 1px solid black !important; */
        }

        .dx-datagrid .dx-header-row > td {
            vertical-align: middle !important;
            text-align: center !important;
            border-collapse: collapse !important;
        }

        .dx-datagrid-headers .dx-header-row > th:empty {
            border-bottom: none !important;
        }

        .btn-icon-lg .dx-icon {
            font-size: 20px; /* default biasanya 14-16px */
            width: 20px;
            height: 20px;
        }
        /* 
        .dx-datagrid .dx-data-row > td {
            border: 1px solid black !important; 
        }

        .dx-datagrid-filter-row .dx-editor-cell {
            border: 1px solid black !important; 
        } */



       



        .menu-title {
            color: white !important;
            font-weight: normal !important;
            padding: 8px 12px !important;
            display: block !important;
        }

        .nav-link.menu-link {
            color: #ffffff !important;
            font-weight: normal !important;
            text-decoration: none !important;
            transition: background-color 0.2s, color 0.2s !important;
            padding: 0.5rem 0.75rem !important;
        }

            .nav-link.menu-link:hover {
                background-color: #AFD4D2 !important;
                color: #ffffff !important;
            }

            .nav-link.menu-link.active {
                background-color: #5EA8A4 !important;
                color: #1E2640 !important;
            }

        /* .menu-dropdown {
            padding-left: 0 !important;
            margin-left: 0 !important;
            width: 100% !important;
        } */
        [data-layout=vertical][data-sidebar-size=sm] .navbar-menu .navbar-nav .nav-item {
            color: #ffffff !important;
            font-weight: normal !important;
            text-decoration: none !important;
            transition: background-color 0.2s, color 0.2s !important;
            border-radius: 4px !important;
            display: block !important;
        }
            .menu-dropdown ul.nav-sm {
                padding-left: 0 !important;
                margin-left: 0 !important;
                list-style: none !important;
            }

                .menu-dropdown ul.nav-sm .nav-item {
                    margin: 0 !important;
                    padding: 0rem 0.75rem 0rem 1.75rem !important;
                }

                .menu-dropdown ul.nav-sm .nav-link {
                    color: #ffffff !important;
                    font-weight: normal !important;
                    text-decoration: none !important;
                    transition: background-color 0.2s, color 0.2s !important;
                    border-radius: 4px !important;
                    display: block !important;
                }

                    .menu-dropdown ul.nav-sm .nav-link:hover {
                        background-color: #AFD4D2 !important;
                        color: #ffffff !important;
                    }

                    .menu-dropdown ul.nav-sm .nav-link.active {
                        background-color: #5EA8A4 !important;
                    color: #1E2640 !important;
                    }

        [data-layout=vertical][data-sidebar-size=sm] .menu-dropdown.collapse {
            background-color: #5EA8A4 !important;
            padding: 0 !important;
            margin: 0 !important;
            border-radius: 4px;
            z-index: 2050; 
        }

            [data-layout=vertical][data-sidebar-size=sm] .menu-dropdown.collapse ul.nav-sm .nav-link {
                color: #ffffff !important;
            }

                [data-layout=vertical][data-sidebar-size=sm] .menu-dropdown.collapse ul.nav-sm .nav-link.active {
                    background-color: #5EA8A4 !important;
                    color: #1E2640 !important;
                }

                [data-layout=vertical][data-sidebar-size=sm] .menu-dropdown.collapse ul.nav-sm .nav-link:hover {
                    background-color: #AFD4D2 !important;
                    color: #ffffff !important;
                }



    </style>


    <style type="text/css">
        .card-preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #ffffff;
        }

        #spiner {
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%,-50%);
        }

        @@keyframes spin {
            to {
                transform: rotate(360deg)
            }
        }

        .required-star:after {
            content: " *";
            color: red;
        }

        #loading1 {
            background-color: black;
            opacity: 0.5;
            z-index: 9999;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: fixed;
        }

        .spinner, .spinner::before, .spinner::after {
            content: '';
            display: block;
            border: 4px solid transparent;
            border-radius: 50%;
            animation: spin infinite linear 2s;
            position: absolute;
        }

        .spinner {
            width: 100px;
            height: 100px;
            border-top-color: orange;
            top: calc(50% - 50px);
            left: calc(50% - 50px);
        }

        .teks h2 {
            font-family: Calibri;
            color: #a9a4ff;
            position: fixed;
            margin-top: 15px;
            margin-left: -20px;
            top: calc(50% - 50px);
            left: calc(50% - 50px);
            text-align: center;
        }

        .spinner::before {
            border-top-color: magenta;
            animation-duration: 4s;
            top: 2px;
            bottom: 2px;
            left: 2px;
            right: 2px;
        }

        .spinner::after {
            border-top-color: cyan;
            top: 8px;
            bottom: 8px;
            left: 8px;
            right: 8px;
        }

        .blink {
            animation: blinker 3s linear infinite;
        }

        @@keyframes blinker {
            0% {
                opacity: 0;
            }

            50% {
                opacity: .5;
            }

            100% {
                opacity: 1;
            }
        }
    </style>
    <style>
        .bg-dashboard-satu {
            background: linear-gradient(135deg, #00712D, #2575fc);
        }
        .bg-dashboard-dua{
            background: linear-gradient(135deg, #6A0DAD, #C63C51);
        }
        .bg-dashboard-tiga{
            background: linear-gradient(135deg, #525FE1, #836096);
        }
        .bg-dashboard-empat{
            background: linear-gradient(135deg, #025464, #7149C6);
        }

        .bg-dashboard-total {
            background: linear-gradient(135deg, #F31559, #0802A3);
        }
        .bg-header-color{
            background-color: rgba(54, 186, 152, 0.5);
        }

        .border-color-custom {
            border: 2px solid rgba(54, 186, 152, 0.5);
        }

        .text-responsive {
            display: block;
            max-width: 100%;
            overflow-wrap: break-word;
            word-wrap: break-word;
            font-size: 0.9rem;
            line-height: 1.1;
        }

        .btn-custom {
            background-color: rgba(54, 186, 152, 0.5);
            color: black;
        }

        .value-link {
            color: #0d6efd; /* Bootstrap primary blue */
            transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
            cursor: pointer;
            text-decoration: none;
        }

            .value-link:hover {
                color: #084298; /* darker shade on hover */
                text-decoration: underline;
            }

        .value-link-primary {
            color: #0d6efd;
        }

        .value-link-primary:hover {
            color: #084298;
            text-decoration: underline;
        }

        /* Hijau (success) */
        .value-link-success {
            color: #198754;
        }

            .value-link-success:hover {
                color: #146c43;
                text-decoration: underline;
            }

        /* Merah (danger) */
        .value-link-danger {
            color: #dc3545;
        }

            .value-link-danger:hover {
                color: #b02a37;
                text-decoration: underline;
            }

        /* Oranye (warning) */
        .value-link-warning {
            color: #ffc107;
        }

            .value-link-warning:hover {
                color: #cc9a06;
                text-decoration: underline;
            }

        /* Teal (info) */
        .value-link-info {
            color: #0000;
        }

            .value-link-info:hover {
                color: #0000;
                text-decoration: underline;
            }

    </style>
    <style> /* style detail potensi */
        .text-wrap {
            white-space: normal; /* Izinkan teks meluncur ke baris baru */
        }

        .text-break {
            word-break: break-word; /* Pecah kata jika terlalu panjang */
            overflow-wrap: break-word;
        }

        .info-row {
            display: flex;
            justify-content: space-between;
            align-items: start;
            margin-bottom: 0.5rem;
            gap: 2rem;
        }

        .label {
            width: 160px;
            flex-shrink: 0;
            font-size: 14px;
            color: #6c757d;
            margin-bottom: 0;
        }

        .value {
            flex-grow: 2;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 0;
            white-space: normal;
            word-break: break-word;
        }

    </style>
   @*  <style>
        #modalDetailKategori {
            z-index: 1070 !important; /* di atas modal pertama */
        }

        .modal-backdrop {
            z-index: 1060 !important; /* backdrop modal pertama */
        }

    </style> *@

</head>

<body>
     <div id="loader" class="loader" style="display: block">
    <div class="logo_sby">
    <img src="~/assets/images/logo-surabaya.png" height="100" />
    </div>
    </div>

    <!-- Begin page -->
    <div id="layout-wrapper">
        @await Html.PartialAsync("_Header")
        @await Html.PartialAsync("_Sidebar")
        @await Html.PartialAsync("_Modal")

        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    @{
                        if (!string.IsNullOrEmpty(TempData["cookie_error"]?.ToString() ?? ""))
                        {
                            <div class="alert alert-danger alert-dismissible alert-label-icon rounded-label fade show" role="alert">
                                <i class="ri-error-warning-line label-icon"></i>@(TempData["cookie_error"]?.ToString())
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                    }
                    @RenderBody()

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->


            <div id="loading1" style="display:none">
                <div class="spinner">
                </div>
                <div class="teks">
                    <h2></h2>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © BAPENDA KOTA SURABAYA.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                MONPD REBORN Version. Beta
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->
    <!-- JAVASCRIPT -->

    @*VELZON JS*@
    @* <script src="~/assets/js/jquery.js"></script> *@
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/lib/jquery-cookie/jquery.cookie.min.js"></script>

    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script type="text/javascript" src="~/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script type="text/javascript" src="~/assets/libs/flatpickr/flatpickr.min.js"></script>

    @*PLUGIN JS*@
    <script src="~/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="~/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/js/spinner.js"></script>
    <script src="~/assets/datatables/datatables.js"></script>
    <script src="~/assets/datatables/datatables.min.js"></script>
    <script src="~/js/datatable.pipeline.js"></script>
    <script src="~/assets/libs/multi.js/multi.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/custom/Pemkot.js"></script>
    <script src="~/assets/libs/glightbox/js/glightbox.min.js"></script>
    <script src="~/js/lightbox.js"></script>

    <!-- apexcharts -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="~/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="~/assets/libs/jsvectormap/maps/world-merc.js"></script>

    <!--Swiper slider js-->
    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <script src="~/exportjs/jspdf.umd.min.js"></script>

    <script src="~/exportjs/polyfill.min.js"></script>
    <script src="~/exportjs/exceljs.min.js"></script>
    <script src="~/exportjs/filesaver.min.js"></script>
    <script>
        window.jsPDF = window.jspdf.jsPDF;
    </script>
    <script>
        function exportGrid(e) {
            if (e.format === "xlsx") {
                exportToExcel(e);
            } else if (e.format === "pdf") {
                exportToPDF(e);
            }
        }

        // Export ke Excel
        function exportToExcel(e) {
            var workbook = new ExcelJS.Workbook();
            var worksheet = workbook.addWorksheet('@ViewData["Title"]');

            DevExpress.excelExporter.exportDataGrid({
                component: e.component,
                worksheet: worksheet,
                autoFilterEnabled: true
            }).then(function () {
                workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: 'application/octet-stream' }), '@ViewData["Title"]' + '.xlsx');
                });
            });

            e.cancel = true;
        }

        // Export ke PDF
        function exportToPDF(e) {
            var doc = new jsPDF({
                orientation: 'landscape',  // Mode landscape
                unit: 'mm',                // Gunakan milimeter sebagai satuan
                format: [330, 210]         // Ukuran kertas F4 (330mm × 210mm)
            });

            DevExpress.pdfExporter.exportDataGrid({
                jsPDFDocument: doc,
                component: e.component,
                indent: 5,
            }).then(function () {
                doc.save('@ViewData["Title"]' + ".pdf");
            });

            e.cancel = true;
        }

    </script>

    <script>
        $(document).ready(function () {
            const $searchInput = $('#search-options');
            const $searchClose = $('#search-close-options');
            const $searchButton = $('#search-button');

            function submitSearch() {
                const keyword = $searchInput.val().trim();
                if (keyword !== "") {
                    const url = `/PencarianOP/Index?keyword=${encodeURIComponent(keyword)}`;
                    window.location.href = url;
                }
            }

            // Enter key
            $searchInput.on('keypress', function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    submitSearch();
                }
            });

            // Klik tombol cari
            $searchButton.on('click', function () {
                submitSearch();
            });

            // Tombol clear input
            $searchInput.on('input', function () {
                $searchClose.toggleClass('d-none', !$searchInput.val().trim());
            });

            $searchClose.on('click', function () {
                $searchInput.val('').focus();
                $searchClose.addClass('d-none');
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>

</html>