<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg">

<head>

    <meta charset="utf-8" />
    <title>@ViewData["Title"] | MONPD </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />

    <!-- Devextreme -->
    <script src="~/js/vendor.js"></script>
    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/latest/js/localization/dx.messages.id.js"></script>
    <script>
        DevExpress.localization.locale("id"); // Ubah "id" sesuai dengan bahasa yang diinginkan
    </script>

    <!-- App favicon -->
    @* <link rel="shortcut icon" href="assets/images/favicon.ico"> *@
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- jsvectormap css -->
    <link href="~/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <!-- Swiper slider css -->
    <link href="~/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="~/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/assets/css/custom.min.css" rel="stylesheet" type="text/css" />

    @*VELZON CSS*@
    <link href="~/assets/js/jquery-ui.css" rel="stylesheet" />

    @*PLUGIN CSS*@
    <link href="~/assets/DataTables/datatables.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/spinner.css" id="app-style" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/flatpickr/themes/material_blue.css" rel="stylesheet" />
    <link href="~/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/libs/leaflet/leaflet.css" rel="stylesheet" />
    <link href="~/assets/libs/multi.js/multi.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/css/lightbox.css" rel="stylesheet" />


    @* <script src="~/assets/js/jquery.js"></script>  *@


    <style>
        .dx-datagrid-headers .dx-header-row > td {
            font-weight: bold;
            /* color: black; */
            text-transform: uppercase; /* <-- ini untuk auto uppercase */
            /* background-color: #FFF7F3; */
        }
    </style>


    <style type="text/css">
        .card-preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #ffffff;
        }

        #spiner {
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%,-50%);
        }

        @@keyframes spin {
            to {
                transform: rotate(360deg)
            }
        }

        .required-star:after {
            content: " *";
            color: red;
        }

        #loading1 {
            background-color: black;
            opacity: 0.5;
            z-index: 9999;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: fixed;
        }

        .spinner, .spinner::before, .spinner::after {
            content: '';
            display: block;
            border: 4px solid transparent;
            border-radius: 50%;
            animation: spin infinite linear 2s;
            position: absolute;
        }

        .spinner {
            width: 100px;
            height: 100px;
            border-top-color: orange;
            top: calc(50% - 50px);
            left: calc(50% - 50px);
        }

        .teks h2 {
            font-family: Calibri;
            color: #a9a4ff;
            position: fixed;
            margin-top: 15px;
            margin-left: -20px;
            top: calc(50% - 50px);
            left: calc(50% - 50px);
            text-align: center;
        }

        .spinner::before {
            border-top-color: magenta;
            animation-duration: 4s;
            top: 2px;
            bottom: 2px;
            left: 2px;
            right: 2px;
        }

        .spinner::after {
            border-top-color: cyan;
            top: 8px;
            bottom: 8px;
            left: 8px;
            right: 8px;
        }

        .blink {
            animation: blinker 3s linear infinite;
        }

        @@keyframes blinker {
            0% {
                opacity: 0;
            }

            50% {
                opacity: .5;
            }

            100% {
                opacity: 1;
            }
        }
    </style>
</head>

<body>
     <div id="loader" class="loader" style="display: block">
    <div class="logo_sby">
    <img src="~/assets/images/logo-surabaya.png" height="100" />
    </div>
    </div>

    <!-- Begin page -->
    <div id="layout-wrapper">
        @await Html.PartialAsync("_Header")
        @await Html.PartialAsync("_Sidebar")
        @await Html.PartialAsync("_Modal")

        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    @{
                        if (!string.IsNullOrEmpty(TempData["cookie_error"]?.ToString() ?? ""))
                        {
                            <div class="alert alert-danger alert-dismissible alert-label-icon rounded-label fade show" role="alert">
                                <i class="ri-error-warning-line label-icon"></i>@(TempData["cookie_error"]?.ToString())
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                    }
                    @RenderBody()

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->


            <div id="loading1" style="display:none">
                <div class="spinner">
                </div>
                <div class="teks">
                    <h2></h2>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © BAPENDA KOTA SURABAYA.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                MONPD REBORN Version. Beta
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->
    <!-- JAVASCRIPT -->

    @*VELZON JS*@
    @* <script src="~/assets/js/jquery.js"></script> *@
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/lib/jquery-cookie/jquery.cookie.min.js"></script>

    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script type="text/javascript" src="~/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script type="text/javascript" src="~/assets/libs/flatpickr/flatpickr.min.js"></script>

    @*PLUGIN JS*@
    <script src="~/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="~/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/js/spinner.js"></script>
    <script src="~/assets/datatables/datatables.js"></script>
    <script src="~/assets/datatables/datatables.min.js"></script>
    <script src="~/js/datatable.pipeline.js"></script>
    <script src="~/assets/libs/multi.js/multi.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/custom/Pemkot.js"></script>
    <script src="~/assets/libs/glightbox/js/glightbox.min.js"></script>
    <script src="~/js/lightbox.js"></script>

    <!-- apexcharts -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="~/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="~/assets/libs/jsvectormap/maps/world-merc.js"></script>

    <!--Swiper slider js-->
    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <script src="~/exportjs/jspdf.umd.min.js"></script>

    <script src="~/exportjs/polyfill.min.js"></script>
    <script src="~/exportjs/exceljs.min.js"></script>
    <script src="~/exportjs/filesaver.min.js"></script>
    <script>
        window.jsPDF = window.jspdf.jsPDF;
    </script>
    <script>
        function exportGrid(e) {
            if (e.format === "xlsx") {
                exportToExcel(e);
            } else if (e.format === "pdf") {
                exportToPDF(e);
            }
        }

        // Export ke Excel
        function exportToExcel(e) {
            var workbook = new ExcelJS.Workbook();
            var worksheet = workbook.addWorksheet('@ViewData["Title"]');

            DevExpress.excelExporter.exportDataGrid({
                component: e.component,
                worksheet: worksheet,
                autoFilterEnabled: true
            }).then(function () {
                workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: 'application/octet-stream' }), '@ViewData["Title"]' + '.xlsx');
                });
            });

            e.cancel = true;
        }

        // Export ke PDF
        function exportToPDF(e) {
            var doc = new jsPDF({
                orientation: 'landscape',  // Mode landscape
                unit: 'mm',                // Gunakan milimeter sebagai satuan
                format: [330, 210]         // Ukuran kertas F4 (330mm × 210mm)
            });

            DevExpress.pdfExporter.exportDataGrid({
                jsPDFDocument: doc,
                component: e.component,
                indent: 5,
            }).then(function () {
                doc.save('@ViewData["Title"]' + ".pdf");
            });

            e.cancel = true;
        }

    </script>

    @RenderSection("Scripts", required: false)
</body>

</html>