@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString()?.ToUpper();

    var aktivitasControllers = new[] { "PENDATAANOBJEKPAJAK", "PEMERIKSAANPAJAK", "PEMASANGANALAT" };
    var dataOpControllers = new[] { "PENDATAANOBJEKPAJAK", "PEMERIKSAANPAJAK", "PEMASANGANALAT" };
    var isAktivitasActive = aktivitasControllers.Contains(currentController);

    var aktivitasActiveClass = isAktivitasActive ? "active" : "";
    var aktivitasExpanded = isAktivitasActive ? "true" : "false";
    var aktivitasShowClass = isAktivitasActive ? "show" : "";

    var dataOPControllers = new[] {
        "PROFILEOP", "PROFILEPEMBAYARANOP", "PROFILEPOTENSIOP",
        "PROFILETARGETOP", "PROFILESPASIALOP", "PELAPORANOP",
        "PENETAPANOP", "PENCARIANOP"
    };
    var isDataOPActive = dataOPControllers.Contains(currentController);

    var dataOPActiveClass = isDataOPActive ? "active" : "";
    var dataOPExpanded = isDataOPActive ? "true" : "false";
    var dataOPShowClass = isDataOPActive ? "show" : "";
}

<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="/" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/assets/images/logo-surabaya.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-surabaya.png" alt="" height="50">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="/" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/assets/images/logo-surabaya.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-surabaya.png" alt="" height="50">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
            </ul>
        </div>
        <!-- Sidebar -->
        <div class="container-fluid">
            <div id="two-column-menu"></div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-objekPajak">Objek Pajak</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link collapse @aktivitasActiveClass"
                       href="#sidebarAktivitas"
                       data-bs-toggle="collapse"
                       role="button"
                       aria-expanded="@aktivitasExpanded"
                       aria-controls="sidebarAktivitas">
                        <i class="bx bx-run"></i>
                        <span data-key="t-aktivitas">Aktivitas</span>
                    </a>
                    <div id="sidebarAktivitas" class="menu-dropdown collapse @aktivitasShowClass">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "PENDATAANOBJEKPAJAK" ? "active" : "")"
                                   href="@Url.Action("Index", "PendataanObjekPajak")"
                                   data-key="t-pendataanObjek">
                                    Pendataan Objek
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "PEMERIKSAANPAJAK" ? "active" : "")"
                                   href="@Url.Action("Index", "PemeriksaanPajak")"
                                   data-key="t-pemeriksaanPajak">
                                    Pemeriksaan Pajak
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "PEMASANGANALAT" ? "active" : "")"
                                   href="@Url.Action("Index", "PemasanganAlat")"
                                   data-key="t-pemasanganAlat">
                                    Pemasangan Alat
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link collapse @dataOPActiveClass"
                       href="#sidebarData"
                       data-bs-toggle="collapse"
                       role="button"
                       aria-expanded="@dataOPExpanded"
                       aria-controls="sidebarData">
                        <i class="bx bx-data"></i>
                        <span data-key="t-data">Data</span>
                    </a>
                    <div id="sidebarData" class="menu-dropdown collapse @dataOPShowClass">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "PROFILEOP" ? "active" : "")"
                                   href="@Url.Action("Index", "ProfileOP")"
                                   data-key="t-profilOp">
                                    Profil OP
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "PROFILEPEMBAYARANOP" ? "active" : "")"
                                   href="@Url.Action("Index", "ProfilePembayaranOP")"
                                   data-key="t-profilPembayaran">
                                    Profil Pembayaran
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "PROFILEPOTENSIOP" ? "active" : "")"
                                   href="@Url.Action("Index", "ProfilePotensiOP")"
                                   data-key="t-profilPotensi">
                                    Profil Potensi
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "PROFILETARGETOP" ? "active" : "")"
                                   href="@Url.Action("Index", "ProfileTargetOP")"
                                   data-key="t-profilTarget">
                                    Profil Target
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "PROFILESPASIALOP" ? "active" : "")"
                                   href="@Url.Action("Index", "ProfileSpasialOP")"
                                   data-key="t-profilSpasial">
                                    Profil Spasial
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "PELAPORANOP" ? "active" : "")"
                                   href="@Url.Action("Index", "PelaporanOP")"
                                   data-key="t-pelaporan">
                                    Pelaporan
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "PENETAPANOP" ? "active" : "")"
                                   href="@Url.Action("Index", "PenetapanOP")"
                                   data-key="t-penetapan">
                                    Penetapan
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "PENCARIANOP" ? "active" : "")"
                                   href="@Url.Action("Index", "PencarianOP")"
                                   data-key="t-pencarian">
                                    Pencarian
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link collapse" href="#sidebarMonitoring" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="#sidebarMonitoring">
                        <i class="bx bx-globe"></i><span data-key="t-monitoring">Monitoring (Global)</span>
                    </a>
                    <div id="sidebarMonitoring" class="menu-dropdown collapse">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","MonitoringHarian")" data-key="t-harian">
                                    Kontrol harian
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","MonitoringBulanan")" data-key="t-bulanan">
                                    Kontrol Bulanan
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","MonitoringTahunan")" data-key="t-tahunan">
                                    Kontrol Tahunan
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link collapse" href="#sidebarMonitoringWilayah" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="#sidebarMonitoringWilayah">
                        <i class="bx bx-map"></i><span data-key="t-monitoringwilayah">Monitoring Per Wilayah</span>
                    </a>
                    <div id="sidebarMonitoringWilayah" class="menu-dropdown collapse">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","KontrolWilayah")" data-key="t-KontrolWilayah">
                                    Kontrol Wilayah
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","KontrolHarianWilayah")" data-key="t-kontrolHarianWilayah">
                                    Kontrol Harian Wilayah
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","KontrolBulananWilayah")" data-key="t-kontrolBulananWilayah">
                                    Kontrol Bulanan Wilayah
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","KontrolTahunanWilayah")" data-key="t-kontrolTahunanWilayah">
                                    Kontrol Tahunan Wilayah
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","KontrolPotensiBulananWilayah")" data-key="t-kontrolPotensiWilayah">
                                    Kontrol Potensi Bulanan Wilayah
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link collapse" href="#sidebarMonitoringJenis" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="#sidebarMonitoringJenis">
                        <i class="bx bx-bar-chart-alt"></i><span data-key="t-monitoringjenis">Monitoring Per Jenis Pajak</span>
                    </a>
                    <div id="sidebarMonitoringJenis" class="menu-dropdown collapse">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","PendataanObjekPajak")" data-key="t-kontrolHarianWilayahJenis">
                                    Kontrol Harian Wilayah
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","PendataanObjekPajak")" data-key="t-kontrolBulananWilayahJenis">
                                    Kontrol Bulanan Wilayah
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","PendataanObjekPajak")" data-key="t-kontrolTahunanWilayahJenis">
                                    Kontrol Tahunan Wilayah
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","PendataanObjekPajak")" data-key="t-kontrolPotensiWilayahJenis">
                                    Kontrol Potensi Bulanan Wilayah
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="container-fluid">
            <div id="two-column-menu"></div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-wajibPajak">Wajib Pajak</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link collapse" href="#sidebarAktivitasWP" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="#sidebarAktivitasWP">
                        <i class="bx bx-task"></i><span data-key="t-aktivitasWP">Aktivitas</span>
                    </a>
                    <div id="sidebarAktivitasWP" class="menu-dropdown collapse">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Penghimbauan")" data-key="t-penghimbauan">
                                    Penghimbauan
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Penegiran")" data-key="t-peneguran">
                                    Peneguran
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Penagihan")" data-key="t-penagihan">
                                    Penagihan
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link collapse" href="#sidebarDataWP" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="#sidebarDataWP">
                        <i class="bx bx-folder"></i><span data-key="t-dataWP">Data</span>
                    </a>
                    <div id="sidebarDataWP" class="menu-dropdown collapse">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","ProfileWP")" data-key="t-profilWP">
                                    Profile WP
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","ProfilePembayaranWP")" data-key="t-profilPembayaranWP">
                                    Profile Pembayaran
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","ProfilePiutangWP")" data-key="t-profilPiutang">
                                    Profile Piutang
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link collapse" href="#sidebarMonitoringWP" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="#sidebarMonitoringWP">
                        <i class="bx bx-line-chart"></i><span data-key="t-monitoringWP">Monitoring</span>
                    </a>
                    <div id="sidebarMonitoringWP" class="menu-dropdown collapse">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","KontrolUpayaBulanan")" data-key="t-upayaBulanan">
                                    Kontrol Upaya Bulanan
                                </a>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="container-fluid">
            <div id="two-column-menu"></div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-laporanStrategis">Laporan Strategis</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="@Url.Action("Index","PendataanObjekPajak")" role="button">
                        <i class="bx bx-target-lock"></i><span data-key="t-evaluasiTargetRealisasi">Evaluasi Target vs Realisasi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="@Url.Action("Index","PendataanObjekPajak")" role="button">
                        <i class="bx bx-trending-up"></i><span data-key="t-analisisTren">Analisis Tren Pendapatan</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="@Url.Action("Index","PendataanObjekPajak")" role="button">
                        <i class="bx bx-building"></i><span data-key="t-perbandinganWilayah">Perbandingan Wilayah</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Left Sidebar End -->