@using Microsoft.AspNetCore.Http
@using MonPDLib.General
@{
    ISession sesi = Context.Session;
    var nama = sesi.GetString(Utility.SESSION_NAMA);

    nama = nama.Replace("\"", "");

    var currentController = ViewContext.RouteData.Values["controller"]?.ToString()?.ToUpper();

    var aktivitasControllers = new[] { "PENDATAANOBJEKPAJAK", "PEMERIKSAANPAJAK", "PEMASANGANALAT" };
    var dataOpControllers = new[] { "PENDATAANOBJEKPAJAK", "PEMERIKSAANPAJAK", "PEMASANGANALAT" };
    var isAktivitasActive = aktivitasControllers.Contains(currentController);

    var aktivitasActiveClass = isAktivitasActive ? "active" : "";
    var aktivitasExpanded = isAktivitasActive ? "true" : "false";
    var aktivitasShowClass = isAktivitasActive ? "show" : "";

    //controller data OP
    var dataOPControllers = new[] {
        "PROFILEOP", "", "PROFILEPOTENSIOP",
        "PROFILETARGETOP", "PROFILESPASIALOP", "PELAPORANOP",
        "PENETAPANOP", "PENCARIANOP"
    };
    var isDataOPActive = dataOPControllers.Contains(currentController);

    var dataOPActiveClass = isDataOPActive ? "active" : "";
    var dataOPExpanded = isDataOPActive ? "true" : "false";
    var dataOPShowClass = isDataOPActive ? "show" : "";

    //controller monitoring capaian
    var MonitoringCapaianController = new[] {
        "MONITORINGHARIAN", "MONITORINGBULANAN", "MONITORINGTAHUNAN"
    };
    var isMonitoringCapaianActive = MonitoringCapaianController.Contains(currentController);

    var MonitoringCapaianActiveClass = isMonitoringCapaianActive ? "active" : "";
    var MonitoringCapaianExpanded = isMonitoringCapaianActive ? "true" : "false";
    var MonitoringCapaianShowClass = isMonitoringCapaianActive ? "show" : "";

    //controller monitoring Wilayah
    var MonitoringWilayahController = new[] {
        "KONTROLWILAYAH"
    };
    var isMonitoringWilayahActive = MonitoringWilayahController.Contains(currentController);

    var MonitoringWilayahActiveClass = isMonitoringWilayahActive ? "active" : "";
    var MonitoringWilayahExpanded = isMonitoringWilayahActive ? "true" : "false";
    var MonitoringWilayahShowClass = isMonitoringWilayahActive ? "show" : "";

    //controller monitoring Wilayah
    var AktivitasWPController = new[] {
        "PENGHIMBAUAN", "PENEGURAN", "PENAGIHAN"
    };
    var isAktivitasWPActive = AktivitasWPController.Contains(currentController);

    var AktivitasWPActiveClass = isAktivitasWPActive ? "active" : "";
    var AktivitasWPExpanded = isAktivitasWPActive ? "true" : "false";
    var AktivitasWPShowClass = isAktivitasWPActive ? "show" : "";

    //controller evaluasi target
    var DataWPController = new[] {
        "PROFILEWP", "PROFILEPEMBAYARANWP", "PROFILEPIUTANGWP"
    };
    var isDataWPActive = DataWPController.Contains(currentController);

    var DataWPActiveClass = isDataWPActive ? "active" : "";
    var DataWPExpanded = isDataWPActive ? "true" : "false";
    var DataWPShowClass = isDataWPActive ? "show" : "";

    //controller evaluasi target
    var EvaluasiTargetController = new[] {
        "KONTROLPEMBAYARAN"
    };
    var isEvaluasiTargetActive = EvaluasiTargetController.Contains(currentController);

    var EvaluasiTargetActiveClass = isEvaluasiTargetActive ? "active" : "";
    var EvaluasiTargetExpanded = isEvaluasiTargetActive ? "true" : "false";
    var EvaluasiTargetShowClass = isEvaluasiTargetActive ? "show" : "";

    //controller monitoring piutang
    var MonitoringPiutangController = new[]
    {
        "KONTROLPIUTANG"
    };

    var isMonitoringPiutangActive = MonitoringPiutangController.Contains(currentController);

    var MonitoringPiutangActiveClass = isMonitoringPiutangActive ? "active" : "";
    var MonitoringPiutangExpanded = isEvaluasiTargetActive ? "true" : "false";
    var MonitoringPiutangShowClass = isEvaluasiTargetActive ? "show" : "";

    //controller ANALISIS TREN
    var AnalisisTrenController = new[] {
        "KONTROLPREDIKSI"
    };
    var isAnalisisTrenActive = AnalisisTrenController.Contains(currentController);

    var AnalisisTrenActiveClass = isAnalisisTrenActive ? "active" : "";
    var AnalisisTrenExpanded = isAnalisisTrenActive ? "true" : "false";
    var AnalisisTrenShowClass = isAnalisisTrenActive ? "show" : "";

    //controller setting
    var SettingController = new[] {
        "CEKWS", "CEKDATA"
    };
    var isSettingActive = SettingController.Contains(currentController);

    var SettingActiveClass = isSettingActive ? "active" : "";
    var SettingExpanded = isSettingActive ? "true" : "false";
    var SettingShowClass = isSettingActive ? "show" : "";

}

<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu" style="background-color: #5EA8A4 !important; color:white">
    <!-- LOGO -->
    <div class="navbar-brand-box" style="background-color: #5EA8A4 !important; color:white">
        <!-- Dark Logo-->
        <a href="/" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/assets/images/logo-surabaya.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-surabaya.png" alt="" height="50"> MONPD
            </span>
        </a>
        <!-- Light Logo-->
        <a href="/" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/assets/images/logo-surabaya.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-surabaya.png" alt="" height="50"> MONPD
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        @if (nama == "BAPENDA")
        {
            <div class="container-fluid">

                <div id="two-column-menu">
                </div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Dashboard" ? "active" : "")"
                           href="@Url.Action("Index", "Dashboard")" role="button">
                            <i class=" bx bx-home  me-1 align-middle"></i><span data-key="t-pendataanObjek">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "SeriesBulananPajak" ? "active" : "")"
                           href="@Url.Action("Index", "SeriesBulananPajak")" role="button">
                            <i class=" bx bx-archive  me-1 align-middle"></i><span data-key="t-seriesBulananPajak">Series Bulanan Pajak</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Sidebar -->
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <div class="container-fluid">
                        <div id="two-column-menu"></div>
                        <ul class="navbar-nav" id="navbar-nav">
                            <li class="menu-title"><span data-key="t-laporanStrategis">Laporan Strategis</span></li>
                            <li class="nav-item">
                                <a class="nav-link menu-link @(currentController == "KONTROLPEMBAYARAN" ? "active" : "")"
                                   href="@Url.Action("Index", "KontrolPembayaran")" role="button">
                                    <i class="bx bx-target-lock"></i><span data-key="t-harian">Monitoring Pembayaran</span>
                                </a>
                                @* <a class="nav-link menu-link collapse @EvaluasiTargetActiveClass" 
                        href="#sidebarEvaluasiTarget" 
                        data-bs-toggle="collapse" 
                        role="button" 
                        aria-expanded="@EvaluasiTargetExpanded"
                       aria-controls="#sidebarEvaluasiTarget" style="background-color: #5EA8A4">
                        <i class=""></i><span data-key="t-monitoring">Evaluasi Target VS Realisasi</span>
                    </a>
                    <div id="sidebarEvaluasiTarget" class="menu-dropdown collapse @EvaluasiTargetShowClass">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "KONTROLPEMBAYARAN" ? "active" : "")"
                                    href="@Url.Action("Index", "KontrolPembayaran")" data-key="t-harian">
                                    Kontrol Pembayaran
                                </a>
                            </li>
                        </ul>
                    </div> *@
                            </li>
                            <li class="nav-item @MonitoringPiutangShowClass">
                                <a class="nav-link menu-link @(currentController == "KONTROLPIUTANG" ? "active" : "")"
                                   href="@Url.Action("Index", "KontrolPiutang")" role="button">
                                    <i class="bx bx-receipt"></i><span data-key="t-KontrolPiutang">Monitoring Piutang</span>
                                </a>
                            </li>

                            <li class="nav-item @AnalisisTrenShowClass">
                                <a class="nav-link menu-link @(currentController == "KONTROLPREDIKSI" ? "active" : "")"
                                   href="@Url.Action("Index", "KontrolPrediksi")" role="button">
                                    <i class="bx bx-trending-up"></i><span data-key="t-analisisTren">Kalkulator Prediksi Pendapatan</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "SeriesPendapatanDaerah" ? "active" : "")"
                                   href="@Url.Action("Index", "SeriesPendapatanDaerah")" target="_blank" role="button">
                                    <i class="bx bx-bar-chart-alt-2  me-1 align-middle"></i><span data-key="t-seriesPendapatanDaerah">Detail Pendapatan Daerah</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "SeriesPendapatanDaerahScontro" ? "active" : "")"
                                href="@Url.Action("Index", "SeriesPendapatanDaerahScontro")" target="_blank" role="button">
                                    <i class="bx bx-bar-chart-alt-2  me-1 align-middle"></i><span data-key="t-seriesPendapatanDaerahScontro">Series Pendapatan Daerah</span>
                                </a>
                            </li>
                            @* <li class="nav-item">
                    <a class="nav-link menu-link" href="@Url.Action("Index","PendataanObjekPajak")" role="button">
                        <i class="bx bx-building"></i><span data-key="t-perbandinganWilayah">Perbandingan Wilayah</span>
                    </a>
                </li> *@
                        </ul>
                    </div>

                    <li class="menu-title"><span data-key="t-objekPajak">Objek Pajak</span></li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "PendataanObjekPajak" ? "active" : "")"
                           href="@Url.Action("Index", "PendataanObjekPajak")" role="button">
                            <i class="bx bx-folder-open me-1 align-middle"></i><span data-key="t-pendataanObjek">Pengedokan Pajak</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "PemeriksaanPajak" ? "active" : "")"
                           href="@Url.Action("Index", "PemeriksaanPajak")" role="button">
                            <i class="bx bx-search-alt-2 me-1 align-middle"></i><span data-key="t-pemeriksaanPajak">Pemeriksaan Pajak</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "PemasanganAlat" ? "active" : "")"
                           href="@Url.Action("Index", "PemasanganAlat")" role="button">
                            <i class="bx bx-camera-movie me-1 align-middle"></i><span data-key="t-pemasanganAlat">Alat Rekam Online</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "RealisasiControl" ? "active" : "")"
                           href="@Url.Action("Index", "RealisasiControl")" role="button" target="_blank">
                            <i class=" bx bx-book-reader   me-1 align-middle"></i><span data-key="t-realisasiControl">Realisasi Control</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link collapse @dataOPActiveClass"
                           href="#sidebarData"
                           data-bs-toggle="collapse"
                           role="button"
                           aria-expanded="@dataOPExpanded"
                           aria-controls="sidebarData" style="background-color: #5EA8A4">
                            <i class="bx bx-data"></i>
                            <span data-key="t-data">Data Objek Pajak</span>
                        </a>
                        <div id="sidebarData" class="menu-dropdown collapse @dataOPShowClass">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "PROFILEOP" ? "active" : "")"
                                       href="@Url.Action("Index", "ProfileOP")"
                                       data-key="t-profilOp">
                                        Profil OP
                                    </a>
                                </li>
                                @*  <li class="nav-item">
                                <a class="nav-link @(currentController == "PROFILEPEMBAYARANOP" ? "active" : "")"
                                   href="@Url.Action("Index", "ProfilePembayaranOP")"
                                   data-key="t-profilPembayaran">
                                    Profil Pembayaran
                                </a>
                            </li> *@
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "PROFILEPOTENSIOP" ? "active" : "")"
                                       href="@Url.Action("Index", "ProfilePotensiOP")"
                                       data-key="t-profilPotensi">
                                        Profil Potensi
                                    </a>
                                </li>
                                @* <li class="nav-item">
                                <a class="nav-link @(currentController == "PROFILETARGETOP" ? "active" : "")"
                                   href="@Url.Action("Index", "ProfileTargetOP")"
                                   data-key="t-profilTarget">
                                    Profil Target
                                </a>
                            </li> *@
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "PROFILESPASIALOP" ? "active" : "")"
                                       href="@Url.Action("Index", "ProfileSpasialOP")"
                                       data-key="t-profilSpasial">
                                        Profil Spasial
                                    </a>
                                </li>
                                @* <li class="nav-item">
                                <a class="nav-link @(currentController == "PELAPORANOP" ? "active" : "")"
                                   href="@Url.Action("Index", "PelaporanOP")"
                                   data-key="t-pelaporan">
                                    Pelaporan
                                </a>
                            </li> *@
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "PENETAPANOP" ? "active" : "")"
                                       href="@Url.Action("Index", "PenetapanOP")"
                                       data-key="t-penetapan">
                                        Penetapan
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "PENCARIANOP" ? "active" : "")"
                                       href="@Url.Action("Index", "PencarianOP")"
                                       data-key="t-pencarian">
                                        Pencarian
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link collapse @MonitoringCapaianActiveClass"
                           href="#sidebarMonitoring"
                           data-bs-toggle="collapse"
                           role="button"
                           aria-expanded="@MonitoringCapaianExpanded"
                           aria-controls="#sidebarMonitoring" style="background-color: #5EA8A4">
                            <i class="bx bx-globe"></i><span data-key="t-monitoring">Monitoring Capaian Pendapatan</span>
                        </a>
                        <div id="sidebarMonitoring" class="menu-dropdown collapse @MonitoringCapaianShowClass">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "MONITORINGHARIAN" ? "active" : "")"
                                       href="@Url.Action("Index","MonitoringHarian")" data-key="t-harian">
                                        Kontrol Harian
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "MONITORINGBULANAN" ? "active" : "")"
                                       href="@Url.Action("Index","MonitoringBulanan")" data-key="t-bulanan">
                                        Kontrol Bulanan
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "MONITORINGTAHUNAN" ? "active" : "")"
                                       href="@Url.Action("Index","MonitoringTahunan")" data-key="t-tahunan">
                                        Realisasi Hari Ini
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link collapse @MonitoringWilayahActiveClass"
                           href="#sidebarMonitoringWilayah"
                           data-bs-toggle="collapse"
                           role="button"
                           aria-expanded="@MonitoringWilayahExpanded"
                           aria-controls="#sidebarMonitoringWilayah" style="background-color: #5EA8A4">
                            <i class="bx bx-map"></i><span data-key="t-monitoringwilayah">Monitoring Per Wilayah</span>
                        </a>
                        <div id="sidebarMonitoringWilayah" class="menu-dropdown collapse @MonitoringWilayahShowClass">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "KONTROLWILAYAH" ? "active" : "")"
                                       href="@Url.Action("Index","KontrolWilayah")" data-key="t-KontrolWilayah">
                                        Monitoring Wilayah
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-laporanStrategis">Pengawasan Parkir</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "MonitoringCCTV" ? "active" : "")"
                           href="@Url.Action("Index", "monitoringCCTV")" role="button">
                            <i class="bx bx-cctv me-1 align-middle"></i><span data-key="t-monitoringCctv">Monitoring CCTV Parkir</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-laporanStrategis">Pengawasan Reklame</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "ReklameSummary" ? "active" : "")"
                           href="@Url.Action("Index", "ReklameSummary")" role="button">
                            <i class="bx bx-news  me-1 align-middle"></i><span data-key="t-reklamesummary">Reklame Summary</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Reklame" ? "active" : "")"
                           href="@Url.Action("Index", "Reklame")" role="button">
                            <i class=" bx bx-archive me-1 align-middle"></i><span data-key="t-reklame">Kontrol Reklame</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "ReklameLiar" ? "active" : "")"
                           href="@Url.Action("Index", "ReklameLiar")" role="button">
                            <i class="bx bx-calendar-exclamation me-1 align-middle"></i><span data-key="t-reklameLiar">Reklame Liar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "PendataanReklame" ? "active" : "")"
                           href="@Url.Action("Index", "PendataanReklame")" role="button">
                            <i class="bx bx-file-blank  me-1 align-middle"></i><span data-key="t-pendataanReklame">Pendataan Reklame</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "PencarianReklame" ? "active" : "")"
                           href="@Url.Action("Index", "PencarianReklame")" role="button">
                            <i class="bx bx-search-alt  me-1 align-middle"></i><span data-key="t-pencarianReklame">Pencarian Reklame</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "InputReklame" ? "active" : "")"
                           href="@Url.Action("Index", "InputReklame")" role="button">
                            <i class="bx bx-folder-plus  me-1 align-middle"></i><span data-key="t-inputreklame">Input Reklame</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-wajibPajak">Wajib Pajak</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link collapse @DataWPActiveClass"
                           href="#sidebarDataWP"
                           data-bs-toggle="collapse"
                           role="button"
                           aria-expanded="@DataWPExpanded"
                           aria-controls="#sidebarDataWP" style="background-color: #5EA8A4">
                            <i class="bx bx-folder"></i><span data-key="t-dataWP">Data Wajib Pajak</span>
                        </a>
                        <div id="sidebarDataWP" class="menu-dropdown collapse @DataWPShowClass">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "PROFILEWP" ? "active" : "")"
                                       href="@Url.Action("Index","ProfileWP")" data-key="t-profilWP">
                                        Profile WP
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-set">Setting</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link collapse @SettingActiveClass"
                           href="#sidebarset"
                           data-bs-toggle="collapse"
                           role="button"
                           aria-expanded="@SettingExpanded"
                           aria-controls="sidebarset" style="background-color: #5EA8A4">
                            <i class="bx bx-cog"></i>
                            <span data-key="t-set">Setting</span>
                        </a>
                        <div id="sidebarset" class="menu-dropdown collapse @SettingShowClass">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "CEKWS" ? "active" : "")"
                                       href="@Url.Action("Index", "CekWS")"
                                       data-key="t-ws">
                                        Monitoring WS
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "CEKDATA" ? "active" : "")"
                                       href="@Url.Action("Index", "CekData")"
                                       data-key="t-setdata">
                                        Monitoring Data
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-laporanStrategis">Monitoring Pengguna</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link"
                           href="https://bapenda.surabaya.go.id:7073/MonitoringUser/PartisipasiMasyarakat" target="_blank" role="button">
                            <i class="bx bx-message-detail  me-1 align-middle"></i><span data-key="t-reklamesummary">Partisipasi Masyarakat</span>
                        </a>
                    </li>
                </ul>
            </div>

        }
        else if (nama.Contains("UPTB"))
        {
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "DashboardUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "DashboardUPTB")" role="button">
                            <i class="bx bx-home me-1 align-middle"></i>
                            <span data-key="t-pendataanObjek">Dashboard</span>
                        </a>
                    </li>

                    @* Laporan Strategis *@
                    <li class="menu-title"><span data-key="t-wajibPajak">Laporan Stategis</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "KONTROLPEMBAYARANUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "KontrolPembayaranUPTB")" role="button">
                            <i class="bx bx-scatter-chart me-1 align-middle"></i>
                            <span data-key="t-kontrolpembayaranuptb">Monitoring Pembayaran</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "RealisasiControl" ? "active" : "")"
                           href="@Url.Action("Index", "RealisasiControlUPTB")" role="button" target="_blank">
                            <i class=" bx bx-book-reader   me-1 align-middle"></i><span data-key="t-realisasiControl">Realisasi Control</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "PEMASANGANALATUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "PemasanganAlatUPTB")" role="button">
                            <i class="bx bx-camera-movie me-1 align-middle"></i>
                            <span data-key="t-alatrekamuptb">Alat Rekam UPTB</span>
                        </a>
                    </li>


                    @* Sidebar Wajib Pajak *@
                    <li class="menu-title"><span data-key="t-wajibPajak">Wajib Pajak</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "PROFILEWP" ? "active" : "")"
                           href="@Url.Action("Index", "ProfileWP")" role="button">
                            <i class="bx bx-group me-1 align-middle"></i>
                            <span data-key="t-profilWP">Profile WP</span>
                        </a>
                    </li>

                    @* Sidebar Monitoring Global *@
                    <li class="menu-title"><span data-key="t-objekPajak">Monitoring Global</span></li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "MONITORINGHARIANUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "MonitoringHarianUPTB")" role="button">
                            <i class="bx bx-bar-chart-alt me-1 align-middle"></i>
                            <span data-key="t-profileOP">Monitoring Harian</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "MONITORINGBULANANUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "MonitoringBulananUPTB")" role="button">
                            <i class="bx bx-bar-chart-alt-2 me-1 align-middle"></i>
                            <span data-key="t-profileOP">Monitoring Bulanan</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "MONITORINGTAHUNANUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "MonitoringTahunanUPTB")" role="button">
                            <i class="bx bx-line-chart me-1 align-middle"></i>
                            <span data-key="t-profileOP">Realisasi Hari Ini</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "KONTROLWILAYAH" ? "active" : "")"
                           href="@Url.Action("Index", "KontrolWilayah")" role="button">
                            <i class="bx bx-map-pin me-1 align-middle"></i>
                            <span data-key="t-KontrolWilayah">Monitoring Pendapatan</span>
                        </a>
                    </li>

                    @* Sidebar Objek Pajak *@
                    <li class="menu-title"><span data-key="t-objekPajak">Objek Pajak</span></li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "PROFILEOPUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "ProfileOPUPTB")" role="button">
                            <i class="bx bx-store-alt me-1 align-middle"></i>
                            <span data-key="t-profileOPUPTB">Profil OP</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "PROFILEPOTENSIOPUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "ProfilePotensiOPUPTB")" role="button">
                            <i class="bx bx-data me-1 align-middle"></i>
                            <span data-key="t-profilePotensiUPTB">Profil Potensi</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link"
                           href="https://bapenda.surabaya.go.id:7073/MonitoringUser/PartisipasiMasyarakat" target="_blank" role="button">
                            <i class="bx bx-data me-1 align-middle"></i>
                            <span data-key="t-profilePotensiUPTB">Partisipasi Masyarakat</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-laporanStrategis">Monitoring Pengguna</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link"
                           href="https://bapenda.surabaya.go.id:7073/MonitoringUser/PartisipasiMasyarakat" target="_blank" role="button">
                            <i class="bx bx-message-detail  me-1 align-middle"></i><span data-key="t-reklamesummary">Partisipasi Masyarakat</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
        else if (nama.Contains("MAGANG PENAGIHAN"))
        {
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">REKLAME</span></li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "REKLAMESUMMARY" ? "active" : "")"
                           href="@Url.Action("Index", "ReklameSummary")" role="button">
                            <i class="bx bx-news  me-1 align-middle"></i><span data-key="t-reklamesummary">Reklame Summary</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "PENCARIANREKLAME" ? "active" : "")"
                           href="@Url.Action("Index", "PencarianReklame")"
                           data-key="t-pencarian">
                            <i class="bx bx-search  me-1 align-middle"></i><span data-key="t-reklamesummary">Pencarian Reklame</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
        else if (nama.Contains("MAGANG PENDATAAN"))
        {
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">DATA</span></li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "KONTROLPEMBAYARAN" ? "active" : "")"
                           href="@Url.Action("Index", "KONTROLPEMBAYARAN")" role="button">
                            <i class="bx bx-target-lock  me-1 align-middle"></i><span data-key="t-reklamesummary">Monitoring Pembayaran</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
        else if (nama.Contains("UPLOAD"))
        {
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-upload">Upload Data</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "UPLOADDATA" ? "active" : "")"
                           href="@Url.Action("Index", "UploadData")" role="button">
                            <i class="bx bx-group me-1 align-middle"></i>
                            <span data-key="t-UploadData">Upload Data</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
        else if (nama.Contains("PENDATAAN REKLAME"))
        {
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-upload">Pendataan Reklame</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "INPUTREKLAME" ? "active" : "")"
                           href="@Url.Action("Index", "InputReklame")" role="button">
                            <i class="bx bx-folder-plus me-1 align-middle"></i>
                            <span data-key="t-InputReklameAdmin">Input Reklame</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "REKLAMESUMMARY" ? "active" : "")"
                           href="@Url.Action("Index", "ReklameSummary")" role="button">
                            <i class="bx bx-news me-1 align-middle"></i>
                            <span data-key="t-ReklameSummaryAdmin">Reklame Summary</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "KONTROLREKLAME" ? "active" : "")"
                           href="@Url.Action("Index", "Reklame")" role="button">
                            <i class="bx bx-archive me-1 align-middle"></i>
                            <span data-key="t-ReklameAdmin">Kontrol Reklame</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "REKLAMElIAR" ? "active" : "")"
                           href="@Url.Action("Index", "ReklameLiar")" role="button">
                            <i class="bx bx-calendar-exclamation me-1 align-middle"></i>
                            <span data-key="t-ReklameLiarAdmin">Reklame Liar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "PENDATAANREKLAME" ? "active" : "")"
                           href="@Url.Action("Index", "PendataanReklame")" role="button">
                            <i class="bx bx-file-blank me-1 align-middle"></i>
                            <span data-key="t-PendataanReklameAdmin">Pendataan Reklame</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "PENCARIANREKLAME" ? "active" : "")"
                           href="@Url.Action("Index", "PencarianReklame")" role="button">
                            <i class="bx bx-search-alt me-1 align-middle"></i>
                            <span data-key="t-PencarianReklameAdmin">Pencarian Reklame</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
        else if (nama.Contains("BPK"))
        {
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-upload">MENU</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "DASHBOARDBPK" ? "active" : "")"
                           href="@Url.Action("Index", "Dashboard")" role="button">
                            <i class="bx bx-home me-1 align-middle"></i>
                            <span data-key="t-DashboardAdmin">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "MONITORINGHARIBPK" ? "active" : "")"
                           href="@Url.Action("Index", "MonitoringHarian")" role="button">
                            <i class="bx bx-news me-1 align-middle"></i>
                            <span data-key="t-ReklameSummaryAdmin">Kontrol Harian</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "MONITORINGBULANBPK" ? "active" : "")"
                           href="@Url.Action("Index", "MonitoringBulanan")" role="button">
                            <i class="bx bx-archive me-1 align-middle"></i>
                            <span data-key="t-ReklameAdmin">Kontrol Bulanan</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "MONITORINGTAHUNBPK" ? "active" : "")"
                           href="@Url.Action("Index", "MonitoringTahunan")" role="button">
                            <i class="bx bx-calendar-exclamation me-1 align-middle"></i>
                            <span data-key="t-ReklameLiarAdmin">Realisasi Hari Ini</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "SERIESPENDAPATANDAERAH" ? "active" : "")"
                           href="@Url.Action("Index", "SeriesPendapatanDaerah")" role="button">
                            <i class="bx bx-file-blank me-1 align-middle"></i>
                            <span data-key="t-PendataanReklameAdmin">Series Pendapatan Daerah</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "REALISASICONTROLBPK" ? "active" : "")"
                           href="@Url.Action("Index", "RealisasiControl")" target="_blank" role="button">
                            <i class="bx bx-search-alt me-1 align-middle"></i>
                            <span data-key="t-PencarianReklameAdmin">Realisasi Control</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
        else if (nama.Contains("BENDAHARA"))
        {
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-MonitoringPembayaran">Monitoring Pembayaran</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "PembayaranKontrol" ? "active" : "")"
                           href="@Url.Action("Index", "PembayaranKontrol")" role="button">
                            <i class=" bx bx-home  me-1 align-middle"></i><span data-key="t-PembayaranKontrol">Kontrol Pembayaran</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
    </div>
</div>
<!-- Left Sidebar End -->