@using Microsoft.AspNetCore.Http
@using MonPDLib.General
@{
    ISession sesi = Context.Session;
    var nama = sesi.GetString(Utility.SESSION_NAMA);

    nama = nama.Replace("\"", "");

    var currentController = ViewContext.RouteData.Values["controller"]?.ToString()?.Trim()?.ToUpper();

    //controkker monitoring pendapatan daerah
    var MonitoringPendapatanDaerahController = new[] {
        "SERIESPENDAPATANDAERAH", "SERIESPENDAPATANDAERAHSCONTRO", "SERIESPENDAPATAN", "REALISASIPENDAPATANDAERAH", "REALISASIPENDAPATANOPD", "PERBANDINGANPENDAPATANDAERAH"
    };

    var MonitoringPendapatanDaerahActive = MonitoringPendapatanDaerahController.Contains(currentController);
    var MonitoringPendapatanDaerahActiveClass = MonitoringPendapatanDaerahActive ? "active" : "";
    var MonitoringPendapatanDaerahExpanded = MonitoringPendapatanDaerahActive ? "true" : "false";
    var MonitoringPendapatanDaerahShowClass = MonitoringPendapatanDaerahActive ? "show" : "";

    //controkker monitoring pajak daerah
    var MonitoringPajakDaerahController = new[] {
        "REALISASICONTROL", "SERIESTAHUNAN", "SERIESBULANANPAJAK", "MONITORINGHARIAN", "MONITORINGBULANAN", "MONITORINGTAHUNAN"
    };

    var MonitoringPajakDaerahActive = MonitoringPajakDaerahController.Contains(currentController);
    var MonitoringPajakDaerahActiveClass = MonitoringPajakDaerahActive ? "active" : "";
    var MonitoringPajakDaerahExpanded = MonitoringPajakDaerahActive ? "true" : "false";
    var MonitoringPajakDaerahShowClass = MonitoringPajakDaerahActive ? "show" : "";

    //controller monitoring Wilayah
    var MonitoringWilayahController = new[] {
        "KONTROLWILAYAH"
    };
    var isMonitoringWilayahActive = MonitoringWilayahController.Contains(currentController);

    var MonitoringWilayahActiveClass = isMonitoringWilayahActive ? "active" : "";
    var MonitoringWilayahExpanded = isMonitoringWilayahActive ? "true" : "false";
    var MonitoringWilayahShowClass = isMonitoringWilayahActive ? "show" : "";

    //controller laporan strategi
    var LaporanStrategisController = new[] {
        "KONTROLPEMBAYARAN", "KONTROLPIUTANG", "KONTROLPREDIKSI", "PENDATAANOBJEKPAJAK", "PEMERIKSAANPAJAK", "PEMASANGANALAT"
    };
    var isLaporanStrategisActive = LaporanStrategisController.Contains(currentController);

    var LaporanStrategisActiveClass = isLaporanStrategisActive ? "active" : "";
    var LaporanStrategisExpanded = isLaporanStrategisActive ? "true" : "false";
    var LaporanStrategisShowClass = isLaporanStrategisActive ? "show" : "";

    //controller data objek pajak
    var DataObjekController = new[] {
        "PROFILEOP", "KARTUDATA", "PROFILEPOTENSIOP", "PENETAPANOP"
    };
    var isDataObjekActive = DataObjekController.Contains(currentController);

    var DataObjekActiveClass = isDataObjekActive ? "active" : "";
    var DataObjekExpanded = isDataObjekActive ? "true" : "false";
    var DataObjekShowClass = isDataObjekActive ? "show" : "";

    //controller WP
    var WajibPajakController = new[] {
        "PROFILEWP"
    };
    var isWajibPajakActive = WajibPajakController.Contains(currentController);

    var WajibPajakActiveClass = isWajibPajakActive ? "active" : "";
    var WajibPajakExpanded = isWajibPajakActive ? "true" : "false";
    var WajibPajakShowClass = isWajibPajakActive ? "show" : "";

    //controller CCTV
    var PengawasanParkirController = new[] {
        "MONITORINGCCTV"
    };
    var isPengawasanParkirActive = PengawasanParkirController.Contains(currentController);

    var PengawasanParkirActiveClass = isPengawasanParkirActive ? "active" : "";
    var PengawasanParkirExpanded = isPengawasanParkirActive ? "true" : "false";
    var PengawasanParkirShowClass = isPengawasanParkirActive ? "show" : "";

    //controller pengawasan reklame
    var PengawasanReklameController = new[] {
        "REKLAMESUMMARY", "REKLAME", "PENDATAANREKLAME", "PENCARIANREKLAME", "INPUTREKLAME"
    };
    var isPengawasanReklameActive = PengawasanReklameController.Contains(currentController);

    var PengawasanReklameActiveClass = isPengawasanReklameActive ? "active" : "";
    var PengawasanReklameExpanded = isPengawasanReklameActive ? "true" : "false";
    var PengawasanReklameShowClass = isPengawasanReklameActive ? "show" : "";

    //controller setting
    var SettingController = new[] {
        "CEKWS", "CEKDATA"
    };
    var isSettingActive = SettingController.Contains(currentController);

    var SettingActiveClass = isSettingActive ? "active" : "";
    var SettingExpanded = isSettingActive ? "true" : "false";
    var SettingShowClass = isSettingActive ? "show" : "";


}

<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu" style="background-color: #5EA8A4 !important; color:white">
    <!-- LOGO -->
    <div class="navbar-brand-box" style="background-color: #5EA8A4 !important; color:white">
        <!-- Dark Logo-->
        <a href="/" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/assets/images/logo-surabaya.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-surabaya.png" alt="" height="50"> MONPD
            </span>
        </a>
        <!-- Light Logo-->
        <a href="/" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/assets/images/logo-surabaya.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-surabaya.png" alt="" height="50"> MONPD
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        @if (nama == "BAPENDA")
        {
            <div class="container-fluid">

                <div id="two-column-menu">
                </div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Dashboard" ? "active" : "")"
                           href="@Url.Action("Index", "Dashboard")" role="button">
                            <i class=" bx bx-home  me-1 align-middle"></i><span data-key="t-pendataanObjek">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link collapse @MonitoringPendapatanDaerahActiveClass"
                           href="#sidebarMonitoringPendapatanDaerah"
                           data-bs-toggle="collapse"
                           role="button"
                           aria-expanded="@MonitoringPendapatanDaerahExpanded"
                           aria-controls="#sidebarMonitoringPendapatanDaerah" style="background-color: #5EA8A4">
                            <i class="bx bx-bar-chart-alt-2  me-1 align-middle"></i><span data-key="t-monitoring-daerah">Monitoring Pendapatan Daerah</span>
                        </a>
                        <div id="sidebarMonitoringPendapatanDaerah" class="menu-dropdown collapse @MonitoringPendapatanDaerahShowClass">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "SeriesPendapatanDaerah" ? "active" : "")"
                                       href="@Url.Action("Index", "SeriesPendapatanDaerah")" role="button">
                                        <span data-key="t-seriesPendapatanDaerah">Realisasi Pendapatan</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "SeriesPendapatanDaerahScontro" ? "active" : "")"
                                       href="@Url.Action("Index", "SeriesPendapatanDaerahScontro")" role="button">
                                        <span data-key="t-seriesPendapatanDaerahScontro">Series Pendapatan</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "SeriesPendapatan" ? "active" : "")"
                                       href="@Url.Action("Index", "SeriesPendapatan")" role="button">
                                        <span data-key="t-sPendapatan">Series Pendapatan Per OPD </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "RealisasiPendapatanDaerah" ? "active" : "")"
                                       href="@Url.Action("Index", "RealisasiPendapatanDaerah")" role="button">
                                        <span data-key="t-realisasiPendapatan">Realisasi Hari Ini</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "RealisasiPendapatanOPD" ? "active" : "")"
                                       href="@Url.Action("Index", "RealisasiPendapatanOPD")" role="button">
                                        <span data-key="t-realisasiPendapatanOPD">Realisasi Hari Ini Per OPD</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "PerbandinganPendapatanDaerah" ? "active" : "")"
                                       href="@Url.Action("Index", "PerbandinganPendapatanDaerah")" role="button">
                                        <span data-key="t-perbandinganpendapatandaerah">Perbandingan Pendapatan</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link collapse @MonitoringPajakDaerahActiveClass"
                           href="#sidebarMonitoringPajakDaerah"
                           data-bs-toggle="collapse"
                           role="button"
                           aria-expanded="@MonitoringPajakDaerahExpanded"
                           aria-controls="#sidebarMonitoringPajakDaerah" style="background-color: #5EA8A4">
                            <i class="bx bx-globe  me-1 align-middle"></i><span data-key="t-pajak-daerah">Monitoring Pajak Daerah</span>
                        </a>
                        <div id="sidebarMonitoringPajakDaerah" class="menu-dropdown collapse @MonitoringPajakDaerahShowClass">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "REALISASICONTROL" ? "active" : "")"
                                       href="@Url.Action("Index", "RealisasiControl")" data-key="t-realisasiControl">
                                        Realisasi Control
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "SERIESTAHUNAN" ? "active" : "")"
                                       href="@Url.Action("Index", "SeriesTahunan")" data-key="t-seriestahunan">
                                        Series Tahunan
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "SERIESBULANANPAJAK" ? "active" : "")"
                                       href="@Url.Action("Index", "SeriesBulananPajak")" data-key="t-SeriesBulanan">
                                        Series Bulanan
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "MONITORINGHARIAN" ? "active" : "")"
                                       href="@Url.Action("Index", "MonitoringHarian")" data-key="t-monitoringharian">
                                        Realisasi Harian
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "MONITORINGBULANAN" ? "active" : "")"
                                       href="@Url.Action("Index", "MonitoringBulanan")" data-key="t-monitoringbulanan">
                                        Realisasi Bulanan
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "MONITORINGTAHUNAN" ? "active" : "")"
                                       href="@Url.Action("Index", "MonitoringTahunan")" data-key="t-monitoringtahunan">
                                        Realisasi Hari Ini
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link collapse @MonitoringWilayahActiveClass"
                           href="#sidebarMonitoringWilayah"
                           data-bs-toggle="collapse"
                           role="button"
                           aria-expanded="@MonitoringWilayahExpanded"
                           aria-controls="#sidebarMonitoringWilayah" style="background-color: #5EA8A4">
                            <i class="bx bx-map me-1 align-middle"></i><span data-key="t-monitoringwilayah">Monitoring Per Wilayah</span>
                        </a>
                        <div id="sidebarMonitoringWilayah" class="menu-dropdown collapse @MonitoringWilayahShowClass">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "KONTROLWILAYAH" ? "active" : "")"
                                       href="@Url.Action("Index", "KontrolWilayah")" data-key="t-KontrolWilayah">
                                        Monitoring Wilayah
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link collapse @LaporanStrategisActiveClass"
                           href="#laporanstrategisbaru"
                           data-bs-toggle="collapse"
                           role="button"
                           aria-expanded="@LaporanStrategisExpanded"
                           aria-controls="#laporanstrategisbaru" style="background-color: #5EA8A4">
                            <i class="bx bx-book-reader me-1 align-middle"></i><span data-key="t-laporanStrategis">Laporan Strategis</span>
                        </a>
                        <div id="laporanstrategisbaru" class="menu-dropdown collapse @LaporanStrategisShowClass">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "KONTROLPEMBAYARAN" ? "active" : "")"
                                       href="@Url.Action("Index", "KontrolPembayaran")" data-key="t-kontrolPembayaran">
                                        Monitoring Pembayaran
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "KONTROLPIUTANG" ? "active" : "")"
                                       href="@Url.Action("Index", "KontrolPiutang")" data-key="t-kontrolpiutang">
                                        Monitoring Piutang
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "KONTROLPREDIKSI" ? "active" : "")"
                                       href="@Url.Action("Index", "KontrolPrediksi")" data-key="t-kontrolprediksi">
                                        Kalkulator Prediksi Pendapatan
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "PENDATAANOBJEKPAJAK" ? "active" : "")"
                                       href="@Url.Action("Index", "PendataanObjekPajak")" data-key="t-pengedokan">
                                        Pengedokan Pajak
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "PEMERIKSAANPAJAK" ? "active" : "")"
                                       href="@Url.Action("Index", "PemeriksaanPajak")" data-key="t-pemeriksaanpajak">
                                        Pemeriksaan Pajak
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "PEMASANGANALAT" ? "active" : "")"
                                       href="@Url.Action("Index", "PemasanganAlat")" data-key="t-alatrekam">
                                        Alat Rekam Online
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link collapse @DataObjekActiveClass"
                           href="#dataop"
                           data-bs-toggle="collapse"
                           role="button"
                           aria-expanded="@DataObjekExpanded"
                           aria-controls="#dataop" style="background-color: #5EA8A4">
                            <i class="bx bx-data me-1 align-middle"></i><span data-key="t-dataobjekpajak">Data Objek Pajak</span>
                        </a>
                        <div id="dataop" class="menu-dropdown collapse @DataObjekShowClass">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "PROFILEOP" ? "active" : "")"
                                       href="@Url.Action("Index", "ProfileOP")" data-key="t-profileopbaru">
                                        Profil OP
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "KARTUDATA" ? "active" : "")"
                                       href="@Url.Action("Index", "KartuData")" data-key="t-kartudata">
                                        Kartu Data
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "PROFILEPOTENSIOP" ? "active" : "")"
                                       href="@Url.Action("Index", "ProfilePotensiOP")" data-key="t-potensiprofile">
                                        Profil Potensi
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "PENETAPANOP" ? "active" : "")"
                                       href="@Url.Action("Index", "PenetapanOP")" data-key="t-penetapanop">
                                        Penetapan
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link collapse @WajibPajakActiveClass"
                           href="#wp"
                           data-bs-toggle="collapse"
                           role="button"
                           aria-expanded="@WajibPajakExpanded"
                           aria-controls="#wp" style="background-color: #5EA8A4">
                            <i class="bx bx-file me-1 align-middle"></i><span data-key="t-wppengawasan">Data Wajib Pajak</span>
                        </a>
                        <div id="wp" class="menu-dropdown collapse @WajibPajakShowClass">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "PROFILEWP" ? "active" : "")"
                                       href="@Url.Action("Index", "ProfileWP")" data-key="t-datawp">
                                        Profile WP
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link collapse @PengawasanParkirActiveClass"
                           href="#cctv"
                           data-bs-toggle="collapse"
                           role="button"
                           aria-expanded="@PengawasanParkirExpanded"
                           aria-controls="#cctv" style="background-color: #5EA8A4">
                            <i class="bx bx-cctv me-1 align-middle"></i><span data-key="t-monCctv">Pengawasan Parkir</span>
                        </a>
                        <div id="cctv" class="menu-dropdown collapse @PengawasanParkirShowClass">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "MONITORINGCCTV" ? "active" : "")"
                                       href="@Url.Action("Index", "monitoringCCTV")" data-key="t-cctvmon">
                                        Monitoring CCTV Parkir
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link collapse @PengawasanReklameActiveClass"
                           href="#pengawasanReklame"
                           data-bs-toggle="collapse"
                           role="button"
                           aria-expanded="@PengawasanReklameExpanded"
                           aria-controls="#pengawasanReklame" style="background-color: #5EA8A4">
                            <i class="bx bx-news me-1 align-middle"></i><span data-key="t-reklamepengawasan">Pengawasan Reklame</span>
                        </a>
                        <div id="pengawasanReklame" class="menu-dropdown collapse @PengawasanReklameShowClass">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "REKLAMESUMMARY" ? "active" : "")"
                                       href="@Url.Action("Index", "ReklameSummary")" data-key="t-reksummary">
                                        Reklame Summary
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "REKLAME" ? "active" : "")"
                                       href="@Url.Action("Index", "Reklame")" data-key="t-reklameaja">
                                        Kontrol Reklame
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "PENDATAANREKLAME" ? "active" : "")"
                                       href="@Url.Action("Index", "PendataanReklame")" data-key="t-pendataanreklame">
                                        Pendataan Reklame
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "PENCARIANREKLAME" ? "active" : "")"
                                       href="@Url.Action("Index", "PencarianReklame")" data-key="t-pencarianreklame">
                                        Pencarian Reklame
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "INPUTREKLAME" ? "active" : "")"
                                       href="@Url.Action("Index", "InputReklame")" data-key="t-inputrklamebaru">
                                        Input Reklame
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link collapse @SettingActiveClass"
                           href="#setting"
                           data-bs-toggle="collapse"
                           role="button"
                           aria-expanded="@SettingExpanded"
                           aria-controls="#setting" style="background-color: #5EA8A4">
                            <i class="bx bx-cog me-1 align-middle"></i><span data-key="t-settingmonpd">Setting</span>
                        </a>
                        <div id="setting" class="menu-dropdown collapse @SettingShowClass">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "CEKWS" ? "active" : "")"
                                       href="@Url.Action("Index", "CekWS")" data-key="t-ws">
                                        Monitoring WS
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(currentController == "CEKDATA" ? "active" : "")"
                                       href="@Url.Action("Index", "CekData")" data-key="t-data">
                                        Monitoring Data
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link"
                           href="https://bapenda.surabaya.go.id:7073/MonitoringUser/PartisipasiMasyarakat" target="_blank" role="button">
                            <i class="bx bx-message-detail  me-1 align-middle"></i><span data-key="t-reklamesummary">Partisipasi Masyarakat</span>
                        </a>
                    </li>

                </ul>
            </div>
        }
        else if (nama.Contains("UPTB"))
        {
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "DashboardUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "DashboardUPTB")" role="button">
                            <i class="bx bx-home me-1 align-middle"></i>
                            <span data-key="t-pendataanObjek">Dashboard</span>
                        </a>
                    </li>

                    @* Laporan Strategis *@
                    <li class="menu-title"><span data-key="t-wajibPajak">Laporan Stategis</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "KONTROLPEMBAYARANUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "KontrolPembayaranUPTB")" role="button">
                            <i class="bx bx-scatter-chart me-1 align-middle"></i>
                            <span data-key="t-kontrolpembayaranuptb">Monitoring Pembayaran</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "RealisasiControl" ? "active" : "")"
                           href="@Url.Action("Index", "RealisasiControlUPTB")" role="button" target="_blank">
                            <i class=" bx bx-book-reader   me-1 align-middle"></i><span data-key="t-realisasiControl">Realisasi Control</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "PEMASANGANALATUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "PemasanganAlatUPTB")" role="button">
                            <i class="bx bx-camera-movie me-1 align-middle"></i>
                            <span data-key="t-alatrekamuptb">Alat Rekam UPTB</span>
                        </a>
                    </li>


                    @* Sidebar Wajib Pajak *@
                    <li class="menu-title"><span data-key="t-wajibPajak">Wajib Pajak</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "PROFILEWP" ? "active" : "")"
                           href="@Url.Action("Index", "ProfileWP")" role="button">
                            <i class="bx bx-group me-1 align-middle"></i>
                            <span data-key="t-profilWP">Profile WP</span>
                        </a>
                    </li>

                    @* Sidebar Monitoring Global *@
                    <li class="menu-title"><span data-key="t-objekPajak">Monitoring Global</span></li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "MONITORINGHARIANUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "MonitoringHarianUPTB")" role="button">
                            <i class="bx bx-bar-chart-alt me-1 align-middle"></i>
                            <span data-key="t-profileOP">Monitoring Harian</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "MONITORINGBULANANUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "MonitoringBulananUPTB")" role="button">
                            <i class="bx bx-bar-chart-alt-2 me-1 align-middle"></i>
                            <span data-key="t-profileOP">Monitoring Bulanan</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "MONITORINGTAHUNANUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "MonitoringTahunanUPTB")" role="button">
                            <i class="bx bx-line-chart me-1 align-middle"></i>
                            <span data-key="t-profileOP">Realisasi Hari Ini</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "KONTROLWILAYAH" ? "active" : "")"
                           href="@Url.Action("Index", "KontrolWilayah")" role="button">
                            <i class="bx bx-map-pin me-1 align-middle"></i>
                            <span data-key="t-KontrolWilayah">Monitoring Pendapatan</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "MonitoringCCTVUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "MonitoringCCTVUPTB")" role="button">
                            <i class="bx bx-cctv me-1 align-middle"></i><span data-key="t-monitoringCctv">Monitoring CCTV Parkir</span>
                        </a>
                    </li>

                    @* Sidebar Objek Pajak *@
                    <li class="menu-title"><span data-key="t-objekPajak">Objek Pajak</span></li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "PROFILEOPUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "ProfileOPUPTB")" role="button">
                            <i class="bx bx-store-alt me-1 align-middle"></i>
                            <span data-key="t-profileOPUPTB">Profil OP</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "PROFILEPOTENSIOPUPTB" ? "active" : "")"
                           href="@Url.Action("Index", "ProfilePotensiOPUPTB")" role="button">
                            <i class="bx bx-data me-1 align-middle"></i>
                            <span data-key="t-profilePotensiUPTB">Profil Potensi</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link"
                           href="https://bapenda.surabaya.go.id:7073/MonitoringUser/PartisipasiMasyarakat" target="_blank" role="button">
                            <i class="bx bx-data me-1 align-middle"></i>
                            <span data-key="t-profilePotensiUPTB">Partisipasi Masyarakat</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-laporanStrategis">Monitoring Pengguna</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link"
                           href="https://bapenda.surabaya.go.id:7073/MonitoringUser/PartisipasiMasyarakat" target="_blank" role="button">
                            <i class="bx bx-message-detail  me-1 align-middle"></i><span data-key="t-reklamesummary">Partisipasi Masyarakat</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
        else if (nama.Contains("MAGANG PENAGIHAN"))
        {
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">REKLAME</span></li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "REKLAMESUMMARY" ? "active" : "")"
                           href="@Url.Action("Index", "ReklameSummary")" role="button">
                            <i class="bx bx-news  me-1 align-middle"></i><span data-key="t-reklamesummary">Reklame Summary</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "PENCARIANREKLAME" ? "active" : "")"
                           href="@Url.Action("Index", "PencarianReklame")"
                           data-key="t-pencarian">
                            <i class="bx bx-search  me-1 align-middle"></i><span data-key="t-reklamesummary">Pencarian Reklame</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
        else if (nama.Contains("MAGANG PENDATAAN"))
        {
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">DATA</span></li>

                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "KONTROLPEMBAYARAN" ? "active" : "")"
                           href="@Url.Action("Index", "KONTROLPEMBAYARAN")" role="button">
                            <i class="bx bx-target-lock  me-1 align-middle"></i><span data-key="t-reklamesummary">Monitoring Pembayaran</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
        else if (nama.Contains("UPLOAD"))
        {
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-upload">Upload Data</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "UPLOADDATA" ? "active" : "")"
                           href="@Url.Action("Index", "UploadData")" role="button">
                            <i class="bx bx-group me-1 align-middle"></i>
                            <span data-key="t-UploadData">Upload Data</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
        else if (nama.Contains("PENDATAAN REKLAME"))
        {
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-upload">Pendataan Reklame</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "INPUTREKLAME" ? "active" : "")"
                           href="@Url.Action("Index", "InputReklame")" role="button">
                            <i class="bx bx-folder-plus me-1 align-middle"></i>
                            <span data-key="t-InputReklameAdmin">Input Reklame</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "REKLAMESUMMARY" ? "active" : "")"
                           href="@Url.Action("Index", "ReklameSummary")" role="button">
                            <i class="bx bx-news me-1 align-middle"></i>
                            <span data-key="t-ReklameSummaryAdmin">Reklame Summary</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "KONTROLREKLAME" ? "active" : "")"
                           href="@Url.Action("Index", "Reklame")" role="button">
                            <i class="bx bx-archive me-1 align-middle"></i>
                            <span data-key="t-ReklameAdmin">Kontrol Reklame</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "REKLAMElIAR" ? "active" : "")"
                           href="@Url.Action("Index", "ReklameLiar")" role="button">
                            <i class="bx bx-calendar-exclamation me-1 align-middle"></i>
                            <span data-key="t-ReklameLiarAdmin">Reklame Liar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "PENDATAANREKLAME" ? "active" : "")"
                           href="@Url.Action("Index", "PendataanReklame")" role="button">
                            <i class="bx bx-file-blank me-1 align-middle"></i>
                            <span data-key="t-PendataanReklameAdmin">Pendataan Reklame</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "PENCARIANREKLAME" ? "active" : "")"
                           href="@Url.Action("Index", "PencarianReklame")" role="button">
                            <i class="bx bx-search-alt me-1 align-middle"></i>
                            <span data-key="t-PencarianReklameAdmin">Pencarian Reklame</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
        else if (nama.Contains("BPK"))
        {
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-upload">MENU</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "DASHBOARDBPK" ? "active" : "")"
                           href="@Url.Action("Index", "Dashboard")" role="button">
                            <i class="bx bx-home me-1 align-middle"></i>
                            <span data-key="t-DashboardAdmin">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "MONITORINGHARIBPK" ? "active" : "")"
                           href="@Url.Action("Index", "MonitoringHarian")" role="button">
                            <i class="bx bx-news me-1 align-middle"></i>
                            <span data-key="t-ReklameSummaryAdmin">Kontrol Harian</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "MONITORINGBULANBPK" ? "active" : "")"
                           href="@Url.Action("Index", "MonitoringBulanan")" role="button">
                            <i class="bx bx-archive me-1 align-middle"></i>
                            <span data-key="t-ReklameAdmin">Kontrol Bulanan</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "MONITORINGTAHUNBPK" ? "active" : "")"
                           href="@Url.Action("Index", "MonitoringTahunan")" role="button">
                            <i class="bx bx-calendar-exclamation me-1 align-middle"></i>
                            <span data-key="t-ReklameLiarAdmin">Realisasi Hari Ini</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "SERIESPENDAPATANDAERAH" ? "active" : "")"
                           href="@Url.Action("Index", "SeriesPendapatanDaerah")" role="button">
                            <i class="bx bx-file-blank me-1 align-middle"></i>
                            <span data-key="t-PendataanReklameAdmin">Series Pendapatan Daerah</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(currentController == "REALISASICONTROLBPK" ? "active" : "")"
                           href="@Url.Action("Index", "RealisasiControl")" target="_blank" role="button">
                            <i class="bx bx-search-alt me-1 align-middle"></i>
                            <span data-key="t-PencarianReklameAdmin">Realisasi Control</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
        else if (nama.Contains("SEKDA"))
        {
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-MonitoringPembayaran">Menu</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "SeriesPendapatan" ? "active" : "")"
                           href="@Url.Action("Index", "SeriesPendapatan")" role="button">
                            <i class="bx bx-bar-chart-alt-2  me-1 align-middle"></i><span data-key="t-sPendapatan">Series Pendapatan</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
        else if (nama.Contains("BENDAHARA"))
        {
            <div class="container-fluid">
                <div id="two-column-menu"></div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-MonitoringPembayaran">Monitoring Pembayaran</span></li>
                    <li class="nav-item">
                        <a class="nav-link menu-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "PembayaranKontrol" ? "active" : "")"
                           href="@Url.Action("Index", "PembayaranKontrol")" role="button">
                            <i class=" bx bx-home  me-1 align-middle"></i><span data-key="t-PembayaranKontrol">Kontrol Pembayaran</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
    </div>
</div>
<!-- Left Sidebar End -->