@model MonPDReborn.Models.MonitoringWilayah.MonitoringWilayahVM.DetailModal

<div class="mb-3">
    <h4 class="card-title fs-16 mb-1">
        Monitoring Wilayah - @Model.DataModalRow.Wilayah
    </h4>
    <br>
    <div class="text-muted fs-16 mb-0">
        <div>
            <i class="ri-calendar-2-fill text-primary me-2"></i>
            <span class="fw-semibold">Tanggal:</span>
            <strong>@Model.DataModalRow.Tanggal.ToString("dd/MM/yyyy")</strong>
        </div>
        <div>
            <i class="ri-calendar-event-fill text-success me-2"></i>
            <span class="fw-semibold">Hari:</span>
            <strong>@Model.DataModalRow.Tanggal.ToString("dddd", new System.Globalization.CultureInfo("id-ID"))</strong>
        </div>
        <div>
            <i class="ri-file-text-fill text-warning me-2"></i>
            <span class="fw-semibold">Jenis Pajak:</span>
            <strong>@Model.DataModalRow.JenisPajak</strong>
        </div>
    </div>


</div>

<div class="table-responsive">
    @(
        Html.DevExtreme().DataGrid<MonPDReborn.Models.MonitoringWilayah.MonitoringWilayahVM.DataDetailModal>()
        .ID("modalGrid")
        .DataSource(Model.DataModalRow.Detail)
        .KeyExpr("NOP")  // pakai NOP karena unik
        .ShowBorders(true)
        .RowAlternationEnabled(true)
        .ColumnAutoWidth(true)
        .SearchPanel(sp => sp
        .Visible(true)
        .Placeholder("Cari NOP atau Realisasi...")
        .Width(300)
        )
        .Paging(p => p.PageSize(5))
        .Pager(pg =>
        {
            pg.ShowPageSizeSelector(true);
            pg.AllowedPageSizes(new[] { 5, 10, 20 });
            pg.ShowInfo(true);
        })
        .Export(e => e.Enabled(true).AllowExportSelectedData(false).Formats(new[] { "xlsx", "pdf" }))
        .OnExporting("exportGrid")
        .Columns(columns =>
        {
            columns.AddFor(m => m.NOP)
            .Caption("NOP");

            columns.AddFor(m => m.NamaOP)
            .Caption("Nama OP");

            columns.AddFor(m => m.AlamatOP)
            .Caption("Alamat OP");

            columns.AddFor(m => m.KategoriNama)
            .Caption("Kategori");

            columns.AddFor(m => m.Realisasi)
            .Caption("Realisasi")
            .Format("#,##0");
        })
        .Summary(s =>
        {
            s.TotalItems(items =>
            {
                items.AddFor(m => m.NOP)
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("Total");

                items.AddFor(m => m.Realisasi)
                .SummaryType(SummaryType.Sum)
                .ValueFormat("#,##0")
                .DisplayFormat("{0}");
            });
        })
        )
</div>
