@model MonPDReborn.Models.MonitoringWilayah.MonitoringWilayahVM.Index

@{
    ViewBag.Title = "Dashboard Penetapan Pajak";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-1">
                        Dashboard Monitoring Pajak Daerah
                    </h4>
                    <p class="text-muted mb-0">Monitoring realisasi pajak per wilayah dan jenis pajak</p>
                </div>
                <div class="text-muted mb-1">Periode: <strong id="periode"></strong></div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="car-body">
                <div class="row mt-3 ms-0">

                    <div class="col-lg-3">
                        @Html.DropDownListFor(model => model.SelectedUPTB,
                                 new SelectList(Model.JenisUptbList, "Value", "Text"),
                                 new { @class = "form-select rounded-pill mb-3", @aria_label = "Default select example" })
                    </div>

                    <div class="col-lg-3">
                        @Html.DropDownListFor(model => model.SelectedPajak,
                                 new SelectList(Model.JenisPajakList, "Value", "Text"),
                                 "Semua Jenis Pajak",
                                 new { @class = "form-select rounded-pill mb-3", @aria_label = "Default select example" })
                    </div>
                    <div class="col-lg-2">
                        @Html.DropDownListFor(model => model.SelectedTahun,
                                 new SelectList(Model.TahunList, "Value", "Text"),
                                 "Pilih Tahun",
                                 new { @class = "form-select rounded-pill mb-3", @id = "ddlTahun", @aria_label = "Default select example" })
                    </div>

                    <div class="col-lg-2">
                        @Html.DropDownListFor(model => model.SelectedBulan,
                                 new SelectList(Model.BulanList, "Value", "Text"),
                                 "Semua Bulan",
                                 new { @class = "form-select rounded-pill mb-3" })
                    </div>

                    <div class="col-lg-2">
                        <button type="button" class="btn btn-success w-80">
                            <i class="bi bi-funnel-fill me-1"></i> Terapkan Filter
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <div id="loading2-Show" class="spinner-border text-primary" style="display: none">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div id="Show"></div>



    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-1">
                        Realisasi Pajak Harian
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <div id="loading2-Detail" class="spinner-border text-primary" style="display: none">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div id="Detail"></div>
            </div>
        </div>
    </div>

</div>


@section Scripts {



    <script>
        $(document).ready(function () {
            // Set default tahun & bulan ke hari ini
            const today = new Date();
            const tahun = today.getFullYear();
            const bulan = today.getMonth() + 1; // getMonth() mulai dari 0

            // Set dropdown tahun
            $('.form-select').eq(2).val(tahun);
            // Set dropdown bulan
            $('.form-select').eq(3).val(bulan);

            // Panggil pertama kali
            fnShow();
            fnDetail();

            // Saat tombol Terapkan Filter diklik
            $('.btn-success').on('click', function () {
                fnShow();
                fnDetail();
            });
        });


        function getFilters() {
            return {
                wilayah: $('#SelectedUPTB').val(),
                jenisPajak: $('#SelectedPajak').val(),
                tahun: $('#ddlTahun').val(), // kamu belum pakai DropDownListFor, akan dijelaskan di bawah
                bulan: $('#SelectedBulan').val()
            };
        }

        function fnShow() {
            const filters = getFilters();
            const bulanNama = [
                "",
                "Januari", "Februari", "Maret", "April", "Mei", "Juni",
                "Juli", "Agustus", "September", "Oktober", "November", "Desember"
            ];

            $("#periode").text("Periode Januari - " + bulanNama[filters.bulan] + " " + filters.tahun);
            $.ajax({
                url: '@(Url.Action("Show"))',
                type: 'GET',
                data: {
                    wilayah: filters.wilayah,
                    jenisPajak: filters.jenisPajak,
                    tahun: filters.tahun,
                    bulan: filters.bulan
                },
                beforeSend: function () {
                    $('#loading2-Show').show();
                    $('#Show').hide();
                },
                success: function (response) {
                    $('#loading2-Show').hide();
                    $('#Show').show().html(response);
                },
                error: function (xhr) {
                    $('#loading2-Show').hide();
                    $('#Show').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
                }
            });
        }

        function fnDetail(jenisPajak) {
            const filters = getFilters();

            $.ajax({
                url: '@(Url.Action("Detail"))',
                type: 'GET',
                data: {
                    wilayah: filters.wilayah,
                    jenisPajak: filters.jenisPajak,
                    tahun: filters.tahun,
                    bulan: filters.bulan
                },
                beforeSend: function () {
                    $('#loading2-Detail').show();
                    $('#Detail').hide();
                },
                success: function (response) {
                    $('#loading2-Detail').hide();
                    $('#Detail').show().html(response);
                },
                error: function (xhr) {
                    $('#loading2-Detail').hide();
                    $('#Detail').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
                }
            });
        }
        function jenisPajakCellTemplate(cellElement, cellInfo) {
            const jenisPajak = cellInfo.data.JenisPajak;
            const jmlWP = cellInfo.data.JmlWP;

            let icon = "bx-bar-chart";
            switch (jenisPajak) {
                case "Pajak Hotel": icon = "bx-building"; break;
                case "Pajak Restoran": icon = "bx-coffee"; break;
                case "Pajak Hiburan": icon = "bx-music"; break;
                case "Pajak Parkir": icon = "bx-car"; break;
                case "Pajak Reklame": icon = "bx-movie"; break;
            }

            const iconHtml = `
                <div class="me-2">
                    <span class="bg-primary bg-opacity-10 text-primary p-2 rounded-circle">
                        <i class="bx ${icon}"></i>
                    </span>
                </div>
            `;

            const textHtml = `
                <div>
                    <div class="fw-bold">${jenisPajak}</div>
                    <small class="text-muted">${jmlWP} wajib pajak</small>
                </div>
            `;

            const wrapper = $('<div>')
                .addClass('d-flex align-items-center')
                .append(iconHtml)
                .append(textHtml);

            $(cellElement).append(wrapper);
        }

    </script>
}
