@model MonPDReborn.Models.DataOP.ProfilePembayaranOPVM.Detail

<div class="row mb-3">
    

    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Data Tahun <span class="badge bg-primary">@Model.TahunKiri</span></h6>
                <select id="tahunKiri" class="form-select form-select-sm w-auto">
                    @for (int i = DateTime.Now.Year - 5; i <= DateTime.Now.Year; i++)
                    {
                        if (i == Model.TahunKiri)
                        {
                            <option value="@i" selected>@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
            </div>
            <div class="card-body p-2" id="tabelKiri">
                @Html.Partial("~/Views/DataOP/ProfilePembayaranOP/_Tabel.cshtml", Model.DataRealisasiKiri)
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Data Tahun <span class="badge bg-primary">@Model.TahunKanan</span></h6>
                <select id="tahunKanan" class="form-select form-select-sm w-auto">
                    @for (int i = DateTime.Now.Year - 5; i <= DateTime.Now.Year; i++)
                    {
                        if (i == Model.TahunKanan)
                        {
                            <option value="@i" selected>@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
            </div>
            <div class="card-body p-2" id="tabelKanan">
                @Html.Partial("~/Views/DataOP/ProfilePembayaranOP/_Tabel.cshtml", Model.DataRealisasiKanan)
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        

    </script>
}