@using MonPDLib.General
@using System.Globalization
@model MonPDReborn.Models.DataOP.ProfileOPVM.Detail
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<input type="hidden" id="DetailNOP" value="@Model.DataDetail.IdentitasPajak.NOP" />
<input type="hidden" id="DetailJenisPajak" value="@((int)Model.Pajak)" />
<div class="card position-relative overflow-hidden mb-4">
    <!-- Header Background Image -->
    <div class="position-relative w-100"
         style="
        height: 200px;
        background: linear-gradient(135deg, rgba(57, 255, 20, 0.3), rgba(0, 255, 255, 0.5), rgba(57, 255, 20, 0.5)),
                    url('https://www.transparenttextures.com/patterns/white-wall-3.png');
        background-blend-mode: overlay;
        background-size: cover;
        border-radius: .5rem;
     ">
    </div>

    <!-- Profile Avatar & Info -->
    <div class="container position-relative" style="margin-top: -100px;">
        <div class="d-flex flex-column align-items-center">
            <div class="avatar-xxl mb-3 position-relative rounded-circle overflow-hidden border border-1 border-dark"
                 style="width:120px; height:120px; background:#fff;">
                <img src="~/assets/images/logosby.png"
                     alt="Logo"
                     style="width: 80%; height: 80%; object-fit: contain; margin: 10%; display: block;">
            </div>
            <div class="text-center">
                <h5 class="mb-1">@Model.DataDetail.IdentitasPajak.NamaObjekPajak</h5>
                <p class="text-muted mb-0">@Model.DataDetail.IdentitasPajak.AlamatLengkap</p>
            </div>
        </div>
    </div>

    <!-- Navigation Tabs -->
    <div class="card bg-info-subtle shadow-none border-0 mt-4">
        <div class="card-body px-4 py-3">
            <ul class="nav nav-pills justify-content-center profile-tab rounded-0" id="profile-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="true">
                        <i class="ri ri-file-user-line fs-5 me-2"></i> Profil
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" onclick="fnPembayaranPajak('@Model.DataDetail.IdentitasPajak.NOP', '@((int)Model.Pajak)')" id="pills-pembayaran-tab" data-bs-toggle="pill" data-bs-target="#pills-pembayaran" type="button" role="tab" aria-controls="pills-pembayaran" aria-selected="false">
                        <i class="ri-funds-fill fs-5 me-2"></i> Pembayaran
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-lokasi-tab" data-bs-toggle="pill" data-bs-target="#pills-lokasi" type="button" role="tab" aria-controls="pills-lokasi" aria-selected="false">
                        <i class="ri ri-map-pin-user-fill fs-5 me-2"></i> Lokasi
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-detail-tab" data-bs-toggle="pill" data-bs-target="#pills-detail" type="button" role="tab" aria-controls="pills-detail" aria-selected="false">
                        <i class="ri ri-file-info-line fs-5 me-2"></i> Detail
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Tab Content Container -->
<div class="tab-content" id="pills-tabContent">
    <!-- Profil Tab -->
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <!-- Identitas Objek Pajak Card -->
        <div class="card mb-4">
            <div class="card bg-soft-secondary border-0 mb-0">
                <div class="card-body px-4 py-3">
                    <h4 class="fw-semibold mb-0">Identitas Objek Pajak</h4>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-semibold">NPWPD</span>
                    <span>@Model.DataDetail.IdentitasPajak.NpwpdNo</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-semibold">Nama Wajib Pajak</span>
                    <span>@Model.DataDetail.IdentitasPajak.NamaNpwpd</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-semibold">Nama Objek Pajak</span>
                    <span>@Model.DataDetail.IdentitasPajak.NamaObjekPajak</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-semibold">Alamat Lengkap</span>
                    <span>@Model.DataDetail.IdentitasPajak.AlamatLengkap</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-semibold">Wilayah Pajak</span>
                    <span>@Model.DataDetail.IdentitasPajak.WilayahPajak</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-semibold">NOP</span>
                    <span>@Model.DataDetail.IdentitasPajak.FormattedNOP</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-semibold">Nama OP</span>
                    <span>@Model.DataDetail.IdentitasPajak.NamaObjekPajak</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-semibold">Telp</span>
                    <span>@Model.DataDetail.IdentitasPajak.Telepon</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-semibold">Tanggal Buka</span>
                    <span>@Model.DataDetail.IdentitasPajak.TanggalBuka.ToString("dd MMMM yyyy", new CultureInfo("id-ID"))</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-semibold">Jenis Objek Pajak</span>
                    <span>@Model.DataDetail.IdentitasPajak.JenisPajak</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-semibold">Jenis Objek Pajak</span>
                    <span>@Model.DataDetail.IdentitasPajak.KategoriPajak</span>
                </li>
            </ul>
        </div>

        <!-- Card Row -->
        <div class="row g-3">
            <!-- Data Perizinan -->
            <div class="col-md-6 col-lg-6">
                <div class="card mb-4">
                    <div class="card bg-soft-secondary border-0">
                        <div class="card-body px-4 py-3">
                            <h4 class="fw-semibold mb-0">Data Perizinan</h4>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between">
                            <span class="fw-semibold">Nomor IMB</span><span>@Model.DataDetail.Perizinan.NomorIMB</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span class="fw-semibold">Tanggal IMB</span><span>@Model.DataDetail.Perizinan.TanggalIMB</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span class="fw-semibold">Nomor SITU/NIB</span><span>@Model.DataDetail.Perizinan.NomorSITU_NIB</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span class="fw-semibold">Nomor Izin Operasional</span><span>@Model.DataDetail.Perizinan.NomorIzinOperasional</span>
                        </li>
                    </ul>
                </div>
            </div>

            @switch (Model.Pajak)
            {
                case EnumFactory.EPajak.MakananMinuman:
                    <!-- Sarana Pendukung -->
                    <div class="col-md-6 col-lg-6">
                        <div class="card mb-4">
                            <div class="card bg-soft-secondary border-0">
                                <div class="card-body px-4 py-3">
                                    <h4 class="fw-semibold mb-0">Sarana Pendukung</h4>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between">
                                    <span class="fw-semibold">Jumlah Karyawan</span><span>@Model.DataDetail.RestoRow.SaranaRestoPendukungRow.JumlahKaryawan</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span class="fw-semibold">Metode Pembayaran</span><span>@Model.DataDetail.RestoRow.SaranaRestoPendukungRow.MetodePembayaran</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span class="fw-semibold">Metode Penjualan</span><span>@Model.DataDetail.RestoRow.SaranaRestoPendukungRow.MetodePenjualan</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    break;

                case EnumFactory.EPajak.TenagaListrik:

                    break;

                case EnumFactory.EPajak.JasaPerhotelan:
                    <div class="col-md-6 col-lg-6">
                        <div class="card mb-4">
                            <div class="card bg-soft-secondary border-0">
                                <div class="card-body px-4 py-3">
                                    <h4 class="fw-semibold mb-0">Sarana Pendukung</h4>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between">
                                    <span class="fw-semibold">Jumlah Karyawan</span><span>@Model.DataDetail.HotelRow.SaranaHotelPendukungRow.JumlahKaryawan</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span class="fw-semibold">MetodePembayaran</span><span>@Model.DataDetail.HotelRow.SaranaHotelPendukungRow.MetodePembayaran</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span class="fw-semibold">MetodePenjualan</span><span>@Model.DataDetail.HotelRow.SaranaHotelPendukungRow.MetodePenjualan</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    break;

                case EnumFactory.EPajak.JasaParkir:

                    break;

                case EnumFactory.EPajak.JasaKesenianHiburan:

                    break;

                case EnumFactory.EPajak.AirTanah:
                    <div class="card mb-4">
                        <div class="card bg-soft-secondary border-0">
                            <div class="card-body px-4 py-3">
                                <h4 class="fw-semibold mb-0">Sarana Pendukung</h4>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <span class="fw-semibold">Kelompok </span><span>@Model.DataDetail.AbtRow.SaranaAbtPendukungRow.KelompokNama</span>
                            </li>
                        </ul>
                    </div>
                    break;

                case EnumFactory.EPajak.Reklame:

                    break;

                case EnumFactory.EPajak.PBB:

                    break;

                case EnumFactory.EPajak.BPHTB:
                    //
                    break;

                case EnumFactory.EPajak.OpsenPkb:
                    //
                    break;

                case EnumFactory.EPajak.OpsenBbnkb:
                    //
                    break;

                default:
                    break;
            }

        </div>
    </div>

    <!-- Lokasi Tab -->
    <div class="tab-pane fade show active" id="pills-pembayaran" role="tabpanel" aria-labelledby="pills-pembayaran-tab">
        <div class="card mb-4">
            <div class="card bg-info-subtle border-0 mb-0">
                <div class="card-header d-flex">
                    <div class="flex-grow-1">
                        <h5 class="card-title fs-16 mb-0">
                            🧾 PEMBAYARAN PAJAK @Model.Pajak.GetDescription().ToUpper() @Model.DataDetail.IdentitasPajak.NamaObjekPajak
                        </h5>

                    </div>
                    <div class="flex-shrink-0">
                        <button class="btn btn-sm btn-outline-info" onclick="fnPembayaranPajak('@Model.DataDetail.IdentitasPajak.NOP', '@((int)Model.Pajak)')">
                            <i class="mdi mdi-refresh align-middle"></i>
                            Refresh
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <div id="loading2-PembayaranPajak" class="spinner-border text-primary" style="display: none">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div id="PembayaranPajak"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Lokasi Tab -->
    <div class="tab-pane fade" id="pills-lokasi" role="tabpanel" aria-labelledby="pills-lokasi-tab">
        <div class="card mb-4">
            <div class="card bg-info-subtle border-0 mb-0">
                <div class="card-body px-4 py-3">
                    <h4 class="fw-semibold mb-0">Lokasi Objek Pajak</h4>
                </div>
            </div>
            <div class="card-body px-0 py-3">
                <iframe width="100%"
                        height="400"
                        style="border:0;"
                        allowfullscreen
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps?q=@(Uri.EscapeDataString(Model.DataDetail.IdentitasPajak.NamaObjekPajak??""))&output=embed">
                </iframe>
            </div>
        </div>
    </div>

    @switch (Model.Pajak)
    {
        case EnumFactory.EPajak.MakananMinuman:
            <!-- Detail Tab -->
            <div class="tab-pane fade" id="pills-detail" role="tabpanel" aria-labelledby="pills-detail-tab">
                <div class="card mb-4">
                    <div class="card bg-info-subtle border-0 mb-0">
                        <div class="card-body px-4 py-3">
                            <h4 class="fw-semibold mb-0">Detail</h4>
                        </div>
                    </div>
                    <div class="card-body px-0 py-3">
                        <div class="row">
                            <!-- Detail Operasional -->
                            <div class="col-lg-12 mb-4">
                                <div class="card-body">
                                    <h5 class="fw-bold">Detail Banquet</h5>
                                    <table class="table table-bordered">
                                        <thead class="table-light text-center">
                                            <tr>
                                                <th>Hari</th>
                                                <th>Jam Buka</th>
                                                <th>JAm Tutup</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var operasional in Model.DataDetail.RestoRow.OperasionalRestoDetailList)
                                            {
                                                <tr>
                                                    <td>@operasional.Hari</td>
                                                    <td class="text-center">@operasional.JamBuka</td>
                                                    <td class="text-center">@operasional.JamTutup</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- Detail Fasilitas -->
                            <div class="col-lg-12 mb-4">
                                <div class="card-body">
                                    <h5 class="fw-bold">Detail Fasilitas</h5>
                                    <table class="table table-bordered">
                                        <thead class="table-light text-center">
                                            <tr>
                                                <td>Nama</td>
                                                <td>Jumlah</td>
                                                <td>Kapasitas</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var fasilitas in Model.DataDetail.RestoRow.FasilitasRestoDetailList)
                                            {
                                                <tr>
                                                    <td>@fasilitas.Nama</td>
                                                    <td class="text-center">@fasilitas.Jumlah</td>
                                                    <td class="text-center">@fasilitas.Kapasitas</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-lg-12 mb-4">
                                <div class="card-body">
                                    <h5 class="fw-bold">Detail Kapasitas</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span class="fw-semibold">Jumlah Meja </span><span>@Model.DataDetail.RestoRow.KapasitasRestoDetailRow.JumlahMeja</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span class="fw-semibold">Jumlah Kursi </span><span>@Model.DataDetail.RestoRow.KapasitasRestoDetailRow.JumlahKursi</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span class="fw-semibold">Kapasitas Ruangan </span><span>@Model.DataDetail.RestoRow.KapasitasRestoDetailRow.KapasitasRuangan</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
            break;

        case EnumFactory.EPajak.TenagaListrik:

            break;

        case EnumFactory.EPajak.JasaPerhotelan:
            <!-- Detail Tab -->
            <div class="tab-pane fade" id="pills-detail" role="tabpanel" aria-labelledby="pills-detail-tab">
                <div class="card mb-4">
                    <div class="card bg-info-subtle border-0 mb-0">
                        <div class="card-body px-4 py-3">
                            <h4 class="fw-semibold mb-0">Detail</h4>
                        </div>
                    </div>
                    <div class="card-body px-0 py-3">
                        <div class="row">
                            <!-- Detail Banquet -->
                            <div class="col-lg-12 mb-4">
                                <div class="card-body">
                                    <h5 class="fw-bold">Detail Banquet</h5>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Nama</th>
                                                <th>Jumlah</th>
                                                <th>Jenis Banquet</th>
                                                <th>Kapasitas</th>
                                                <th>Harga Sewa</th>
                                                <th>Harga Paket</th>
                                                <th>Okupansi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DataDetail.HotelRow.BanquetHotelDetailList)
                                            {
                                                <tr>
                                                    <td>@item.Nama</td>
                                                    <td>@item.Jumlah</td>
                                                    <td>@item.JenisBanquet</td>
                                                    <td>@item.Kapasitas</td>
                                                    <td>@item.HargaSewa.ToString("N0")</td>
                                                    <td>@item.HargaPaket.ToString("N0")</td>
                                                    <td>@item.Okupansi %</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- Detail Fasilitas -->
                            <div class="col-lg-12 mb-4">
                                <div class="card-body">
                                    <h5 class="fw-bold">Detail Fasilitas</h5>
                                    <table class="table table-bordered">
                                        <thead class="table-light text-center">
                                            <tr>
                                                <td>Nama</td>
                                                <td>Jumlah</td>
                                                <td>Kapasitas</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var fasilitas in Model.DataDetail.HotelRow.FasilitasHotelDetailList)
                                            {
                                                <tr>
                                                    <td>@fasilitas.Nama</td>
                                                    <td class="text-center">@fasilitas.Jumlah</td>
                                                    <td class="text-center">@fasilitas.Kapasitas</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- Detail Kamar -->
                            <div class="col-lg-12 mb-4">
                                <div class="card-body">
                                    <h5 class="fw-bold">Detail Kamar</h5>
                                    <table class="table table-bordered">
                                        <thead class="table-light text-center">
                                            <tr>
                                                <th>Tipe Kamar</th>
                                                <th>Jumlah</th>
                                                <th>Tarif per Malam</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var kamar in Model.DataDetail.HotelRow.KamarHotelDetailList)
                                            {
                                                <tr>
                                                    <td>@kamar.Kamar</td>
                                                    <td class="text-center">@kamar.Jumlah</td>
                                                    <td class="text-end">@kamar.Tarif.ToString("C0")</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            break;

        case EnumFactory.EPajak.JasaParkir:

            break;

        case EnumFactory.EPajak.JasaKesenianHiburan:

            break;

        case EnumFactory.EPajak.AirTanah:

            break;

        case EnumFactory.EPajak.Reklame:

            break;

        case EnumFactory.EPajak.PBB:

            break;

        case EnumFactory.EPajak.BPHTB:
            //
            break;

        case EnumFactory.EPajak.OpsenPkb:
            //
            break;

        case EnumFactory.EPajak.OpsenBbnkb:
            //
            break;

        default:
            break;
    }


</div>
@* 
@section Scripts {
    <script>
        $(document).on("change", "#tahunKiri", function () {
            const tahun = $(this).val();
            updateTabel('kiri', tahun);
        });

        $(document).on("change", "#tahunKanan", function () {
            const tahun = $(this).val();
            updateTabel('kanan', tahun);
        });

        function updateTabel(side, tahun) {
            const nop = $('#DetailNOP').val();
            const jenisPajak = $('#DetailJenisPajak').val();

            $.ajax({
                url: '/ProfilePembayaranOP/Detail',
                type: 'GET',
                data: {
                    nop: nop,
                    jenisPajak: jenisPajak,
                    tahun: tahun,
                    side: side
                },
                success: function (html) {
                    if (side === 'kiri') {
                        $('#tabelKiri').html(html);
                    } else if (side === 'kanan') {
                        $('#tabelKanan').html(html);
                    }
                },
                error: function () {
                    alert('Gagal memuat data pembayaran.');
                }
            });
        }

        function fnPembayaranPajak(nop, pajak)
        {
            $.ajax({
              url: '@(Url.Action("Detail", "ProfilePembayaranOP"))',
              data: {
                    nop, pajak
                },
              type: 'GET',
              beforeSend: function () {
                 $('#loading2-PembayaranPajak').show();
                 $('#PembayaranPajak').hide();
              },
              success: function (response) {
                    if (response.Status === undefined) {
                        $('#loading2-PembayaranPajak').hide();
                        $('#PembayaranPajak').show();
                        $('#PembayaranPajak').html(response);
                    }
                    else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
              },
              error: function (xhr, status, error) {
                 $('#loading2-PembayaranPajak').hide();
                 $('#PembayaranPajak').hide();
                 $('#PembayaranPajak').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
              }
           });
        }

    </script>
} *@

@section Scripts {
    <script>
        // Fungsi untuk bind event di _Detail dropdown
        // function attachDetailEvents() {
        //     $("#tahunKiri").off("change").on("change", function () {
        //         let tahun = $(this).val();
        //         loadDetailTabel("#tabelKiri", tahun);
        //     });

        //     $("#tahunKanan").off("change").on("change", function () {
        //         let tahun = $(this).val();
        //         loadDetailTabel("#tabelKanan", tahun);
        //     });
        // }

        $(document).on("change", "#tahunKiri", function () {
            fnPembayaranPajak();
        });

        $(document).on("change", "#tahunKanan", function () {
            fnPembayaranPajak();
        });

         function fnPembayaranPajak() {
            const nop = $('#DetailNOP').val();
            const jenisPajak = $('#DetailJenisPajak').val();
            const tahunKiri = $('#tahunKiri').val() || new Date().getFullYear();   // fallback ke tahun sekarang
            const tahunKanan = $('#tahunKanan').val() || new Date().getFullYear(); // fallback ke tahun sekarang

            $.ajax({
                url: '@Url.Action("Detail", "ProfilePembayaranOP")',
                type: 'GET',
                data: {
                    nop: nop,
                    jenisPajak: jenisPajak,
                    tahunKiri: tahunKiri,
                    tahunKanan: tahunKanan
                },
                beforeSend: function () {
                    $('#loading2-PembayaranPajak').show();
                    $('#PembayaranPajak').hide();
                },
                success: function (response) {
                    $('#loading2-PembayaranPajak').hide();
                    $('#PembayaranPajak').show().html(response);
                },
                error: function () {
                    $('#loading2-PembayaranPajak').hide();
                    $('#PembayaranPajak').show().html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
                }
            });
        }

        // Bind event ke dropdown
        $(document).on("change", "#tahunKiri, #tahunKanan", function () {
            fnPembayaranPajak();
        });

        // Panggil sekali saat halaman load
        $(document).ready(function () {
            fnPembayaranPajak();
        });

    </script>
}

