@model MonPDReborn.Models.DataOP.ProfileOPVM.Index

@{
   
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Dashboard Profil Objek Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-border-top nav-border-top-primary mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#op-rekap" role="tab">
                            Rekap Jumlah OP
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#op-series" role="tab" onclick="fnShowSeries()">
                            Series Jumlah OP
                        </a>
                    </li>
                </ul>

                <div class="tab-content text-muted">
                    <div class="tab-pane active" id="op-rekap" role="tabpanel">
                        <div class="text-center">
                            <div id="loading2-ShowRekap" class="spinner-border text-primary" style="display: none">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="card-title fs-16 mb-0">Rekap Jumlah Objek Pajak</h4>
                            <div class="dropdown">
                                <select id="ddlTahun" class="form-select form-select mb-3 w-auto"
                                        style="background-color: #f0f8ff; color: #333; border-color: #0d6efd;">
                                    <!-- Tahun akan diisi dengan JavaScript -->
                                </select>
                            </div>
                        </div>

                        <div id="ShowRekap"></div>

                        <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="detailModalLabel">
                                            Detail Rekap
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Tutup"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="detailLoading" class="text-center my-4">
                                            <div class="spinner-border text-primary" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>

                                        <div id="detailContainer" class="mt-4" style="display: none;">
                                            @Html.Partial("~/Views/DataOP/ProfileOP/_RekapMaster.cshtml")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="op-series" role="tabpanel">
                        <div class="text-center">
                            <div id="loading2-ShowSeries" class="spinner-border text-primary" style="display: none">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>

                        <div id="ShowSeries"></div>

                        <div class="modal fade" id="detailModalSeries" tabindex="-1" aria-labelledby="detailModalSeriesLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="detailModalSeriesLabel">
                                            Detail Series
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Tutup"></button>
                                    </div>

                                    <div class="modal-body">
                                        <div id="detailLoadingSeries" class="text-center my-4">
                                            <div class="spinner-border text-primary" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>

                                        <div id="detailContainerSeries" class="mt-4" style="display: none;">
                                            @Html.Partial("~/Views/DataOP/ProfileOP/_SeriesMaster.cshtml")
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div> 
    </div>

</div>



@section Scripts{
    <script>
            // Mendapatkan tahun sekarang
        const currentYear = new Date().getFullYear();
        const startYear = 2023;
        const endYear = 2025;
        const ddlTahun = document.getElementById("ddlTahun");

        for (let year = startYear; year <= endYear; year++) {
            const option = document.createElement("option");
            option.value = year;
            option.text = year;
            if (year === currentYear) {
                option.selected = true;
            }
            ddlTahun.appendChild(option);
        }

        $('#ddlTahun').on('change', function () {
            var tahun = $(this).val();
            fnShowRekap("", tahun); // Kirim tahun dan kosongkan keyword jika tidak dipakai
        });

        $(document).ready(function () {
            var tahun = $('#ddlTahun').val(); // ambil default tahun saat page load
            fnShowRekap("", tahun);
            fnShowSeries();
        });

        
        function fnShowRekap(keyword, tahun)
        {
            $.ajax({
                url: '@(Url.Action("ShowRekap"))',
                type: 'GET',
                data: {
                    keyword: keyword || "",   // aman walau undefined/null
                    tahun: tahun || new Date().getFullYear()  // fallback
                },
                beforeSend: function () {
                    $('#loading2-ShowRekap').show();
                    $('#ShowRekap').hide();
                },
                success: function (response) {
                    $('#loading2-ShowRekap').hide();
                    $('#ShowRekap').show().html(response);
                },
                error: function (xhr) {
                    $('#loading2-ShowRekap').hide();
                    $('#ShowRekap').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
                }
            });
        }

        function kategoriSeriesCellTemplate(cellElement, cellInfo) {
            const enumPajak = cellInfo.data.EnumPajak;
            const kategori = cellInfo.data.KategoriId;
            const tahun = cellInfo.column.dataField;
            const button = $('<button>')
                .addClass('btn btn-sm btn-outline-primary me-2')
                .attr('title', 'Lihat Detail')
                .html('<i class="ri-search-line"></i>')
                .on('click', function () {
                    onSeriesClick(enumPajak, kategori, tahun);
                });

            const span = $('<span>').text(cellInfo.value);

            const wrapper = $('<div>')
                .css({ display: 'flex', alignItems: 'center', justifyContent: 'space-between' })
                .append(button)
                .append(span);

            $(cellElement).append(wrapper);
        }

        function fnShowSeries()
        {
            $.ajax({
              url: '@(Url.Action("ShowSeries"))',
              type: 'GET',
              beforeSend: function () {
                 $('#loading2-ShowSeries').show();
                 $('#ShowSeries').hide();
              },
              success: function (response) {
                    if (response.Status === undefined) {
                        $('#loading2-ShowSeries').hide();
                        $('#ShowSeries').show();
                        $('#ShowSeries').html(response);
                    }
                    else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
              },
              error: function (xhr, status, error) {
                 $('#loading2-ShowSeries').hide();
                 $('#ShowSeries').hide();
                 $('#ShowSeries').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
              }
           });
        }
        function onDetail(e) {
            var nop = e.row.data.NOP;
            var pajak = e.row.data.EnumPajak;
            var url = '@Url.Action("Detail", "ProfileOP")'
                        + '?nop=' + nop
                        + '&pajak=' + pajak;
            window.open(url, '_blank');
        }
        // 📌 Rekap Master
        function onDetailClick(enumPajak, kategori, status, tahun) {
            // Tampilkan wrapper & spinner dulu
            $('#detailModal').modal('show');
            $('#detailLoading').show();
            $('#detailContainer').hide();

            $.ajax({
                url: '/ProfileOP/RekapMaster',
                type: 'GET',
                data: {
                    enumPajak: enumPajak,
                    kategori: kategori,
                    status: status,
                    tahun:tahun
                },
                success: function (data) {
                    const grid = $("#detailGrid").dxDataGrid("instance");

                    grid.option("dataSource", data);

                    setTimeout(function () {
                        $("#detailLoading").fadeOut(300, function () {
                            $("#detailContainer").fadeIn(300);
                        });
                    }, 500);

                    // Sembunyikan panel Series
                    $("#detailWrapperSeries").hide();
                },
                error: function () {
                    swal.fire({
                        icon: 'error',
                        title: '<b style="color:orange">Peringatan</b>',
                        text: "❌ Gagal memuat data Rekap."
                    });
                    hideDetail();
                }

            });
        }

        function hideDetail() {
            $("#detailWrapper").slideUp();
        }

        // 📌 Series Master
        function onSeriesClick(enumPajak, kategori, tahun) {
            $('#detailModalSeries').modal('show');
            $("#detailContainerSeries").hide();
            $("#detailLoadingSeries").show();

            $.ajax({
                url: '/ProfileOP/SeriesMaster',
                type: 'GET',
                data: {
                    enumPajak: enumPajak,
                    kategori: kategori,
                    tahun: tahun
                },
                success: function (data) {
                    const grid = $("#SeriesGrid").dxDataGrid("instance");

                    grid.option("dataSource", data);

                    setTimeout(function () {
                        $("#detailLoadingSeries").fadeOut(300, function () {
                            $("#detailContainerSeries").fadeIn(300);
                        });
                    }, 500);

                    // Sembunyikan panel Rekap
                    $("#detailWrapper").hide();
                },
                error: function () {
                    swal.fire({
                        icon: 'error',
                        title: '<b style="color:orange">Peringatan</b>',
                        text: "❌ Gagal memuat data Series."
                    });
                    hideDetailSeries();
                }
            });
        }

        function hideDetailSeries() {
            $("#detailWrapperSeries").slideUp();
        }

        $(document).ready(function () {
            $("#btnCloseDetail").on("click", hideDetail);
            $("#btnCloseDetailSeries").on("click", hideDetailSeries);
        });


      /*  function onSeriesClick(enumPajak, kategori, tahun) {
            $.ajax({
                url: '/ProfileOP/SeriesMaster',
                type: 'GET',
                data: {
                    enumPajak: enumPajak,
                    kategori: kategori,
                    tahun: tahun
                },
                success: function (data) {
                    const grid = $("#SeriesGrid").dxDataGrid("instance"); // ✅ pastikan id nya SeriesGrid
                    grid.option("dataSource", data);

                    $("#detailWrapperSeries").show(); // ✅ tampilkan wrapper detail series
                    $("#detailWrapper").hide();       // ✅ sembunyikan wrapper lama
                },
                error: function (xhr) {
                    swal.fire({
                            icon: 'error',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: "❌ Gagal memuat data Series."
                        })
                }
            });
        }*/




          function onDetailSeries(e) {

              window.open(url, '_blank');
          }
          

    </script>
}