@using MonPDReborn.Models.AktivitasOP
@model RealisasiControlVM.Show

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th rowspan="2" class="text-center align-middle">NO</th>
                <th rowspan="2" class="text-center align-middle">JENIS PAJAK</th>
                <th rowspan="2" class="text-center align-middle">TARGET</th>
                <th colspan="3" class="text-center">PEMBAYARAN BULAN INI</th>
                <th colspan="5" class="text-center">PEMBAYARAN S.D. BULAN INI</th>
            </tr>
            <tr>
                <th class="text-center">AKP</th>
                <th class="text-center">Realisasi</th>
                <th class="text-center">%</th>
                <th class="text-center">AKP</th>
                <th class="text-center">Realisasi</th>
                <th class="text-center">% AKP Target</th>
                <th class="text-center">% AKP Realisasi</th>
                <th class="text-center">% Target</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DataRealisasiList)
            {
                <tr>
                    <td class="text-center">@item.No</td>
                    <td>@item.JenisPajak</td>
                    <td class="text-end">@item.Target.ToString("#,##0")</td>
                    <td class="text-end">@item.PembayaranBulanIni.AKP.ToString("#,##0")</td>
                    <td class="text-end">@item.PembayaranBulanIni.Realisasi.ToString("#,##0")</td>
                    <td class="text-end">@item.PembayaranBulanIni.Persen.ToString("P0")</td>
                    <td class="text-end">@item.PembayaranSDBI.AKP.ToString("#,##0")</td>
                    <td class="text-end">@item.PembayaranSDBI.Realisasi.ToString("#,##0")</td>
                    <td class="text-end">@item.PembayaranSDBI.PersenAkpTarget.ToString("P0")</td>
                    <td class="text-end">@item.PembayaranSDBI.PersenAkpRealisasi.ToString("P0")</td>
                    <td class="text-end">@item.PembayaranSDBI.PersenTarget.ToString("P0")</td>
                </tr>
            }
        </tbody>
    </table>

</div>
