@model MonPDReborn.Models.DataWP.ProfileWPVM.Show

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-1">
                        Profil Wajib Pajak Daerah
                    </h4>
                    <p class="text-muted mb-0">Pemantauan realisasi pajak berdasarkan wilayah dan jenis pajak.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow-sm rounded-xl p-3 text-center">
            <div class="card-body">
                <div class="d-flex justify-content-start align-items-center mb-2">
                    <div class="rounded-circle bg-primary-subtle p-2 me-2">
                        <i class="ri-team-fill text-primary fs-1"></i>
                    </div>
                    <div class="text-start">
                        <h4 class="mb-0 fw-bold">@Model.Data.TotalWP.ToString("N0")</h4>
                        <small class="text-muted">Total Wajib Pajak</small>
                    </div>
                </div>


                <div class="text-start mt-3">
                    <p class="mb-1">Orang Pribadi: <span class="fw-bold">@Model.Data.OrangPribadi.ToString("N0")</span></p>
                    <p class="mb-1">Badan Usaha: <span class="fw-bold">@Model.Data.BadanUsaha.ToString("N0")</span></p>
                    <p class="mb-1">Badan Usaha: <span class="fw-bold">@Model.Data.Temporary.ToString("N0")</span></p>
                </div>

                <div class="progress my-2" style="height: 6px;">
                    <div class="progress-bar bg-primary" role="progressbar"
                         style="width: @Model.Data.PersentaseOrangPribadi.ToString("N0")%;"
                         aria-valuenow="@Model.Data.PersentaseOrangPribadi.ToString("N0")"
                         aria-valuenow="@Model.Data.PersentaseTemporary.ToString("N0")"
                         aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>

                <div class="text-muted small">
                    @Model.Data.PersentaseOrangPribadi.ToString("N2")% Orang Pribadi,
                    @Model.Data.PersentaseBadanUsaha.ToString("N2")% Badan
                    @Model.Data.PersentaseTemporary.ToString("N2")% Temporary
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow-sm rounded-xl p-3 text-center">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle bg-success-subtle p-2 me-2">
                            <i class="ri-user-add-fill  text-success fs-1"></i>
                        </div>
                        <div class="text-start">
                            <h4 class="mb-0 fw-bold">@Model.Data.WPTahun.ToString("N0")</h4>
                            <small class="text-muted">Wajib Pajak Baru</small>
                        </div>
                    </div>
                    <span class="badge bg-light-success fw-semibold fs-5">
                        @Model.Data.Presentase.ToString("N2")%
                    </span>
                </div>

                <div class="text-start mt-3">
                    <p class="mb-1">Bulan Ini: <span class="fw-bold">@Model.Data.WPBulan</span></p>
                    <p class="mb-1">Tahun Ini: <span class="fw-bold">@Model.Data.WPTahun</span></p>
                    <p class="mb-3">Rata-rata/bulan: <span class="fw-bold">@Model.Data.RataWPBulan</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow-sm rounded-xl p-3 text-center">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle bg-purple-subtle p-2 me-2">
                            <i class=" ri-funds-box-fill  text-purple fs-1"></i>
                        </div>
                        <div class="text-start">
                            <h4 class="mb-0 fw-bold">@Model.Data.WPAktif.ToString("N0")</h4>
                            <small class="text-muted">Wajib Pajak Aktif</small>
                        </div>
                    </div>
                    <span class="badge bg-light-purple text-purple fw-semibold">
                        @Model.Data.PersentaseAktif.ToString("N2")%
                    </span>
                </div>

                <div class="text-start mt-3">
                    <p class="mb-1">Aktif: <span class="fw-bold text-success">@Model.Data.WPAktif.ToString("N0")</span></p>
                    <p class="mb-1">Non-Aktif: <span class="fw-bold text-danger">@Model.Data.WPNonAktif.ToString("N0")</span></p>
                </div>

                <div class="progress my-2" style="height: 6px;">
                    <div class="progress-bar bg-purple" role="progressbar"
                         style="width: @Model.Data.PersentaseAktif.ToString("N2")%;"
                         aria-valuenow="@Model.Data.PersentaseAktif.ToString("N2")"
                         aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>

                <div class="text-muted small">
                    Tingkat Keaktifan
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    @(
            Html.DevExtreme().DataGrid<MonPDReborn.Models.DataWP.ProfileWPVM.RekapWP>()
            .ID("rekapWPGrid")
            .DataSource(Model.DataRekapWPList)
            .KeyExpr("NPWPD")
            .ShowBorders(true)
            .ShowColumnLines(true)
            .ShowColumnHeaders(true)
            .AllowColumnResizing(true)
            .ShowRowLines(true)
            .ColumnAutoWidth(true)
            .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
            .FilterRow(f => f.Visible(true))
            .HeaderFilter(h => h.Visible(true))
            .Sorting(s => s.Mode(GridSortingMode.Multiple))
            .Paging(p => p.PageSize(10))
            .Pager(pager =>
            {
                pager.ShowPageSizeSelector(true);
                pager.AllowedPageSizes(new[] { 10, 20, 50 });
                pager.ShowInfo(true);
            })
            .Columns(columns =>
            {

                columns.AddFor(m => m.NPWPD)
            .Caption("NPWPD")
            .CellTemplate(@<text>
        <strong><%= data.NPWPD %></strong>
    </text>);

                columns.AddFor(m => m.Nama)
            .Caption("Nama");

                columns.AddFor(m => m.JenisSubjek)
            .Caption("Jenis Subjek");

                columns.AddFor(m => m.Kontak)
            .Caption("Kontak");

                columns.Add()
            .Caption("Status")
            .CellTemplate(@<text>
        <%
        var status = data.Status;
        var color = status == "Aktif" ? "badge bg-success" : "badge bg-danger";
        %>
        <span class="<%= color %>"><%= status %></span>
    </text>);

                columns.Add()
            .Caption("Aksi")
            .CellTemplate(@<text>
        <button type="button" class="btn btn-sm btn-outline-primary btn-detail"
                data-npwpd="<%= data.NPWPD %>">
            <i class=" ri-search-line "></i>
        </button>
    </text>);
            })
        )
</div>