@model MonPDReborn.Models.DataOP.PenetapanOPVM.Show

<div class="row">
    <div class="col-lg-3">
        <div class="card card-animate shadow-sm rounded-3" style="border-top: 5px solid #00712D; transition: transform 0.3s; height: 100%;">
            <div class="card-body d-flex align-items-center">
                <!-- Icon -->
                <div class="bg-soft-primary rounded-circle d-flex justify-content-center align-items-center me-3" 
                     style="width: 45px; height: 45px; aspect-ratio: 1/1; flex-shrink: 0;">
                    <i class="bx bx-money-withdraw  fs-4 text-primary"></i>
                </div>

                <!-- Text -->
                <div>
                    <div class="text-uppercase fw-bold fs-14 text-muted mb-1">Total Penetapan</div>
                    <div class="fs-16 fw-semibold text-dark">
                        Rp. @Model.StatistikData.TotalNilaiPenetapan.ToString("N0")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card card-animate shadow-sm rounded-3" style="border-top: 5px solid #00712D; transition: transform 0.3s; height: 100%;">
            <div class="card-body d-flex align-items-center">
                <!-- Icon -->
                <div class="bg-soft-primary rounded-circle d-flex justify-content-center align-items-center me-3" 
                     style="width: 45px; height: 45px; aspect-ratio: 1/1; flex-shrink: 0;">
                    <i class="bx bx-file  fs-4 text-primary"></i>
                </div>

                <!-- Text -->
                <div>
                    <div class="text-uppercase fw-bold fs-14 text-muted mb-1">Jumlah SKPD/SPPT</div>
                    <div class="fs-16 fw-semibold text-dark">
                        @Model.StatistikData.JumlahPenetapan.ToString("N0")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card card-animate shadow-sm rounded-3" style="border-top: 5px solid #00712D; transition: transform 0.3s; height: 100%;">
            <div class="card-body d-flex align-items-center">
                <!-- Icon -->
                <div class="bg-soft-primary rounded-circle d-flex justify-content-center align-items-center me-3" 
                     style="width: 45px; height: 45px; aspect-ratio: 1/1; flex-shrink: 0;">
                    <i class=" bx bx-coin  fs-4 text-primary"></i>
                </div>

                <!-- Text -->
                <div>
                    <div class="text-uppercase fw-bold fs-14 text-muted mb-1">Total Bayar</div>
                    <div class="fs-16 fw-semibold text-dark">
                        Rp. @Model.StatistikData.TotalBayar.ToString("N0")
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="card card-animate shadow-sm rounded-3" style="border-top: 5px solid #00712D; transition: transform 0.3s; height: 100%;">
            <div class="card-body d-flex align-items-center">
                <!-- Icon -->
                <div class="bg-soft-primary rounded-circle d-flex justify-content-center align-items-center me-3" 
                     style="width: 45px; height: 45px; aspect-ratio: 1/1; flex-shrink: 0;">
                    <i class="bx bx-money  fs-4 text-primary"></i>
                </div>

                <!-- Text -->
                <div>
                    <div class="text-uppercase fw-bold fs-14 text-muted mb-1">Total Belum Bayar</div>
                    <div class="fs-16 fw-semibold text-dark">
                        Rp. @Model.StatistikData.TotalBelumTerbayar.ToString("N0")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="table-responsive">
    @(Html.DevExtreme().DataGrid<MonPDReborn.Models.DataOP.PenetapanOPVM.PenetapanOP>()
        .ID("penetapanGrid")
        .DataSource(Model.DataPenetapanOPList)
        .KeyExpr("Nop")
        .ShowBorders(true)
        .ShowColumnLines(true)
        .ShowColumnHeaders(true)
        .AllowColumnResizing(true)
        .ShowRowLines(true)
        .ColumnAutoWidth(true)
        .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(h => h.Visible(true))
        .Sorting(s => s.Mode(GridSortingMode.Multiple))
        .Paging(p => p.PageSize(10))
        .Pager(pager =>
        {
            pager.ShowPageSizeSelector(true);
            pager.AllowedPageSizes(new[] { 10, 20, 50 });
            pager.ShowInfo(true);
        })
        .Export(e => e.Enabled(true).AllowExportSelectedData(false).Formats(new[] { "xlsx", "pdf" }))
        .OnExporting("exportGrid")
        .Columns(columns =>
        {
            columns.AddFor(m => m.NoPenetapan).Caption("No. Penetapan");
            columns.AddFor(m => m.FormattedNOP).Caption("NOP");
            columns.AddFor(m => m.NamaWP).Caption("Nama WP");
            columns.AddFor(m => m.Alamat).Caption("Alamat");
            columns.AddFor(m => m.NilaiPenetapan).Caption("Nilai Penetapan").Format("#,##0").Alignment(HorizontalAlignment.Right);
            columns.AddFor(m => m.MasaPajak).Caption("Masa Pajak");
            columns.AddFor(m => m.Status).Caption("Status").CellTemplate(
            @<text>
                <span class='<%=
                    data.Status === "Sudah Dibayar" ? "badge bg-success" : "badge bg-danger" %>'><%= data.Status %>
                </span>
            </text>);

        })
        .Summary(s =>
        {
            s.TotalItems(items =>
            {
                items.AddFor(m => m.Alamat)
                .SummaryType(SummaryType.Sum)
                .Alignment(HorizontalAlignment.Right)
                .DisplayFormat("TOTAL");
                items.AddFor(m => m.NilaiPenetapan)
                .SummaryType(SummaryType.Sum)
                .DisplayFormat("{0}")
                .ValueFormat("#,##0");
            });
        })
        )
</div>