@model MonPDReborn.Models.DataOP.ProfilePotensiOPVM.DetailPotensiPajakResto

@{
    Layout = "_Layout";
    ViewBag.Title = "Detail Potensi Pajak Restoran";
}
<style>
    .bg-red-bright {
        background-color: #FFE5E5; 
        color: #5C0000; 
    }

    .bg-red-light {
        background-color: #FFF5F5;
    }

    .text-red {
        color: #D62828; 
    }

    .border-red {
        border: 2px solid #D62828;
    }

    .card-red-bright {
        background-color: #FFD6D6; color: #5C0000;
        border: 2px solid #D62828;
        border-radius: 8px;
        box-shadow: 0 4px 16px rgba(214, 40, 40, 0.3);
    }

    .card-red-light {
        background-color: #FFEAEA;
        color: #5C0000;
        border: 2px solid #FF6B6B;
        border-radius: 8px;
        box-shadow: 0 4px 16px rgba(255, 107, 107, 0.3);
    }

    .progress-bar-primary-red {
        background-color: #FF6B6B;
    }

    .progress-bar-secondary-red {
        background-color: #FFC4C4;
    }

    .progress-bar-danger-red {
        background-color: #D62828;
    }

    .info-row {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 0.5rem;
        gap: 2rem;
    }

    .label {
        width: 160px;
        flex-shrink: 0;
        font-size: 14px;
        color: #6c757d;
        margin-bottom: 0;
    }

    .value {
        flex-grow: 2;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0;
        white-space: normal;
        word-break: break-word;
    }
</style>
@if (Model != null)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card border-red">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="d-flex p-3">
                                <div class="flex-shrink-0">
                                    <div class="avatar-md me-3">
                                        <span class="avatar-title bg-red-light border-red rounded-circle fs-1">
                                            <i class="ri-restaurant-line text-red"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <h4 class="fs-16 fw-bold text-dark">
                                        @Model.Nama
                                    </h4>
                                    <p class="fs-16 lh-base text-dark">
                                        @Model.Alamat
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-red-bright">
                                <div class="d-flex p-3">
                                    <h3 class="fs-16 fw-semibold text-dark">
                                        Potensi Pajak
                                    </h3>
                                </div>
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-dark flex-grow-1">Per Bulan</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-16 fw-semibold text-dark">@Model.PotensiPajakPerBulanNonCatering.ToString("C")</p>
                                    </div>
                                </div>
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-dark flex-grow-1">Per Tahun</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-16 fw-semibold text-dark">@Model.PotensiPajakPerTahunNonCatering.ToString("C")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="d-flex p-3">
                                <div class="flex-shrink-0 ms-3">
                                    <p class="fs-14 text-muted mb-1">NOP</p>
                                    <p class="fs-14 fw-semibold mb-3">@Model.NOP</p>
                                </div>
                                <div class="flex-shrink-0 ms-5">
                                    <p class="fs-14 text-muted mb-1">Rata-rata Transaksi</p>
                                    <p class="fs-14 fw-semibold mb-3">@Model.RataRataBillPerOrang.ToString("C") / Orang</p>
                                </div>
                               @*  <div class="flex-shrink-0 ms-3">
                                    <p class="fs-14 text-muted mb-1">Rata-rata Pengunjung</p>
                                    <p class="fs-14 fw-semibold mb-3"> / Hari</p>
                                </div> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card">
                <div class="card-header d-flex bg-red-bright">
                    <div class="flex-grow-1">
                        <h4 class="card-title fs-16 mb-0 text-dark">
                            Detail Pengunjung Restoran
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-6 p-3">
                            <div class="card-red-light">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h3 class="fs-18 fw-bold mb-1 text-dark">
                                            @Model.RataRataPengunjungWeekdaysNonCatering.ToString("N0")
                                        </h3>
                                        <h4 class="fs-14 text-dark">
                                            Rata-rata Pengunjung Hari Kerja
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 p-3">
                            <div class="card-red-bright">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h3 class="fs-18 fw-bold mb-1 text-dark">
                                            @Model.RataRataPengunjungWeekendNonCatering.ToString("N0")
                                        </h3>
                                        <h4 class="fs-14 text-dark">
                                            Rata-rata Pengunjung Akhir Pekan
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="d-flex p-3 py-0">
                                <p class="fs-14 text-muted flex-grow-1">Rata-rata Transaksi per Orang</p>
                                <div class="flex-shrink-0">
                                    <p class="fs-14 fw-semibold">@Model.RataRataBillPerOrang.ToString("C")</p>
                                </div>
                            </div>
                            <div class="d-flex p-3 py-0">
                                <p class="fs-14 text-muted flex-grow-1">Perputaran Hari Kerja</p>
                                <div class="flex-shrink-0">
                                    <p class="fs-14 fw-semibold">@Model.TurnoverWeekdaysNonCatering Kali</p>
                                </div>
                            </div>
                            <div class="d-flex p-3 py-0">
                                <p class="fs-14 text-muted flex-grow-1">Perputaran Akhir Pekan</p>
                                <div class="flex-shrink-0">
                                    <p class="fs-14 fw-semibold">@Model.TurnoverWeekendNonCatering Kali</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card border-red">
                                <div class="card-body">
                                    <h4 class="fs-14 fw-semibold mb-2">
                                        Distribusi Pengunjung
                                    </h4>
                                    <div class="d-flex p-0 py-0">
                                        <p class="fs-14 text-muted flex-grow-1">Hari Kerja (22 hari/bulan)</p>
                                        <div class="flex-shrink-0">
                                            <p class="fs-14 fw-semibold">@Model.RataRataPengunjungWeekdaysNonCatering.ToString("N0") Pengunjung</p>
                                        </div>
                                    </div>
                                    <div class="progress mb-4" style="height:20px">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-secondary-red" role="progressbar" aria-valuenow="@Model.RataRataPengunjungWeekdaysNonCatering.ToString("N0")" aria-valuemin="0" aria-valuemax="100" style="width: @Model.RataRataPengunjungWeekdaysNonCatering.ToString("N0")%">@Model.RataRataPengunjungWeekdaysNonCatering.ToString("N0")</div>
                                    </div>
                                    <div class="d-flex p-0 py-0">
                                        <p class="fs-14 text-muted flex-grow-1">Akhir Pekan (8 Hari/bulan)</p>
                                        <div class="flex-shrink-0">
                                            <p class="fs-14 fw-semibold">@Model.RataRataPengunjungWeekendNonCatering.ToString("N0") Pengunjung</p>
                                        </div>
                                    </div>
                                    <div class="progress mb-2" style="height:20px">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-danger-red" role="progressbar" aria-valuenow="@Model.RataRataPengunjungWeekendNonCatering.ToString("N0")" aria-valuemin="0" aria-valuemax="100" style="width: @Model.RataRataPengunjungWeekendNonCatering.ToString("N0")%">@Model.RataRataPengunjungWeekendNonCatering.ToString("N0")</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="card border border-danger border-2">
                                <div class="card-body bg-light bg-opacity-25">
                                    <h4 class="fs-16 fw-semibold mb-2">
                                        Total Pengunjung Hari Kerja per Bulan :
                                    </h4>
                                    <p class="fs-14 text-muted mb-1">
                                        Rata-rata Pengunjung Hari Kerja x 22 Hari
                                    </p>
                                    <p class="fs-14 text-muted mb-2">
                                        @Model.RataRataPengunjungWeekdaysNonCatering.ToString("N0") x 22 =
                                        @{
                                            decimal pengunjungTotalWeekdays = (Model.RataRataPengunjungWeekdaysNonCatering * 22);
                                        } @pengunjungTotalWeekdays.ToString("N0") Pengunjung
                                    </p>
                                    <h4 class="fs-16 fw-semibold mb-1">
                                        Total Pengunjung Akhir Pekan per Bulan :
                                    </h4>
                                    <p class="fs-14 text-muted mb-1">
                                        Rata-rata Pengunjung Akhir Pekan x 8 Hari
                                    </p>
                                    <p class="fs-14 text-muted mb-2">
                                        @Model.RataRataPengunjungWeekendNonCatering.ToString("N0") x 8 =
                                        @{
                                            decimal pengunjungTotalWeekend = (Model.RataRataPengunjungWeekendNonCatering * 8); 
                                        } @pengunjungTotalWeekend.ToString("N0") Pengunjung
                                    </p>
                                    <h4 class="fs-16 fw-semibold mb-1">
                                        Total Pengunjung per Bulan :
                                    </h4>
                                    <p class="fs-14 text-muted">
                                        @pengunjungTotalWeekdays.ToString("N0") + @pengunjungTotalWeekend.ToString("N0") =
                                        @{
                                            decimal totalPengunjung = pengunjungTotalWeekdays + pengunjungTotalWeekend;
                                        } @totalPengunjung.ToString("N0") Pengunjung
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header d-flex bg-red-bright">
                    <div class="flex-grow-1">
                        <h4 class="card-title fs-16 mb-0 text-dark">
                            Detail Omzet Restoran
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 p-3">
                            <div class="card-red-bright">
                                <div class="card-body ">
                                    <div class="p-1">
                                        <h4 class="fs-16 fw-semibold mb-4 text-dark">
                                            Omzet Makan di Tempat
                                        </h4>
                                        <h4 class="fs-16 fw-semibold mb-1 text-dark">
                                            @Model.OmzetPerBulanNonCatering.ToString("C")
                                        </h4>
                                        <p class="fs-14 text-dark">Total Omzet Bulanan</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* <div class="col-lg-6">
                            <div class="card border border-warning border-2">
                                <div class="card-body bg-soft-warning bg-opacity-25">
                                    <div class="p-1">
                                        <h4 class="fs-16 fw-semibold mb-4">
                                            Omzet Tenant/Katering
                                        </h4>
                                        <h4 class="fs-16 fw-semibold mb-1">
                                            Rp 0
                                        </h4>
                                        <p class="fs-14">Tidak ada layanan tenant/katering</p>
                                    </div>
                                </div>
                            </div>
                        </div> *@

                        @* <div class="col-lg-6 p-3">
                            <div class="card-red-light">
                                <div class="card-body">
                                    <h4 class="fs-16 fw-semibold mb-4 text-dark">
                                        Distribusi Omzet Makan di Tempat
                                    </h4>
                                    @{
                                        decimal omzetWeekdays = (Model.RataRataBillPerOrang * Model.RataRataPengunjungWeekdaysNonCatering * 22);
                                        decimal omzetWeekend = (Model.RataRataBillPerOrang * Model.RataRataPengunjungWeekendNonCatering * 8);

                                    }
                                    <!-- Multiple Bars -->
                                    <div class="progress" style="height:20px">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated text-white" role="progressbar" style="width: @omzetWeekdays.ToString("N0")%" aria-valuenow="@omzetWeekdays.ToString("N0")" aria-valuemin="0" aria-valuemax="100">@omzetWeekdays.ToString("N0")</div>
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: @omzetWeekend.ToString("N0")%" aria-valuenow="@omzetWeekend.ToString("N0")" aria-valuemin="0" aria-valuemax="100">@omzetWeekend.ToString("N0")</div>
                                    </div>
                                </div>
                            </div>
                        </div> *@

                        <div class="col-lg-12">
                            <div class="card border-red">
                                <div class="card-body bg-light bg-opacity-25">
                                    <h4 class="fs-16 fw-semibold mb-2">
                                        Perhitungan Omzet Makan di Tempat :
                                    </h4>
                                    <p class="fs-14 text-muted mb-1">
                                        (Rata-rata Transaksi x Rata-rata Pengunjung Hari Kerja x 22) + (Rata-rata Transaksi x Rata-rata Pengunjung Akhir Pekan x 8)
                                    </p>
                                    <p class="fs-14 text-muted mb-1">
                                        (@Model.RataRataBillPerOrang x @Model.RataRataPengunjungWeekdaysNonCatering x 22) + (@Model.RataRataBillPerOrang x @Model.RataRataPengunjungWeekendNonCatering x 8)
                                    </p>
                                    <p class="fs-14 text-muted mb-1">
                                        @{
                                            decimal billPerOrang = Model.RataRataBillPerOrang;
                                            decimal pengunjungWeekdays = Model.RataRataPengunjungWeekdaysNonCatering;
                                            decimal pengunjungWeekend = Model.RataRataPengunjungWeekendNonCatering;

                                            decimal total = (billPerOrang * pengunjungWeekdays * 22) +
                                            (billPerOrang * pengunjungWeekend * 8);
                                        }
                                    </p>
                                    <p class="fs-14 text-muted mb-2">
                                        @total.ToString("C")
                                    </p>
                                    <h4 class="fs-16 fw-semibold mb-1">
                                        Total Pengunjung Hari Kerja per Bulan :
                                    </h4>
                                    <p class="fs-14 text-muted mb-1">
                                        Rata-rata Pengunjung Hari Kerja x 22 Hari
                                    </p>
                                    <p class="fs-14 text-muted mb-2">
                                        @Model.RataRataPengunjungWeekdaysNonCatering x 8 =
                                        @{
                                            decimal harikerja = Model.RataRataPengunjungWeekdaysNonCatering;
                                            decimal totalWeekdays = (harikerja * 22);
                                        } @totalWeekdays.ToString("N0") Pengunjung
                                    </p>
                                    <h4 class="fs-16 fw-semibold mb-1">
                                        Total Pengunjung Akhir Pekan per Bulan :
                                    </h4>
                                    <p class="fs-14 text-muted mb-1">
                                        Rata-rata Pengunjung Akhir Pekan x 8 Hari
                                    </p>
                                    <p class="fs-14 text-muted mb-2">
                                        @Model.RataRataPengunjungWeekendNonCatering x 8 = 
                                        @{
                                            decimal akhirpekan = Model.RataRataPengunjungWeekendNonCatering;
                                            decimal totalWeekend = (akhirpekan * 8); 
                                        } @totalWeekend.ToString("N0") Pengunjung
                                    </p>
                                    <h4 class="fs-16 fw-semibold mb-1">
                                        Total Pengunjung per Bulan :
                                    </h4>
                                    <p class="fs-14 text-muted">
                                        @totalWeekdays.ToString("N0") + @totalWeekend.ToString("N0") = 
                                        @{
                                            decimal totalBulan = totalWeekdays + totalWeekend;
                                        } @totalBulan.ToString("N0") Pengunjung
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header d-flex bg-red-bright">
                    <div class="flex-grow-1">
                        <h4 class="card-title fs-16 mb-0 text-dark">
                            Perhitungan Potensi Pajak
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card border-red">
                                <div class="card-body">
                                    <h4 class="fs-16 fw-semibold mb-2">
                                        Rumus Perhitungan Potensi Pajak Per Bulan :
                                    </h4>
                                    <p class="fs-14 text-muted font-monospace mb-1">
                                        Omzet Bulanan x 10%
                                    </p>
                                    <p class="fs-14 text-muted mb-2">
                                        @Model.OmzetPerBulanNonCatering.ToString("C") x 10% = 
                                        @{
                                            decimal omzetBulan = (Model.OmzetPerBulanNonCatering * Model.TarifPajak);
                                        } @omzetBulan.ToString("C")
                                    </p>
                                    <h4 class="fs-16 fw-semibold mb-2">
                                        Rumus Perhitungan Potensi Pajak Per Tahun :
                                    </h4>
                                    <p class="fs-14 text-muted font-monospace mb-1">
                                        Potensi Pajak Per Bulan x 12
                                    </p>
                                    <p class="fs-14 text-muted mb-2">
                                        @omzetBulan.ToString("C") x 12 =
                                        @{
                                            decimal potensiTahun = (omzetBulan * 12);
                                        } @potensiTahun.ToString("C")
                                    </p>
                                    <h4 class="fs-16 fw-semibold mb-2">
                                        Total Potensi Pajak Per Tahun : @potensiTahun.ToString("C")
                                    </h4>
                                </div>
                            </div>
                        </div>
                        @* <div class="col-lg-6">
                            <div class="card border border-danger border-2">
                                <div class="card-body">
                                    <h4 class="fs-16 fw-semibold mb-3">
                                        Distribusi Omzet Bulanan
                                    </h4>
                                    <!-- Multiple Bars -->
                                    <div class="progress mb-3" style="height:20px">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 93%" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100">93%</div>
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 7%" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100">7%</div>
                                    </div>
                                    <div class="d-flex mb-5">
                                        <h6 class="px-4"><span class="badge bg-primary">93%</span> = Hari Kerja</h6>
                                        <div class="flex-shrink-0">
                                            <h6><span class="badge bg-secondary">7%</span> = Akhir Pekan</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card border border-danger border-2">
                                <div class="card-body">
                                    <h4 class="fs-16 fw-semibold mb-3">
                                        Potensi Pajak per Bulan
                                    </h4>
                                    <h4 class="fs-16 fw-semibold mb-2">
                                        0
                                    </h4>
                                    <div class="d-flex">
                                        <p class="fs-14 text-muted flex-grow-1">Makan di Tempat</p>
                                        <div class="flex-shrink-0">
                                            <p class="fs-14 fw-semibold">Rp 0</p>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <p class="fs-14 text-muted flex-grow-1">Tenant/Katering</p>
                                        <div class="flex-shrink-0">
                                            <p class="fs-14 fw-semibold">Rp 0</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header d-flex bg-red-bright">
                    <div class="flex-grow-1">
                        <h4 class="card-title fs-16 mb-0 text-dark">
                            Ringkasan
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex mb-2">
                        <p class="label">NOP</p>
                        <p class="value">@Model.NOP</p>
                    </div>
                    <div class="d-flex mb-2">
                        <p class="label">Nama Restoran</p>
                        <p class="value">@Model.Nama</p>
                    </div>
                    <div class="d-flex mb-2">
                        <p class="label">Alamat</p>
                        <p class="value">@Model.Alamat</p>
                    </div>
                    <div class="d-flex mb-2">
                        <p class="label">Rata-rata Transaksi</p>
                        <p class="value">@Model.RataRataBillPerOrang.ToString("C") /Orang</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header d-flex bg-red-bright">
                    <div class="flex-grow-1">
                        <h4 class="card-title fs-16 mb-0 text-dark">
                            Potensi Pajak
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 p-3">
                            <div class="card-red-bright">
                                <div class="card-body">
                                    <h4 class="card-title fs-14 mb-4 text-dark">
                                        Potensi Pajak per Bulan
                                    </h4>
                                    <h4 class="fw-bold fs-18 mb-0 text-dark">
                                        @Model.PotensiPajakPerBulanNonCatering.ToString("C")
                                    </h4>
                                    <p class="fs-12 text-dark">10% dari omzet bulanan</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card-red-bright">
                                <div class="card-body">
                                    <h4 class="card-title fs-14 mb-4 text-dark">
                                        Potensi Pajak per Tahun
                                    </h4>
                                    <h4 class="fw-bold fs-18 mb-0 text-dark">
                                        @Model.PotensiPajakPerTahunNonCatering.ToString("C")
                                    </h4>
                                    <p class="fs-12 text-dark">Proyeksi untuk 12 bulan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header d-flex bg-red-bright">
                    <div class="flex-grow-1">
                        <h4 class="card-title fs-16 mb-0 text-dark">
                            Parameter Perhitungan
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="info-row">
                        <p class="label">Rata-rata Transaksi per Orang</p>
                        <p class="value">@Model.RataRataBillPerOrang.ToString("C")</p>
                    </div>
                    <div class="info-row">
                        <p class="label">Perputaran Hari Kerja</p>
                        <p class="value">@Model.TurnoverWeekdaysNonCatering kali</p>
                    </div>
                    <div class="info-row">
                        <p class="label">Perputaran Akhir Pekan</p>
                        <p class="value">@Model.TurnoverWeekendNonCatering kali</p>
                    </div>
                    <div class="info-row">
                        <p class="label">Rata-rata Pengunjung Hari Kerja</p>
                        <p class="value">@Model.RataRataPengunjungWeekdaysNonCatering.ToString("N0") Orang</p>
                    </div>
                    <div class="info-row">
                        <p class="label">Rata-rata Pengunjung Akhir Pekan</p>
                        <p class="value">@Model.RataRataPengunjungWeekendNonCatering.ToString("N0") Orang</p>
                    </div>
                    <div class="info-row">
                        <p class="label">Hari Kerja per Bulan</p>
                        <p class="value">22 Hari</p>
                    </div>
                    <div class="info-row">
                        <p class="label">Hari Kerja per Tahun</p>
                        <p class="value">8 Hari</p>
                    </div>
                    <div class="info-row">
                        <p class="label">Tarif Pajak</p>
                        <p class="value">@Model.TarifPajak.ToString("P0")</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex bg-red-bright">
                    <div class="flex-grow-1">
                        <h4 class="card-title fs-16 mb-0 text-dark">
                            Rumus Lengkap Perhitungan Potensi Pajak (Non-Catering)
                        </h4>
                    </div>
                </div>

                <div class="card-body">

                    <h4 class="fs-16 fw-semibold text-dark mb-3">Perhitungan Omzet Tenant/Non-Catering</h4>

                    <p class="fs-14 text-muted font-monospace mb-1">
                        Rata-Rata Pengunjung (Weekdays) = Jumlah Kursi x Turnover Weekdays
                    </p>
                    <p class="fs-14 text-dark mb-2 fw-bold">
                        = @Model.JumlahKursi.ToString("N0") x @Model.TurnoverWeekdaysNonCatering.ToString("N1") = @Model.RataRataPengunjungWeekdaysNonCatering.ToString("N0") orang
                    </p>

                    <p class="fs-14 text-muted font-monospace mb-1">
                        Rata-Rata Pengunjung (Weekend) = Jumlah Kursi x Turnover Weekend
                    </p>
                    <p class="fs-14 text-dark mb-2 fw-bold">
                        = @Model.JumlahKursi.ToString("N0") x @Model.TurnoverWeekendNonCatering.ToString("N1") = @Model.RataRataPengunjungWeekendNonCatering.ToString("N0") orang
                    </p>

                    <p class="fs-14 text-muted font-monospace mb-1">
                        Omzet/Bulan = (Rata-Rata Bill/Orang x Pengunjung Weekdays x 22) + (Rata-Rata Bill/Orang x Pengunjung Weekend x 8)
                    </p>
                    <p class="fs-14 text-dark mb-3 fw-bold">
                        = (@Model.RataRataBillPerOrang.ToString("C") x @Model.RataRataPengunjungWeekdaysNonCatering.ToString("N0") x 22) +
                        (@Model.RataRataBillPerOrang.ToString("C") x @Model.RataRataPengunjungWeekendNonCatering.ToString("N0") x 8) =
                        @Model.OmzetPerBulanNonCatering.ToString("C")
                    </p>

                    <hr>

                    <h4 class="fs-16 fw-bold text-dark mb-3">Perhitungan Potensi Pajak</h4>

                    <p class="fs-14 text-muted font-monospace mb-1">
                        Potensi Pajak/Bulan = Omzet/Bulan x Tarif Pajak
                    </p>
                    <p class="fs-14  mb-2 fw-bold text-dark">
                        = @Model.OmzetPerBulanNonCatering.ToString("C") x @Model.TarifPajak.ToString("P0") = @Model.PotensiPajakPerBulanNonCatering.ToString("C")
                    </p>

                    <p class="fs-14 text-muted font-monospace mb-1">
                        Potensi Pajak/Tahun = Potensi Pajak/Bulan x 12
                    </p>
                    <p class="fs-14 fw-bold text-dark">
                        = @Model.PotensiPajakPerBulanNonCatering.ToString("C") x 12 = @Model.PotensiPajakPerTahunNonCatering.ToString("C")
                    </p>

                </div>

            </div>
        </div>


        @* <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex bg-soft-danger">
                    <div class="flex-grow-1">
                        <h4 class="card-title fs-16 mb-0">
                            Rumus Lengkap Perhitungan Potensi Pajak
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="fs-14 fw-semibold mb-2">
                        P = (((Rata-rata Transaksi per orang x Rata-rata Pengunjung Hari Kerja x 22 Hari) + (Rata-rata Transaksi per Orang x Rata-rata Pengunjung Akhir Pekan x 8 Hari)) x 10%) x 12
                    </h4>
                    <h4 class="fs-14 fw-semibold mb-2">
                        P = (((c x f x 22) + (c x g x 8)) x 10%) x 12
                    </h4>
                    <h4 class="fs-14 fw-semibold mb-2">
                        P = (((0 x 0 x 22) + (0 x 0 x 8)) x 10%) x 12
                    </h4>
                    <h4 class="fs-14 fw-semibold mb-2">
                        P = ((0 x 0) x 10%) x 12
                    </h4>
                    <h4 class="fs-14 fw-semibold mb-2">
                        P = (0 x 10%) x 12
                    </h4>
                    <h4 class="fs-14 fw-semibold mb-2">
                        P = 0 x 12
                    </h4>
                    <h4 class="fs-14 fw-semibold mb-2">
                        P = Rp 0
                    </h4>
                </div>
            </div>
        </div> *@
</div>

}else
{
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <div class="card text-center shadow-sm border-0">
                    <div class="card-body">
                        <img src="~/images/coming-soon-img.png" alt="Tidak Ada Data" class="img-fluid mb-4" style="max-width: 180px;" />
                        <h5 class="card-title text-danger">Data Tidak Ditemukan</h5>
                        <p class="card-text text-muted">
                            Maaf, data yang Anda cari belum tersedia atau tidak ditemukan.
                            @* Coba ubah filter atau periksa kembali input Anda. *@
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
