@using MonPDReborn.Models.DataOP
@model ProfilePotensiOPVM.DetailPotensiPajakParkir

@{
    Layout = "_Layout";
    ViewData["Title"] = "Detail Potensi Parkir";
}

@*<div class="row">

    <div class="col-lg-12">
        <div class="card border border-secondary border-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="d-flex p-3">
                            <div class="flex-shrink-0">
                                <div class="avatar-md me-3">
                                    <span class="avatar-title bg-soft-secondary rounded-circle fs-1">
                                        <i class="ri-parking-line text-secondary"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <h4 class="fs-16 fw-semibold">
                                    @Model.DataDasar.NamaWP
                                </h4>
                                <p class="fs-16 lh-base">
                                    @Model.DataDasar.Alamat
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex p-3">
                            <h3 class="fs-16 fw-semibold">
                                Potensi Pajak
                            </h3>
                        </div>
                        <div class="d-flex p-3 py-0">
                            <p class="fs-14 text-muted flex-grow-1">Per Bulan</p>
                            <div class="flex-shrink-0">
                                <p class="fs-16 fw-semibold">@Model.DataPotensi.PotensiBulanan.ToString("C")</p>
                            </div>
                        </div>
                        <div class="d-flex p-3 py-0">
                            <p class="fs-14 text-muted flex-grow-1">Per Tahun</p>
                            <div class="flex-shrink-0">
                                <p class="fs-16 fw-semibold">@Model.DataPotensi.PotensiTahunan.ToString("C")</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="d-flex p-3">
                            <div class="flex-shrink-0 ms-3">
                                <p class="fs-14 text-muted mb-1">NOP</p>
                                <p class="fs-14 fw-semibold mb-3">@Model.DataDasar.NOP</p>
                            </div>
                            <div class="flex-shrink-0 ms-5">
                                <p class="fs-14 text-muted mb-1">Total Kapasitas</p>
                                <p class="fs-14 fw-semibold mb-3">@Model.DataDasar.TotalKapasitas</p>
                            </div>
                            <div class="flex-shrink-0 ms-3">
                                <p class="fs-14 text-muted mb-1">Turnover</p>
                                <p class="fs-14 fw-semibold mb-3">0,00 Hari Kerja | 0,00 Akhir Pekan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8">

        <div class="card">
            <div class="card-header d-flex bg-soft-secondary">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Kapasitas Parkir dan Tarif
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex p-3">
                                    <div class="flex-shrink-0">
                                        <div class="avatar-sm me-3">
                                            <span class="avatar-title bg-soft-secondary rounded-circle">
                                                <i class="ri-e-bike-fill text-secondary" style="font-size: 16px;"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-grow-1 align-items-center">
                                        <div>
                                            <h4 class="fs-14 fw-semibold mb-1">Sepeda Motor</h4>
                                            <p class="fs-14 lh-base mb-0">Kapasitas : @Model.DataKapasitas.KapasitasMotor Unit</p>
                                        </div>
                                        <div class="ms-auto my-auto">
                                            <p class="fs-14 fw-semibold mb-0">@Model.DataKapasitas.TarifMotor.ToString("C")</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex p-3">
                                    <div class="flex-shrink-0">
                                        <div class="avatar-sm me-3">
                                            <span class="avatar-title bg-soft-secondary rounded-circle">
                                                <i class="ri-car-fill text-secondary" style="font-size: 16px;"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-grow-1 align-items-center">
                                        <div>
                                            <h4 class="fs-14 fw-semibold mb-1">Mobil</h4>
                                            <p class="fs-14 lh-base mb-0">Kapasitas : @Model.DataKapasitas.KapasitasMobil Unit</p>
                                        </div>
                                        <div class="ms-auto my-auto">
                                            <p class="fs-14 fw-semibold mb-0">@Model.DataKapasitas.TarifMobil.ToString("C")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card border border-secondary border-2">
                            <div class="card-body bg-light bg-opacity-25">
                                <h4 class="fs-16 fw-semibold mb-3">
                                    Distribusi Kapasitas
                                </h4>
                                <!-- Multiple Bars -->
                                <div class="progress mb-4" style="height:20px">
                                    <div class="progress-bar" role="progressbar"
                                         style="width: @Model.DataDasar.PersenKapasitasMotor.ToString("F0")%;"
                                         aria-valuenow="@Model.DataDasar.PersenKapasitasMotor.ToString("F0")"
                                         aria-valuemin="0" aria-valuemax="100">
                                        @Model.DataDasar.PersenKapasitasMotor.ToString("N0")%
                                    </div>
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: @Model.DataDasar.PersenKapasitasMobil.ToString("F0")%;"
                                         aria-valuenow="@Model.DataDasar.PersenKapasitasMobil.ToString("F0")"
                                         aria-valuemin="0" aria-valuemax="100">
                                        @Model.DataDasar.PersenKapasitasMobil.ToString("N0")%
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <h6 class="px-3 fs-6">
                                        <span class="badge bg-primary">@Model.DataDasar.PersenKapasitasMotor.ToString("N0")%</span> = Motor
                                    </h6>
                                    <h6 class="px-3 fs-6">
                                        <span class="badge bg-info">@Model.DataDasar.PersenKapasitasMobil.ToString("N0")%</span> = Mobil
                                    </h6>
                                </div>
                                <br />

                                <h4 class="fs-14 fw-semibold mb-3 text-center mb-1">
                                    Total Kapasitas @Model.DataDasar.TotalKapasitas.ToString("N0") Kendaraan
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card border border-secondary border-2">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <i class="avatar-md ri-information-line text-secondary fs-3"></i>
                                    </div>
                                    <div class="flex-grow-1 px-3 mt-2">
                                        <h4 class="fs-16 fw-semibold mb-1">
                                            Informasi Turnover
                                        </h4>
                                    </div>
                                </div>
                                <p class="fs-14 text-muted mb-1">
                                    Turnover parkir menunjukan tingkat pergantian kendaraan yang parkir. Tempat parkir memiliki turnover 0,00 pada hari kerja dan 0,00 pada akhir pekan. Turnover tersebut menunjukan aktivitas parkir yang lebih tinggi pada akhir pekan.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex bg-soft-secondary">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Detail Kendaraan Terparkir
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="card border border-secondary border-2">
                            <div class="card-body bg-soft-secondary bg-opacity-25">
                                <div class="text-center">
                                    <h3 class="fs-18 fw-semibold mb-1">
                                        @Model.DataKapasitas.TotalTerparkirHariKerja
                                    </h3>
                                    <h4 class="fs-14">
                                        Kendaraan terparkir Hari Kerja
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card border border-warning border-2">
                            <div class="card-body bg-soft-warning bg-opacity-25">
                                <div class="text-center">
                                    <h3 class="fs-18 fw-semibold mb-1">
                                        @Model.DataKapasitas.TotalTerparkirAkhirPekan
                                    </h3>
                                    <h4 class="fs-14">
                                        Kendaraan Terparkir Akhir Pekan
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-bordered table-striped">
                                    <thead class="table-secondary">
                                        <tr>
                                            <th>Jenis Kendaraan</th>
                                            <th>Kapasitas</th>
                                            <th>Terparkir (Hari Kerja)</th>
                                            <th>Terparkir (Akhir Pekan)</th>
                                            <th>Tarif</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Motor</td>
                                            <td>@Model.DataKapasitas.KapasitasMotor.ToString("N0")</td>
                                            <td>@Model.DataKapasitas.TerpakaiMotorHariKerja.ToString("N0")</td>
                                            <td>@Model.DataKapasitas.TerpakaiMotorAkhirPekan.ToString("N0")</td>
                                            <td class="text-end">@Model.DataKapasitas.TarifMotor.ToString("C")</td>
                                        </tr>
                                        <tr>
                                            <td>Mobil</td>
                                            <td>@Model.DataKapasitas.KapasitasMobil.ToString("N0")</td>
                                            <td>@Model.DataKapasitas.TerpakaiMobilHariKerja.ToString("N0")</td>
                                            <td>@Model.DataKapasitas.TerpakaiMobilAkhirPekan.ToString("N0")</td>
                                            <td class="text-end">@Model.DataKapasitas.TarifMobil.ToString("C")</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="flex-grow-1">
                                    <h4 class="card-title fs-14 mb-0">
                                        Sepeda Motor
                                    </h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Kapasitas</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">@Model.DataDasar.KapasitasMotor Unit</p>
                                    </div>
                                </div>
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Terparkir Hari Kerja</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">@Model.DataKapasitas.TerpakaiMotorHariKerja Unit (@Model.DataKapasitas.PersenMotorHariKerja%)</p>
                                    </div>
                                </div>
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Terparkir Akhir Pekan</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">@Model.DataKapasitas.TerpakaiMotorAkhirPekan Unit (@Model.DataKapasitas.PersenMotorAkhirPekan%)</p>
                                    </div>
                                </div>
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Tarif</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">@Model.DataKapasitas.TarifMotor.ToString("C")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="flex-grow-1">
                                    <h4 class="card-title fs-14 mb-0">
                                        Mobil
                                    </h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Kapasitas</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">@Model.DataKapasitas.KapasitasMobil Unit</p>
                                    </div>
                                </div>
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Terparkir Hari Kerja</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">@Model.DataKapasitas.TerpakaiMobilHariKerja Unit (@Model.DataKapasitas.PersenMobilHariKerja%)</p>
                                    </div>
                                </div>
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Terparkir Akhir Pekan</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">@Model.DataKapasitas.TerpakaiMobilAkhirPekan Unit (@Model.DataKapasitas.PersenMobilAkhirPekan%)</p>
                                    </div>
                                </div>
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Tarif</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">@Model.DataKapasitas.TarifMobil.ToString("C")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header d-flex bg-soft-secondary">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Detail Omzet
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="avatar-sm me-3 mb-2">
                                    <span class="avatar-title bg-soft-secondary rounded-circle">
                                        <i class="ri-e-bike-fill text-secondary" style="font-size: 16px;"></i>
                                    </span>
                                </div>
                                <h4 class="fs-14 fw-semibold mb-2">
                                    @Model.DataPotensi.OmzetMotor.ToString("C")
                                </h4>
                                <p class="fs-12 text-muted mb-1">
                                    Omzet Sepeda Motor
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="avatar-sm me-3 mb-2">
                                    <span class="avatar-title bg-soft-secondary rounded-circle">
                                        <i class="ri-car-fill text-secondary" style="font-size: 16px;"></i>
                                    </span>
                                </div>
                                <h4 class="fs-14 fw-semibold mb-2">
                                    @Model.DataPotensi.OmzetMobil.ToString("C")
                                </h4>
                                <p class="fs-12 text-muted mb-1">
                                    Omzet Mobil
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card border border-secondary border-2 h-100">
                            <div class="card-body bg-soft-secondary bg-opacity-25 d-flex flex-column justify-content-center">
                                <h4 class="fs-16 fw-semibold mb-3 text-center">
                                    Total Omzet Bulanan
                                </h4>
                                <h4 class="fs-22 fw-bold mb-1 text-center">
                                    @Model.DataPotensi.TotalOmzetBulanan.ToString("C")
                                </h4>
                                <p class="fs-14 text-muted mb-1 text-center">Total pendapatan dari parkir</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card border border-secondary border-2 mt-3">
                            <div class="card-body bg-light bg-opacity-25">
                                <h4 class="fs-16 fw-semibold mb-2">
                                    Perhitungan Omzet Sepeda Motor :
                                </h4>
                                <p class="fs-14 text-muted mb-1 font-monospace">
                                    (@Model.DataKapasitas.TerpakaiMotorHariKerja.ToString("N0") x @Model.DataKapasitas.TarifMotor.ToString("C") x 22 Hari) + (@Model.DataKapasitas.TerpakaiMotorAkhirPekan.ToString("N0") x @Model.DataKapasitas.TarifMotor.ToString("C") x 8 Hari)
                                </p>
                                <p class="fs-14 text-muted mb-3 fw-semibold">
                                    = @Model.DataPotensi.OmzetMotor.ToString("C")
                                </p>

                                <h4 class="fs-16 fw-semibold mb-2">
                                    Perhitungan Omzet Mobil :
                                </h4>
                                <p class="fs-14 text-muted mb-1 font-monospace">
                                    (@Model.DataKapasitas.TerpakaiMobilHariKerja.ToString("N0") x @Model.DataKapasitas.TarifMobil.ToString("C") x 22 Hari) + (@Model.DataKapasitas.TerpakaiMobilAkhirPekan.ToString("N0") x @Model.DataKapasitas.TarifMobil.ToString("C") x 8 Hari)
                                </p>
                                <p class="fs-14 text-muted mb-3 fw-semibold">
                                    = @Model.DataPotensi.OmzetMobil.ToString("C")
                                </p>

                                <hr>

                                <h4 class="fs-16 fw-semibold mb-2">
                                    Total Omzet Bulanan :
                                </h4>
                                <p class="fs-14 text-muted mb-1 font-monospace">
                                    Omzet Sepeda Motor + Omzet Mobil
                                </p>
                                <p class="fs-14 text-muted mb-2 fw-semibold">
                                    @Model.DataPotensi.OmzetMotor.ToString("C") + @Model.DataPotensi.OmzetMobil.ToString("C") = @Model.DataPotensi.TotalOmzetBulanan.ToString("C")
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex bg-soft-secondary">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Perhitungan Potensi Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card border border-secondary border-2">
                            <div class="card-body bg-light bg-opacity-25">
                                <h4 class="fs-16 fw-semibold mb-2">
                                    Rumus Potensi Pajak per Bulan:
                                </h4>
                                <p class="fs-14 text-muted mb-1 font-monospace">
                                    Total Omzet Bulanan x Tarif Pajak
                                </p>
                                <p class="fs-14 text-muted mb-3 fw-semibold">
                                    @Model.DataPotensi.TotalOmzetBulanan.ToString("C0") x @ProfilePotensiOPVM.PotensiPajak.TarifPajak.ToString("P0") = @Model.DataPotensi.PotensiBulanan.ToString("C0")
                                </p>
                                <hr>
                                <h4 class="fs-16 fw-semibold mb-2">
                                    Rumus Potensi Pajak per Tahun:
                                </h4>
                                <p class="fs-14 text-muted mb-1 font-monospace">
                                    Potensi Pajak per Bulan x 12
                                </p>
                                <p class="fs-14 text-muted mb-3 fw-semibold">
                                    @Model.DataPotensi.PotensiBulanan.ToString("C0") x 12 = @Model.DataPotensi.PotensiTahunan.ToString("C0")
                                </p>
                                <hr>
                                <h4 class="fs-16 fw-semibold mb-2 text-end">
                                    Total Potensi Pajak per Tahun: <span class="text-success">@Model.DataPotensi.PotensiTahunan.ToString("C0")</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-4">

        <div class="card">
            <div class="card-header d-flex bg-soft-secondary">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Ringkasan
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">NOP</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">@Model.DataDasar.NOP</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Nama Usaha</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">@Model.DataDasar.NamaWP</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Alamat</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">@Model.DataDasar.Alamat</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Total Kapasitas</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">@Model.DataDasar.TotalKapasitas Kendaraan</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex bg-soft-secondary">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Potensi Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card border border-secondary border-2">
                            <div class="card-body bg-secondary bg-opacity-25">
                                <h4 class="card-title fs-14 mb-4">
                                    Potensi Pajak per Bulan
                                </h4>
                                <h4 class="card-title fs-18 mb-0">
                                    @Model.DataPotensi.PotensiBulanan.ToString("C")
                                </h4>
                                <p class="fs-12">10% dari omzet bulanan</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card border border-secondary border-2">
                            <div class="card-body bg-secondary bg-opacity-25">
                                <h4 class="card-title fs-14 mb-4">
                                    Potensi Pajak per Tahun
                                </h4>
                                <h4 class="card-title fs-18 mb-0">
                                    @Model.DataPotensi.PotensiTahunan.ToString("C")
                                </h4>
                                <p class="fs-12">Proyeksi untuk 12 bulan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex bg-soft-secondary">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Visualisasi Parkir
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <h4 class="fs-14 fw-semibold mb-2">
                    Sepeda Motor
                </h4>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Kapasitas: @Model.DataKapasitas.KapasitasMotor.ToString("N0") Unit</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">Terpakai @Model.DataKapasitas.TerpakaiMotorHariKerja.ToString("N0") Unit (Hari Kerja)</p>
                    </div>
                </div>
                <div class="progress mb-2" style="height:20px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                         aria-valuenow="@Model.DataKapasitas.PersenMotorHariKerja.ToString("F0")"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width: @Model.DataKapasitas.PersenMotorHariKerja.ToString("F0")%">
                        @Model.DataKapasitas.PersenMotorHariKerja.ToString("N0")%
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Kapasitas: @Model.DataKapasitas.KapasitasMotor.ToString("N0") Unit</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">Terpakai @Model.DataKapasitas.TerpakaiMotorAkhirPekan.ToString("N0") Unit (Akhir Pekan)</p>
                    </div>
                </div>
                <div class="progress" style="height:20px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                         aria-valuenow="@Model.DataKapasitas.PersenMotorAkhirPekan.ToString("F0")"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width: @Model.DataKapasitas.PersenMotorAkhirPekan.ToString("F0")%">
                        @Model.DataKapasitas.PersenMotorAkhirPekan.ToString("N0")%
                    </div>
                </div>
                <hr class="my-4">

                <h4 class="fs-14 fw-semibold mb-2">
                    Mobil
                </h4>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Kapasitas: @Model.DataKapasitas.KapasitasMobil.ToString("N0") Unit</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">Terpakai @Model.DataKapasitas.TerpakaiMobilHariKerja.ToString("N0") Unit (Hari Kerja)</p>
                    </div>
                </div>
                <div class="progress mb-2" style="height:20px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                         aria-valuenow="@Model.DataKapasitas.PersenMobilHariKerja.ToString("F0")"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width: @Model.DataKapasitas.PersenMobilHariKerja.ToString("F0")%">
                        @Model.DataKapasitas.PersenMobilHariKerja.ToString("N0")%
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Kapasitas: @Model.DataKapasitas.KapasitasMobil.ToString("N0") Unit</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">Terpakai @Model.DataKapasitas.TerpakaiMobilAkhirPekan.ToString("N0") Unit (Akhir Pekan)</p>
                    </div>
                </div>
                <div class="progress" style="height:20px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                         aria-valuenow="@Model.DataKapasitas.PersenMobilAkhirPekan.ToString("F0")"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width: @Model.DataKapasitas.PersenMobilAkhirPekan.ToString("F0")%">
                        @Model.DataKapasitas.PersenMobilAkhirPekan.ToString("N0")%
                    </div>
                </div>
                <hr class="my-4">

                <h4 class="fs-14 mb-2 text-center">
                    Total Kendaraan Terparkir per Hari
                </h4>
                <h4 class="fs-16 fw-semibold mb-2 text-center">
                    @Model.DataKapasitas.TotalTerparkirHariKerja.ToString("N0") Unit (Hari Kerja) | @Model.DataKapasitas.TotalTerparkirAkhirPekan.ToString("N0") Unit (Akhir Pekan)
                </h4>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex bg-soft-secondary">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Parameter Perhitungan
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Turnover Hari Kerja</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">0,00 Kali</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Turnover Akhir Pekan</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">0,00 Kali</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Hari Kerja per Bulan</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">22 Hari</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Akhir Pekan per Bulan</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">8 Hari</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Tarif Pajak</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">10%</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-12">

        <div class="card">
            <div class="card-header d-flex bg-soft-secondary">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Rumus Lengkap Perhitungan Potensi Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <h4 class="fs-14 fw-semibold mb-2">
                    P = (((Motor Terparkir Hari Kerja x Tarif Motor X 22 Hari) + (Motor Terparkir Akhir Pekan x Tarif Motor x 8 Hari)) + ((Mobil Terparkir Hari Kerja x Tarif Mobil x 22 Hari) + (Mobil Terparkir Akhir Pekan x Tarif Mobil x 8 Hari)) x Tarif Pajak) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-2">
                    P = (((k x m X 22 Hari) + (l x m x 8 Hari)) + ((p x r x 22 Hari) + (q x r x 8 Hari)) x Tarif Pajak) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-2">
                    P = (((0 x 0 X 22 Hari) + (0 x 0 x 8 Hari)) + ((0 x 0 x 22 Hari) + (0 x 0 x 8 Hari)) x 10%) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-2">
                    P = (((0 + 0) + (0 + 0)) x 10%) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-2">
                    P = ((0 + 0) x 10%) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-2">
                    P = (0 x 10%) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-2">
                    P = 0 x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-2">
                    P = Rp 0
                </h4>
            </div>
        </div>

    </div>

</div> *@