@model MonPDReborn.Models.DataOP.ProfilePotensiOPVM.DetailPotensiPajakABT
@{
    ViewBag.Title = "Detail Potensi Pajak Air Tanah";

}
@if (Model != null)
{
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row gx-lg-5">

                        <div class="col-xl-12">
                            <div class="mt-xl-0 mt-5">
                                <div class="d-flex align-items-center mb-3">
                                    <!-- Logo di kiri -->
                                    <div class="me-3">
                                        <img src="/icon/abt.png" alt="Logo" style="height:56px; width:auto;">
                                    </div>

                                    <!-- Teks di kanan -->
                                    <div class="flex-grow-1">
                                        <h4 class="text-primary d-block fs-20 fw-bold">@Model.Nama</h4>
                                        <div class="hstack gap-3 flex-wrap">
                                            <div class="text-body fw-medium fs-14">@Model.FormattedNOP</div>
                                            <div class="vr"></div>
                                            <div class="text-body fw-medium fs-14">@Model.Alamat</div>
                                            <div class="vr"></div>
                                            <div class="text-body fw-medium fs-14">@Model.KelompokNama</div>
                                            <div class="vr"></div>
                                            <div class="text-body fw-medium fs-14 text-decoration-underline" style="cursor: pointer" onclick="window.open('/ProfileOP/Detail?nop=@Model.NOP&pajak=6', '_blank')">
                                                <i class="ri-external-link-line align-middle me-1"></i> Realisasi
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Card baris bawah -->
                                <div class="row mt-4">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="p-2 border border-success rounded">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar-sm me-2">
                                                    <div class="avatar-title rounded bg-transparent text-success fs-24">
                                                        <i class="ri-exchange-line"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <p class="text-muted mb-1">Rata - rata Volume Penggunaan :</p>
                                                    <div class="text-body fw-medium fs-14">@Model.VolumeRata.ToString("N0") M³</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @{
                                        var total = Model.PajakAir * 12;
                                    }
                                    <!-- lanjut col lainnya... -->
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="p-2 border border-success rounded">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar-sm me-2">
                                                    <div class="avatar-title rounded bg-transparent text-success fs-24">
                                                        <i class="ri-file-copy-2-fill"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <p class="text-muted mb-1">Total Potensi Air Bawah Tanah :</p>
                                                    <div class="text-body fw-medium fs-14">Rp. @total.ToString("N0") / 1 tahun</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                </div>

                                <hr />

                                <div class="product-content mt-2">
                                    <nav>
                                        <ul class="nav nav-tabs nav-tabs-custom nav-success" id="nav-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="nav-speci-tab" data-bs-toggle="tab" href="#nav-speci" role="tab" aria-controls="nav-speci" aria-selected="true">
                                                    <i class="ri-wallet-line align-middle me-1"></i>Potensi
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    @{
                                        var detail = Model.DetailPerhitungan; // List<DetailPerhitunganABT>
                                        var totalVolume = detail.Sum(x => x.Volume);
                                        var colors = new[] { "bg-primary", "bg-info", "bg-warning", "bg-danger", "bg-success" };
                                    }
                                    <div class="tab-content border border-top-0 p-4" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-speci" role="tabpanel" aria-labelledby="nav-speci-tab">
                                            <div class="card-header d-flex bg-header-color align-items-center">
                                                <div class="flex-grow-1">
                                                    <h4 class="card-title text-black fs-16 mb-0">Detail Harga Dasar Air</h4>
                                                </div>
                                            </div>
                                            @for (int i = 0; i < detail.Count; i++)
                                            {
                                                var item = detail[i];
                                                <div class="d-flex p-3 py-0">
                                                    <p class="fs-14 text-muted flex-grow-1">Range @(i + 1)</p>
                                                    <div class="flex-shrink-0">
                                                        <p class="fs-16 fw-semibold">Rp @item.HDA.ToString("n2")</p>
                                                    </div>
                                                </div>
                                                @if (i != detail.Count - 1)
                                                {
                                                    <hr />
                                                }
                                            }

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="card mt-2">
                                                        <div class="card-body py-2">
                                                            <small class="text-dark-50">HDA = Harga Dasar Air yang ditetapkan berdasarkan range volume penggunaan</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @{

                                                var tarif = Model.TarifPajakPersen;
                                            }
                                            <div class="card-header d-flex bg-header-color align-items-center">
                                                <div class="flex-grow-1">
                                                    <h4 class="card-title text-black fs-16 mb-0">Nilai Perolehan Air (NPA)</h4>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                @for (int i = 0; i < detail.Count; i++)
                                                {
                                                    var item = detail[i];
                                                    var npa = item.Volume * item.HDA;
                                                    <div class="d-flex p-3 py-0">
                                                        <p class="fs-14 text-muted flex-grow-1">NPA Range @(i + 1)</p>
                                                        <div class="flex-shrink-0">
                                                            <p class="fs-16 fw-semibold">Rp @npa.ToString("n0")</p>
                                                        </div>
                                                    </div>
                                                    @if (i != detail.Count - 1)
                                                    {
                                                        <hr />
                                                    }
                                                }

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="card mt-2">
                                                            <div class="card-body py-2">
                                                                <div class="d-flex p-3 py-0">
                                                                    <p class="fs-14 text-muted flex-grow-1">Total NPA</p>
                                                                    <div class="flex-shrink-0">
                                                                        <p class="fs-16 fw-semibold">Rp @Model.TotalNPA.ToString("n0")</p>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex p-3 py-0">
                                                                    <p class="fs-14 text-muted flex-grow-1">Pajak Air (@tarif.ToString("n0")%)</p>
                                                                    <div class="flex-shrink-0">
                                                                        <p class="fs-16 fw-semibold">Rp @Model.PajakAir.ToString("n0")</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
}
else
{
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <div class="card text-center shadow-sm border-0">
                    <div class="card-body">
                        <img src="~/assets/images/coming-soon-img.png" alt="Tidak Ada Data" class="img-fluid mb-4" style="max-width: 180px;" />
                        <h5 class="card-title text-danger">Data Tidak Ditemukan</h5>
                        <p class="card-text text-muted">
                            Maaf, data yang Anda cari belum tersedia atau tidak ditemukan.
                            @* Coba ubah filter atau periksa kembali input Anda. *@
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    <script>
        function renderSimplePieChart() {
            const chartEl = document.querySelector("#simple_pie_chart");
            const colors = JSON.parse(chartEl.getAttribute("data-colors")).map(function(value) {
                const newValue = value.replace("--", "");
                return getComputedStyle(document.documentElement).getPropertyValue(`--${newValue}`).trim() || value;
            });

            const options = {
                chart: {
                    type: 'pie',
                    height: 320
                },
                series: [44, 33, 54, 12, 20], // Ubah sesuai data Anda
                labels: ['Produk A', 'Produk B', 'Produk C', 'Produk D', 'Produk E'],
                colors: colors,
                legend: {
                    position: 'bottom'
                }
            };

            const chart = new ApexCharts(chartEl, options);
            chart.render();
        }

        // Panggil fungsi saat halaman dimuat
        document.addEventListener("DOMContentLoaded", renderSimplePieChart);
    </script>
    <script>
        function renderColumnChart() {
            const chartEl = document.querySelector("#column_chart");
            const colors = JSON.parse(chartEl.getAttribute("data-colors")).map(function(value) {
                const cssVar = value.replace("--", "");
                return getComputedStyle(document.documentElement).getPropertyValue(`--${cssVar}`).trim() || value;
            });

            const options = {
                chart: {
                    type: 'bar',
                    height: 350
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                        columnWidth: '45%',
                        endingShape: 'rounded'
                    },
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    show: true,
                    width: 2,
                    colors: ['transparent']
                },
                series: [
                    {
                        name: 'Produk A',
                        data: [44, 55, 41, 67, 22, 43, 21]
                    },
                    {
                        name: 'Produk B',
                        data: [13, 23, 20, 8, 13, 27, 33]
                    },
                    {
                        name: 'Produk C',
                        data: [11, 17, 15, 15, 21, 14, 15]
                    }
                ],
                colors: colors,
                xaxis: {
                    categories: ['Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab', 'Min']
                },
                fill: {
                    opacity: 1
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return val + " unit";
                        }
                    }
                },
                legend: {
                    position: 'top'
                }
            };

            const chart = new ApexCharts(chartEl, options);
            chart.render();
        }

        // Jalankan saat halaman dimuat
        document.addEventListener("DOMContentLoaded", renderColumnChart);
    </script>
}