@model MonPDReborn.Models.DataOP.ProfilePotensiOPVM.DetailPotensiPajakResto

@{
    Layout = "_Layout";
    ViewBag.Title = "Detail Potensi Pajak Catering";
}

@if (Model != null)
{
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row gx-lg-5">

                        <div class="col-xl-12">
                            <div class="mt-xl-0 mt-5">
                                <div class="d-flex align-items-center mb-3">
                                    <!-- Logo di kiri -->
                                    <div class="me-3">
                                        <img src="/icon/restoran.png" alt="Logo" style="height:48px; width:auto;">
                                    </div>

                                    <!-- Teks di kanan -->
                                    <div class="flex-grow-1">
                                        <h4 class="text-primary d-block fs-20 fw-bold">@Model.Nama</h4>
                                        <div class="hstack gap-3 flex-wrap">
                                            <div class="text-body fw-medium fs-14">@Model.FormattedNOP</div>
                                            <div class="vr"></div>
                                            <div class="text-body fw-medium fs-14">@Model.Alamat</div>
                                            <div class="vr"></div>
                                            <div class="text-body fw-medium fs-14 text-decoration-underline" style="cursor: pointer" onclick="window.open('/ProfileOP/Detail?nop=@Model.NOP&pajak=1', '_blank')">
                                                <i class="ri-external-link-line align-middle me-1"></i> Realisasi
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Card baris bawah -->
                                <div class="row mt-4">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="p-2 border border-success rounded">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar-sm me-2">
                                                    <div class="avatar-title rounded bg-transparent text-success fs-24">
                                                        <i class="ri-exchange-line"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <p class="text-muted mb-1">Potensi per Bulan :</p>
                                                    <div class="text-body fw-medium fs-14">Rp. @Model.PotensiPajakPerBulanCatering.ToString("N0")</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- lanjut col lainnya... -->
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="p-2 border border-success rounded">
                                            <div class="d-flex align-items-center">
                                                <div class="avatar-sm me-2">
                                                    <div class="avatar-title rounded bg-transparent text-success fs-24">
                                                        <i class="ri-file-copy-2-fill"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <p class="text-muted mb-1">Potensi per Tahun :</p>
                                                    <div class="text-body fw-medium fs-14">Rp. @Model.PotensiPajakPerTahunCatering.ToString("N0")</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                    
                                </div>

                                <hr />

                                <div class="product-content mt-2">
                                    <nav>
                                        <ul class="nav nav-tabs nav-tabs-custom nav-success" id="nav-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="nav-speci-tab" data-bs-toggle="tab" href="#nav-speci" role="tab" aria-controls="nav-speci" aria-selected="true">
                                                    <i class="ri-wallet-line align-middle me-1"></i>Potensi
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="nav-detail-tab" data-bs-toggle="tab" href="#nav-detail" role="tab" aria-controls="nav-detail" aria-selected="false">
                                                    <i class="ri-shield-user-line align-middle me-1"></i>Detail
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <div class="tab-content border border-top-0 p-4" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-speci" role="tabpanel" aria-labelledby="nav-speci-tab">
                                            <table class="table mb-0">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row" style="width: 200px;">Potensi Pajak/Bulan</th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">Omzet Bulanan x Tarif Pajak</td>
                                                    </tr>

                                                    <tr>
                                                        <th scope="row" style="width: 200px;"></th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">((Rata-Rata Bill/Orang x Terjual Weekdays x 22 Hari) + (Rata-Rata Bill/Orang x Terjual Weekend x 8 Hari)) x Tarif Pajak</td>
                                                    </tr>

                                                    <tr>
                                                        <th scope="row" style="width: 200px;"></th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">
                                                            ((Rp. @Model.RataRataBillPerOrang.ToString("N0") x @Model.RataRataTerjualWeekdaysCatering.ToString("N0") Terjual x 22 Hari) +
                                                                (Rp. @Model.RataRataBillPerOrang.ToString("N0") x @Model.RataRataTerjualWeekendCatering.ToString("N0") Terjual x 8 Hari)) x Tarif Pajak
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th scope="row" style="width: 200px;"></th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">Rp. @Model.OmzetPerBulanCatering.ToString("N0") x @Model.TarifPajak.ToString("P0")</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 200px;"></th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">Rp. @Model.PotensiPajakPerBulanCatering.ToString("N0")</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 200px;">Potensi Pajak/Tahun</th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">Potensi Pajak/Bulan x @Model.BulanSisa Bulan</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 200px;"></th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">Rp. @Model.PotensiPajakPerBulanCatering.ToString("N0") x @Model.BulanSisa Bulan</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 200px;"></th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">Rp. @Model.PotensiPajakPerTahunCatering.ToString("N0")</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
                                            <table class="table mb-0">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row" style="width: 200px;">Rata-rata Transaksi per Orang</th>
                                                        <th scope="row" style="width: 20px;">:</th>
                                                        <td class="text-body fw-medium">Rp. @Model.RataRataBillPerOrang.ToString("N0")</td>
                                                    </tr>

                                                    <tr>
                                                        <th scope="row" style="width: 200px;">Turnover Weekdays</th>
                                                        <th scope="row" style="width: 20px;">:</th>
                                                        <td class="text-body fw-medium">
                                                            @Model.TurnoverWeekdaysCatering.ToString("N2") Kali
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th scope="row" style="width: 200px;">Turnover Weekend</th>
                                                        <th scope="row" style="width: 20px;">:</th>
                                                        <td class="text-body fw-medium">@Model.TurnoverWeekendCatering.ToString("N2") Kali</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 200px;">Kapasitas Tenant/Catering</th>
                                                        <th scope="row" style="width: 20px;">:</th>
                                                        <td class="text-body fw-medium">@Model.KapasitasTenantCatering.ToString("N0")</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            @{
                                                decimal terjualWeekdays = (Model.RataRataTerjualWeekdaysCatering * 22);
                                                decimal terjualWeekend = (Model.RataRataTerjualWeekendCatering * 8);
                                                decimal terjualBulan = terjualWeekdays + terjualWeekend;

                                                var persenTerjualWeekdaysCatering = (terjualBulan == 0 ? 0 :
                                                terjualWeekdays / terjualBulan * 100)
                                                .ToString("0.##", System.Globalization.CultureInfo.InvariantCulture);
                                            }

                                            <hr />
                                            <table class="table mb-0">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row" style="width: 200px;">Rata-rata Terjual Weekdays</th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">Kapasitas Tenant x Turnover Weekdays</td>
                                                    </tr>

                                                    <tr>
                                                        <th scope="row" style="width: 200px;"></th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">
                                                            @Model.KapasitasTenantCatering.ToString("N0") x @Model.TurnoverWeekdaysCatering.ToString("N2") Kali
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th scope="row" style="width: 200px;"></th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">
                                                            @Model.RataRataTerjualWeekdaysCatering.ToString("N0") Terjual
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th scope="row" style="width: 200px;">Rata-Rata Terjual Weekend</th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">Jumlah Kursi x Turnover Weekend</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 200px;"></th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">@Model.KapasitasTenantCatering.ToString("N0") x @Model.TurnoverWeekendCatering.ToString("N2") Kali</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 200px;"></th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">@Model.RataRataTerjualWeekendCatering.ToString("N0") Terjual</td>
                                                    </tr>

                                                    <tr>
                                                        <th scope="row" style="width: 200px;">Terjual per Bulan</th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">
                                                            (Rata-Rata Bill/Orang x Rata-Rata Terjual Weekdays x 22 Hari)
                                                            + (Rata-Rata Bill/Orang x Rata-Rata Terjual Weekend x 8 Hari)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 200px;"></th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">
                                                            (@Model.RataRataTerjualWeekdaysCatering.ToString("N0") Terjual x 22 Hari)
                                                            + (@Model.RataRataTerjualWeekendCatering.ToString("N0") Terjual x 8 Hari)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 200px;"></th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">@terjualWeekdays.ToString("N0") + @terjualWeekend.ToString("N0")</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" style="width: 200px;"></th>
                                                        <th scope="row" style="width: 20px;">=</th>
                                                        <td class="text-body fw-medium">@terjualBulan.ToString("N0") Terjual</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
}
else
{
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <div class="card text-center shadow-sm border-0">
                    <div class="card-body">
                        <img src="~/assets/images/coming-soon-img.png" alt="Tidak Ada Data" class="img-fluid mb-4" style="max-width: 180px;" />
                        <h5 class="card-title text-danger">Data Tidak Ditemukan</h5>
                        <p class="card-text text-muted">
                            Maaf, data yang Anda cari belum tersedia atau tidak ditemukan.
                            @* Coba ubah filter atau periksa kembali input Anda. *@
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}