@model MonPDReborn.Models.DataOP.ProfilePotensiOPVM.DetailPotensiPajakHiburan

@{
    Layout = "_Layout";
}

<div class="row">

    <div class="col-lg-12">
        <div class="card border border-success border-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="d-flex p-3">
                            <div class="flex-shrink-0">
                                <div class="avatar-md me-3">
                                    <span class="avatar-title bg-soft-success rounded-circle fs-1">
                                        <i class="ri-open-arm-fill text-success"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <h4 class="fs-16 fw-semibold">
                                    @Model.Nama
                                </h4>
                                <p class="fs-16 lh-base">
                                    @Model.Alamat
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex p-3">
                            <h3 class="fs-16 fw-semibold">
                                Potensi Pajak
                            </h3>
                        </div>
                        <div class="d-flex p-3 py-0">
                            <p class="fs-14 text-muted flex-grow-1">Per Bulan</p>
                            <div class="flex-shrink-0">
                                <p class="fs-16 fw-semibold">Rp @Model.PotensiPajakPerBulanLainnya.ToString("N0")</p>
                            </div>
                        </div>
                        <div class="d-flex p-3 py-0">
                            <p class="fs-14 text-muted flex-grow-1">Per Tahun</p>
                            <div class="flex-shrink-0">
                                <p class="fs-16 fw-semibold">Rp @Model.PotensiPajakPerTahunLainnya.ToString("N0")</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="d-flex p-3">
                            <div class="flex-shrink-0 ms-3">
                                <p class="fs-14 text-muted mb-1">NOP</p>
                                <p class="fs-14 fw-semibold mb-3">@Model.NOP</p>
                            </div>
                            <div class="flex-shrink-0 ms-5">
                                <p class="fs-14 text-muted mb-1">Kapasitas Pengunjung</p>
                                <p class="fs-14 fw-semibold mb-3">@Model.Kapasitas Pengunjung</p>
                            </div>
                            <div class="flex-shrink-0 ms-3">
                                <p class="fs-14 text-muted mb-1">Harga Tiket</p>
                                <p class="fs-14 fw-semibold mb-3">Rp 0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-8">

        <div class="card">
            <div class="card-header d-flex bg-soft-success">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Detail Kunjungan
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="card border border-success border-2">
                            <div class="card-body bg-soft-success bg-opacity-25">
                                <div class="text-center">
                                    <h3 class="fs-18 fw-semibold mb-1">
                                        @Model.JumlahPengunjungWeekdaysLainnya
                                    </h3>
                                    <h4 class="fs-14">
                                        Rata-rata Kunjungan Hari Kerja
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card border border-warning border-2">
                            <div class="card-body bg-soft-warning bg-opacity-25">
                                <div class="text-center">
                                    <h3 class="fs-18 fw-semibold mb-1">
                                        @Model.JumlahPengunjungWeekendLainnya
                                    </h3>
                                    <h4 class="fs-14">
                                        Rata-rata Kunjungan Akhir Pekan
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Kapasitas Pengunjung</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">@Model.Kapasitas Orang</p>
                                    </div>
                                </div>
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Turnover Hari Kerja</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">@Model.TurnoverWeekdays.ToString("P2") Kali</p>
                                    </div>
                                </div>
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Turnover Akhir Pekan</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">@Model.TurnoverWeekend.ToString("P2") Kali</p>
                                    </div>
                                </div>
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Rata-rata Member Bulanan</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">@Model.RataRataPengunjung Orang</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card border border-success border-2">
                            <div class="card-body bg-light bg-opacity-25">
                                <h4 class="fs-16 fw-semibold mb-2">
                                    Perhitungan Rata-rata Kunjungan Hari Kerja :
                                </h4>
                                <p class="fs-14 text-muted mb-1">
                                    Kapasitas Pengunjung x Turnover Hari Kerja
                                </p>
                                <p class="fs-14 text-muted mb-2">
                                    @Model.Kapasitas x @Model.TurnoverWeekdays.ToString("P2") = @Model.JumlahPengunjungWeekdaysLainnya Pengunjung
                                </p>
                                <h4 class="fs-16 fw-semibold mb-2">
                                    Perhitungan Rata-rata Kunjungan Akhir Pekan :
                                </h4>
                                <p class="fs-14 text-muted mb-1">
                                    Kapasitas Pengunjung x Turnover Akhir Pekan
                                </p>
                                <p class="fs-14 text-muted mb-1">
                                    @Model.Kapasitas x @Model.TurnoverWeekend.ToString("P2") = @Model.JumlahPengunjungWeekendLainnya Pengunjung
                                </p>
                                <h4 class="fs-16 fw-semibold mb-2">
                                    Perhitungan Rata-rata Member Bulanan :
                                </h4>
                                <p class="fs-14 text-muted mb-1">
                                    ((Rata-rata Kunjungan Hari kerja x 22 Hari) + (Rata-rata Kunjungan Akhir Pekan x 8 Hari))/12
                                </p>
                                <p class="fs-14 text-muted mb-2">
                                    ((@Model.JumlahPengunjungWeekdaysLainnya x 22) + (@Model.JumlahPengunjungWeekendLainnya x 8))/12 = @Model.RataRataPengunjung Member
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex bg-soft-success">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Detail Omzet
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Harga Tiket Masuk Hari Kerja</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">Rp @Model.HTMWeekdays.ToString("N0")</p>
                                    </div>
                                </div>
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Harga Tiket Masuk Akhir Pekan</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">Rp @Model.HTMWeekend.ToString("N0")</p>
                                    </div>
                                </div>
                                <div class="d-flex p-3 py-0">
                                    <p class="fs-14 text-muted flex-grow-1">Harga Member Bulanan</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold">Rp 0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card border border-success border-2">
                            <div class="card-body bg-soft-success bg-opacity-25">
                                <div class="p-1">
                                    <h4 class="fs-16 fw-semibold mb-4">
                                        Omzet Bulanan
                                    </h4>
                                    <h4 class="fs-16 fw-semibold mb-1">
                                        Rp @Model.OmzetPerBulanLainnya.ToString("N0")
                                    </h4>
                                    <p class="fs-14 text-muted mb-2">Total pendapatan dari layanan</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="fs-16 fw-semibold mb-3">
                                    Distribusi Omzet Bulanan
                                </h4>
                                <!-- Multiple Bars -->
                                <div class="progress mb-4" style="height:20px">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @Model.OmzetWeekdaysLainnya.ToString("P2")" aria-valuenow="@Model.OmzetWeekdaysLainnya.ToString("N0")" aria-valuemin="0" aria-valuemax="100">@Model.OmzetWeekdaysLainnya.ToString("P2")</div>
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: @Model.OmzetWeekendLainnya.ToString("P2")" aria-valuenow="@Model.OmzetWeekendLainnya.ToString("N0")" aria-valuemin="0" aria-valuemax="100">@Model.OmzetWeekendLainnya.ToString("P2")</div>
                                </div>
                                <div class="d-flex">
                                    <h6 class="px-4 fs-6"><span class="badge bg-primary">@Model.OmzetWeekdaysLainnya.ToString("P2")</span> = Hari Kerja</h6>
                                    <div class="flex-shrink-0">
                                        <h6 class="fs-6"><span class="badge bg-secondary">@Model.OmzetWeekendLainnya.ToString("P2")</span> = Akhir Pekan</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card border border-success border-2">
                            <div class="card-body bg-light bg-opacity-25">
                                <h4 class="fs-16 fw-semibold mb-2">
                                    Perhitungan Omzet Hari Kerja :
                                </h4>
                                <p class="fs-14 text-muted mb-1">
                                    Harga Tiket Hari Kerja x Rata-rata Kunjungan Hari Kerja x 22 Hari
                                </p>
                                <p class="fs-14 text-muted mb-2">
                                    Rp @Model.HTMWeekdays.ToString("N0") x @Model.JumlahPengunjungWeekdaysLainnya x 22 = Rp 0
                                </p>
                                <h4 class="fs-16 fw-semibold mb-2">
                                    Perhitungan Omzet Akhir Pekan :
                                </h4>
                                <p class="fs-14 text-muted mb-1">
                                    Harga Tiket Akhir Pekan x Rata-rata Kunjungan Akhir Pekan x 8 Hari
                                </p>
                                <p class="fs-14 text-muted mb-2">
                                    Rp @Model.HTMWeekend.ToString("N0") x @Model.JumlahPengunjungWeekendLainnya x 8 = Rp @Model.OmzetWeekendLainnya.ToString("N0")
                                </p>
                                <h4 class="fs-16 fw-semibold mb-2">
                                    Total Omzet Bulanan :
                                </h4>
                                <p class="fs-14 text-muted mb-1">
                                    Omzet Hari Kerja + Omzet Akhir Pekan
                                </p>
                                <p class="fs-14 text-muted mb-2">
                                    Rp @Model.OmzetWeekdaysLainnya.ToString("N0") + Rp @Model.OmzetWeekendLainnya.ToString("N0") = Rp @Model.OmzetPerBulanLainnya.ToString("N0")
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex bg-soft-success">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Perhitungan Potensi Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="card border border-warning border-2">
                            <div class="card-body bg-soft-warning bg-opacity-25">
                                <p class="fs-14 mb-2 text-center">
                                    Tarif Pajak Hiburan Khusus
                                </p>
                                <h4 class="fs-18 fw-semibold mb-2 text-center">
                                    @Model.TarifPajak.ToString("P0")
                                </h4>
                                <p class="fs-14 mb-2 text-center">
                                    Berlaku untuk kategori usaha ini
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card border border-success border-2">
                            <div class="card-body bg-light bg-opacity-25">
                                <h4 class="fs-16 fw-semibold mb-2">
                                    Rumus Perhitungan Potensi Pajak per Bulan
                                </h4>
                                <p class="fs-14 text-muted mb-1">
                                    Omzet Bulanan x Tarif Pajak
                                </p>
                                <p class="fs-14 text-muted mb-1">
                                    Rp @Model.OmzetPerBulanLainnya x @Model.TarifPajak.ToString("P0") = Rp @Model.PotensiPajakPerBulanLainnya.ToString("N0")
                                </p>
                                <h4 class="fs-16 fw-semibold mb-2">
                                    Rumus Perhitungan Potensi Pajak per Tahun
                                </h4>
                                <p class="fs-14 text-muted mb-1">
                                    Potensi Pajak per Bulan x 12
                                </p>
                                <p class="fs-14 text-muted mb-2">
                                    Rp @Model.PotensiPajakPerBulanLainnya x 12 = Rp @Model.PotensiPajakPerTahunLainnya.ToString("N0")
                                </p>
                                <h4 class="fs-16 fw-semibold">
                                    Total Potensi Pajak per Tahun : Rp @Model.PotensiPajakPerTahunLainnya.ToString("N0")
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card border border-success border-2">
                            <div class="card-body">
                                <h4 class="fs-16 fw-semibold mb-3">
                                    Distribusi Omzet Bulanan
                                </h4>
                                <!-- Multiple Bars -->
                                <div class="progress mb-4" style="height:20px">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: @Model.OmzetWeekdaysLainnya.ToString("P2")" aria-valuenow="@Model.OmzetWeekdaysLainnya.ToString("N0")" aria-valuemin="0" aria-valuemax="100">@Model.OmzetWeekdaysLainnya.ToString("P2")</div>
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" style="width: @Model.OmzetWeekendLainnya.ToString("P2")" aria-valuenow="@Model.OmzetWeekendLainnya.ToString("N0")" aria-valuemin="0" aria-valuemax="100">@Model.OmzetWeekendLainnya.ToString("P2")</div>
                                </div>
                                <div class="d-flex">
                                    <h6 class="px-4 fs-6"><span class="badge bg-success">@Model.OmzetWeekdaysLainnya.ToString("P2")</span> = Hari Kerja</h6>
                                    <div class="flex-shrink-0">
                                        <h6 class="fs-6"><span class="badge bg-secondary">@Model.OmzetWeekendLainnya.ToString("P2")</span> = Akhir Pekan</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card border border-success border-2">
                            <div class="card-body bg-soft-success bg-opacity-25">
                                <h4 class="card-title fs-14 mb-4">
                                    Potensi Pajak per Bulan
                                </h4>
                                <h4 class="card-title fs-18 mb-3">
                                    Rp @Model.PotensiPajakPerBulanLainnya.ToString("N0")
                                </h4>
                                <div class="d-flex">
                                    <p class="fs-14 text-muted flex-grow-1">Hari Kerja</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold mb-1">Rp 0</p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <p class="fs-14 text-muted flex-grow-1">Akhir Pekan</p>
                                    <div class="flex-shrink-0">
                                        <p class="fs-14 fw-semibold mb-1">Rp 0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">

        <div class="card">
            <div class="card-header d-flex bg-soft-success">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Ringkasan
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">NOP</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">@Model.NOP</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Nama Usaha</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">@Model.Nama</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Alamat</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">@Model.Alamat</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Kapasitas Pengunjung</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">@Model.Kapasitas Pengunjung</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex bg-soft-success">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Potensi Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card border border-success border-2">
                            <div class="card-body bg-success bg-opacity-25">
                                <h4 class="card-title fs-14 mb-4">
                                    Potensi Pajak per Bulan
                                </h4>
                                <h4 class="card-title fs-18 mb-0">
                                    Rp @Model.PotensiPajakPerBulanLainnya.ToString("N0")
                                </h4>
                                <p class="fs-12">50% dari omzet bulanan</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card border border-success border-2">
                            <div class="card-body bg-success bg-opacity-25">
                                <h4 class="card-title fs-14 mb-4">
                                    Potensi Pajak per Tahun
                                </h4>
                                <h4 class="card-title fs-18 mb-0">
                                    Rp @Model.PotensiPajakPerTahunLainnya.ToString("N0")
                                </h4>
                                <p class="fs-12">Proyeksi untuk 12 bulan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex bg-soft-success">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Visualisasi Kunjungan
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Hari Kerja (22 hari/bulan)</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">@Model.JumlahPengunjungWeekdaysLainnya Kunjungan</p>
                    </div>
                </div>

                <div class="progress mb-2" style="height:20px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                </div>

                <br />
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Akhir Pekan (8 hari/bulan)</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">@Model.JumlahPengunjungWeekendLainnya Kunjungan</p>
                    </div>
                </div>

                <div class="progress mb-2" style="height:20px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                </div>

                <br />
                <h4 class="fs-14 mb-2 text-center">
                    Total Kunjungan per Bulan
                </h4>
                <h4 class="fs-16 fw-semibold mb-2 text-center">
                    @Model.JumlahPengunjungPerBulanLainnya Kunjungan
                </h4>
                <h4 class="fs-14 text-muted mb-1 text-center">
                    Rata-rata @Model.RataRataPengunjung Kunjungan per Hari
                </h4>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex bg-soft-success">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Parameter Perhitungan
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Harga Tiket Hari Kerja</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">Rp @Model.HTMWeekdays.ToString("N0")</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Harga Tiket Akhir Pekan</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">Rp @Model.HTMWeekend.ToString("N0")</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Turnover Hari Kerja</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">@Model.TurnoverWeekdays.ToString("P2") Kali</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Turnover Akhir Pekan</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">@Model.TurnoverWeekend.ToString("P2") Kali</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Hari Kerja per Bulan</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">22 Hari</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Akhir Pekan per Bulan</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">8 Hari</p>
                    </div>
                </div>
                <div class="d-flex">
                    <p class="fs-14 text-muted flex-grow-1">Tarif Pajak</p>
                    <div class="flex-shrink-0">
                        <p class="fs-14 fw-semibold mb-1">@Model.TarifPajak.ToString("P0")</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex bg-soft-success">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Catatan Khusus
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card border border-warning border-2">
                            <div class="card-body bg-soft-warning bg-opacity-25">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <i class="avatar-md ri-alert-fill text-warning fs-3"></i>
                                    </div>
                                    <div class="flex-grow-1 px-3 mt-2">
                                        <h4 class="fs-16 fw-semibold mb-1">
                                            Tarif Pajak Khusus
                                        </h4>
                                    </div>
                                </div>
                                <p class="fs-14 text-muted mb-1">
                                    Usaha ini dikenakan tarif pajak hiburan khusus sebesar 50% sesuai dengan Peraturan Daerah tentang Pajak Hiburan
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-12">

        <div class="card">
            <div class="card-header d-flex bg-soft-success">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Rumus Lengkap Perhitungan Potensi Pajak
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <h4 class="fs-14 fw-semibold mb-2">
                    P = (((Harga Tiket Masuk Hari Kerja x Kapasitas Pengunjung x Turnover Hari Kerja x 22 Hari) + (Harga Tiket Masuk Akhir Pekan x Kapasitas Pengunjung x Turnover Akhir Pekan x 8 Hari)) x Tarif Pajak) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-2">
                    P = (((f x e x i x 22) + (g x e x j x 8)) x Tarif Pajak) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-2">
                    P = (((0 x 0 x 0,0 x 22) + (0 x 0 x 0,0 x 8)) x 0,5) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-2">
                    P = ((0 + 0) x 0,5) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-2">
                    P = (0 x 0,5) x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-2">
                    P = 0 x 12
                </h4>
                <h4 class="fs-14 fw-semibold mb-2">
                    P = Rp 0
                </h4>
            </div>
        </div>

    </div>

</div>