@model MonPDReborn.Models.DataOP.ProfilePotensiOPVM.Index

@{
    ViewData["Title"] = "Profile Potensi OP";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Dashboard Potensi Pajak
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card card-animate">
            <div class="card-body">
                <h4 class="fs-16 fw-semibold">Total Potensi Tahun 2025</h4>
                <p class="fs-14">Potensi : @ViewBag.Potensi</p>
                <p class="fs-14">Realisasi : @ViewBag.RealisasiTotal</p>
                <p class="fs-14">Capaian : @ViewBag.Capaian</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card card-animate">
            <div class="card-body">
                <h4 class="fs-16 fw-semibold">Total Potensi Tahun 2025</h4>
                <p class="fs-14">Total : @ViewBag.TotalOP</p>
                <p class="fs-14">Realisasi : @ViewBag.RealisasiOP</p>
                <p class="fs-14">Terealisasi : @ViewBag.CapaianOP</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-0">
                        Data Kontrol
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div id="Show"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            loadShow("");      // Panggil data rekap jumlah
           // loadDetail("");  // Panggil semua data detail saat pertama load
        });

        function loadShow() {
            $.ajax({
                url: '@Url.Action("Show", "ProfilePotensiOP")',
                type: 'GET',
                success: function (result) {
                    $('#Show').html(result);
                },
                error: function () {
                    $('#Show').html('<div class="alert alert-danger">Gagal memuat data Show.</div>');
                }
            });
        }

        function onDetailClick() {
            var url = '@Url.Action("DetailGym", "ProfilePotensiOP")';
            window.open(url, '_blank'); // membuka di tab baru
        }
    </script>
}

