@using MonPDLib.General
@model MonPDReborn.Models.DashboardVM.Index

@{
    ViewData["Title"] = "Dashboard";
}
@if (!string.IsNullOrEmpty(Model.Em))
{
    <div class="alert alert-danger">
        @Model.Em
    </div>
}
<style>
    .apexcharts-legend.apexcharts-align-center {
        justify-content: flex-start !important; /* Rata kiri */
        text-align: left !important;
    }
</style>

<div id="loading2-ShowCard">
    @await Html.PartialAsync("/Views/Dashboard/IndexPlaceHolder.cshtml")
</div>

<div id="ShowCard" style="display:none">
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h5 class="card-title text-dark fs-16 mb-0">
                        <i class="mdi mdi-file-chart align-middle me-1"></i> SERIES PAJAK DAERAH
                    </h5>
                </div>
                <div class="flex-shrink-0">
                    <button class="btn btn-sm btn-outline-dark" title="Segarkan data realisasi pajak" onclick="fnSeriesPajakDaerah()">
                        <i class="mdi mdi-refresh align-middle"></i> Refresh
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <div id="loading2-SeriesPajakDaerah" class="spinner-border text-primary" style="display: none">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div id="SeriesPajakDaerah"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @* <div class="col-lg-12">
        <div class="card card-height-100">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1 mb-0">
                    <h5 class="card-title text-dark">
                        <i class="mdi mdi-chart-bar align-middle me-1"></i>JUMLAH OBJEK PAJAK
                    </h5>
                </div>
                <div class="flex-shrink-0 mb-0">
                    <a href="@Url.Action("Index", "ProfileOP")" target="_blank" class="btn btn-sm btn-light">
                        <i class="ri-file-list-3-line align-middle"></i>
                        Detail
                    </a>
                    <button class="btn btn-sm btn-outline-light" onclick="fnJumlahObjekPajakTahunan()">
                        <i class="mdi mdi-refresh align-middle"></i>
                        Refresh
                    </button>
                </div>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-border-top nav-border-top-primary mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#op-tahunan" role="tab" aria-selected="false">
                            JML OP TAHUNAN
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#op-series" role="tab" aria-selected="false" onclick="fnJumlahObjekPajakSeries()">
                            JML OP SERIES
                        </a>
                    </li>
                </ul>
                <div class="tab-content text-muted">
                    <div class="tab-pane active" id="op-tahunan" role="tabpanel">
                        <div class="text-center">
                            <div id="loading2-JumlahObjekPajakTahunan" class="spinner-border text-primary" style="display: none">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div id="JumlahObjekPajakTahunan"></div>
                    </div>
                    <div class="tab-pane" id="op-series" role="tabpanel">
                        <div class="text-center">
                            <div id="loading2-JumlahObjekPajakSeries" class="spinner-border text-primary" style="display: none">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div id="JumlahObjekPajakSeries"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> *@

    <!-- Bagian PIUTANG -->
    @* <div class="col-lg-12">
        <div class="card card-height-100">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h5 class="card-title fs-16 text-dark mb-0">
                        <i class="mdi mdi-cash-multiple align-middle me-1"></i> PIUTANG
                    </h5>
                </div>
                <div class="flex-shrink-0">
                    <button class="btn btn-sm btn-outline-light" onclick="fnDataPiutang()">
                        <i class="mdi mdi-refresh align-middle"></i>
                        Refresh
                    </button>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title fs-16 mb-3">
                    Data Piutang
                </h4>

                <div class="text-center mb-4">
                    <div class="text-center">
                        <div id="loading2-DataPiutang" class="spinner-border text-primary" style="display: none">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>

                <div id="DataPiutang" class="mb-5"></div>
                <div class="modal fade" id="detailModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Detail</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Isi modal akan diisi lewat JS -->
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div> *@

    <!-- Bagian Mutasi -->
    @* <div class="col-lg-12">
        <div class="card card-height-100">
            <div class="card-header d-flex bg-header-color align-items-center">
                <div class="flex-grow-1">
                    <h5 class="card-title fs-16 text-dark mb-0">
                        <i class="mdi mdi-account-cash-outline align-middle me-1"></i> MUTASI
                    </h5>
                </div>
                <div class="flex-shrink-0">
                    <button class="btn btn-sm btn-outline-light" onclick="fnDataMutasi()">
                        <i class="mdi mdi-refresh align-middle"></i>
                        Refresh
                    </button>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title fs-16 mb-3">
                    Data Mutasi
                </h4>

                <div class="text-center mb-4">
                    <div class="text-center">
                        <div id="loading2-DataMutasi" class="spinner-border text-primary" style="display: none">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>

                <div id="DataMutasi"></div>
            </div>

        </div>
    </div> *@
</div>

@section Scripts {
    <script>
        function getChartColorsArray(chartId) {
            if (document.getElementById(chartId) !== null) {
                var colors = document.getElementById(chartId).getAttribute("data-colors");
                colors = JSON.parse(colors);
                return colors.map(function (value) {
                    var newValue = value.replace(" ", "");
                    if (newValue.indexOf(",") === -1) {
                        var color = getComputedStyle(document.documentElement).getPropertyValue(newValue);
                        if (color) return color;
                        else return newValue;;
                    } else {
                        var val = value.split(',');
                        if (val.length == 2) {
                            var rgbaColor = getComputedStyle(document.documentElement).getPropertyValue(val[0]);
                            rgbaColor = "rgba(" + rgbaColor + "," + val[1] + ")";
                            return rgbaColor;
                        } else {
                            return newValue;
                        }
                    }
                });
            }
        }
    </script>
    <script>

        $(document).ready(function () {
            fnShowCard();
            fnSeriesPajakDaerah();
            // fnDataPiutang();
            // fnDataMutasi();
        });
        // function fnMonitoringKategori(jenisPajak) {
        //     window.location.href = `/ProfileKategoriOP?jenisPajak=${jenisPajak}`;
        // }
        function fnMonitoringBulanan(jenisPajak) {
            window.location.href = `/MonitoringBulanan?jenisPajak=${jenisPajak}`;
        }
        function fnSeriesPajakDaerah()
        {
            $.ajax({
              url: '@(Url.Action("SeriesPajakDaerah"))',
              type: 'GET',
              beforeSend: function () {
                 $('#loading2-SeriesPajakDaerah').show();
                 $('#SeriesPajakDaerah').hide();
              },
              success: function (response) {
                    if (response.Status === undefined) {
                        $('#loading2-SeriesPajakDaerah').hide();
                        $('#SeriesPajakDaerah').show();
                        $('#SeriesPajakDaerah').html(response);
                    }
                    else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
              },
              error: function (xhr, status, error) {
                 $('#loading2-SeriesPajakDaerah').hide();
                 $('#SeriesPajakDaerah').hide();
                 $('#SeriesPajakDaerah').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
              }
           });
        }
        function fnShowCard()
        {
            $.ajax({
              url: '@(Url.Action("ShowCard"))',
              type: 'GET',
              beforeSend: function () {
                 $('#loading2-ShowCard').show();
                 $('#ShowCard').hide();
              },
              success: function (response) {
                    if (response.Status === undefined) {
                        $('#loading2-ShowCard').hide();
                        $('#ShowCard').show();
                        $('#ShowCard').html(response);
                    }
                    else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
              },
              error: function (xhr, status, error) {
                 $('#loading2-ShowCard').hide();
                 $('#ShowCard').hide();
                 $('#ShowCard').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
              }
           });
        }
        // function fnJumlahObjekPajakTahunan()
        // {
        //     $.ajax({
        //       url: '@(Url.Action("JumlahObjekPajakTahunan"))',
        //       type: 'GET',
        //       beforeSend: function () {
        //          $('#loading2-JumlahObjekPajakTahunan').show();
        //          $('#JumlahObjekPajakTahunan').hide();
        //       },
        //       success: function (response) {
        //             if (response.Status === undefined) {
        //                 $('#loading2-JumlahObjekPajakTahunan').hide();
        //                 $('#JumlahObjekPajakTahunan').show();
        //                 $('#JumlahObjekPajakTahunan').html(response);
        //             }
        //             else {
        //                 swal.fire({
        //                     icon: 'warning',
        //                     title: '<b style="color:orange">Peringatan</b>',
        //                     text: response.Message
        //                 })
        //             }
        //       },
        //       error: function (xhr, status, error) {
        //          $('#loading2-JumlahObjekPajakTahunan').hide();
        //          $('#JumlahObjekPajakTahunan').hide();
        //          $('#JumlahObjekPajakTahunan').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
        //       }
        //    });
        // }
        // function fnJumlahObjekPajakSeries()
        // {
        //     $.ajax({
        //       url: '@(Url.Action("JumlahObjekPajak"))',
        //       type: 'GET',
        //       beforeSend: function () {
        //          $('#loading2-JumlahObjekPajakSeries').show();
        //          $('#JumlahObjekPajakSeries').hide();
        //       },
        //       success: function (response) {
        //             if (response.Status === undefined) {
        //                 $('#loading2-JumlahObjekPajakSeries').hide();
        //                 $('#JumlahObjekPajakSeries').show();
        //                 $('#JumlahObjekPajakSeries').html(response);
        //             }
        //             else {
        //                 swal.fire({
        //                     icon: 'warning',
        //                     title: '<b style="color:orange">Peringatan</b>',
        //                     text: response.Message
        //                 })
        //             }
        //       },
        //       error: function (xhr, status, error) {
        //          $('#loading2-JumlahObjekPajakSeries').hide();
        //          $('#JumlahObjekPajakSeries').hide();
        //          $('#JumlahObjekPajakSeries').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
        //       }
        //    });
        // }
        function fnPemasanganAlatRekamDetail()
        {
            $.ajax({
              url: '@(Url.Action("PemasanganAlatRekamDetail"))',
              type: 'GET',
              beforeSend: function () {
                 $('#loading2-PemasanganAlatRekamDetail').show();
                 $('#PemasanganAlatRekamDetail').hide();
              },
              success: function (response) {
                    if (response.Status === undefined) {
                        $('#loading2-PemasanganAlatRekamDetail').hide();
                        $('#PemasanganAlatRekamDetail').show();
                        $('#PemasanganAlatRekamDetail').html(response);
                    }
                    else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
              },
              error: function (xhr, status, error) {
                 $('#loading2-PemasanganAlatRekamDetail').hide();
                 $('#PemasanganAlatRekamDetail').hide();
                 $('#PemasanganAlatRekamDetail').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
              }
           });
        }
        function fnPemasanganAlatRekamSeries()
        {
            $.ajax({
              url: '@(Url.Action("PemasanganAlatRekamSeries"))',
              type: 'GET',
              beforeSend: function () {
                 $('#loading2-PemasanganAlatRekamSeries').show();
                 $('#PemasanganAlatRekamSeries').hide();
              },
              success: function (response) {
                    if (response.Status === undefined) {
                        $('#loading2-PemasanganAlatRekamSeries').hide();
                        $('#PemasanganAlatRekamSeries').show();
                        $('#PemasanganAlatRekamSeries').html(response);
                    }
                    else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
              },
              error: function (xhr, status, error) {
                 $('#loading2-PemasanganAlatRekamSeries').hide();
                 $('#PemasanganAlatRekamSeries').hide();
                 $('#PemasanganAlatRekamSeries').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
              }
           });
        }
        function fnPemeriksaanPajak()
        {
            $.ajax({
              url: '@(Url.Action("PemeriksaanPajak"))',
              type: 'GET',
              beforeSend: function () {
                 $('#loading2-PemeriksaanPajak').show();
                 $('#PemeriksaanPajak').hide();
              },
              success: function (response) {
                    if (response.Status === undefined) {
                        $('#loading2-PemeriksaanPajak').hide();
                        $('#PemeriksaanPajak').show();
                        $('#PemeriksaanPajak').html(response);
                    }
                    else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
              },
              error: function (xhr, status, error) {
                 $('#loading2-PemeriksaanPajak').hide();
                 $('#PemeriksaanPajak').hide();
                 $('#PemeriksaanPajak').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
              }
           });
        }
        function fnPengedokanPajak()
        {
            $.ajax({
              url: '@(Url.Action("PengedokanPajak"))',
              type: 'GET',
              beforeSend: function () {
                 $('#loading2-PengedokanPajak').show();
                 $('#PengedokanPajak').hide();
              },
              success: function (response) {
                    if (response.Status === undefined) {
                        $('#loading2-PengedokanPajak').hide();
                        $('#PengedokanPajak').show();
                        $('#PengedokanPajak').html(response);
                    }
                    else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
              },
              error: function (xhr, status, error) {
                 $('#loading2-PengedokanPajak').hide();
                 $('#PengedokanPajak').hide();
                 $('#PengedokanPajak').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
              }
           });
        }
        function fnDataKontrolPotensiOp()
        {
            $.ajax({
              url: '@(Url.Action("DataKontrolPotensiOp"))',
              type: 'GET',
              beforeSend: function () {
                 $('#loading2-DataKontrolPotensiOp').show();
                 $('#DataKontrolPotensiOp').hide();
              },
              success: function (response) {
                    if (response.Status === undefined) {
                        $('#loading2-DataKontrolPotensiOp').hide();
                        $('#DataKontrolPotensiOp').show();
                        $('#DataKontrolPotensiOp').html(response);
                    }
                    else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
              },
              error: function (xhr, status, error) {
                 $('#loading2-DataKontrolPotensiOp').hide();
                 $('#DataKontrolPotensiOp').hide();
                 $('#DataKontrolPotensiOp').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
              }
           });
        }
        function fnDataPiutang()
        {
            $.ajax({
              url: '@(Url.Action("DataPiutang"))',
              type: 'GET',
              beforeSend: function () {
                 $('#loading2-DataPiutang').show();
                 $('#DataPiutang').hide();
              },
              success: function (response) {
                    if (response.Status === undefined) {
                        $('#loading2-DataPiutang').hide();
                        $('#DataPiutang').show();
                        $('#DataPiutang').html(response);
                    }
                    else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
              },
              error: function (xhr, status, error) {
                 $('#loading2-DataPiutang').hide();
                 $('#DataPiutang').hide();
                 $('#DataPiutang').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
              }
           });
        }
        function fnDataMutasi()
        {
            $.ajax({
              url: '@(Url.Action("DataMutasi"))',
              type: 'GET',
              beforeSend: function () {
                 $('#loading2-DataMutasi').show();
                 $('#DataMutasi').hide();
              },
              success: function (response) {
                    if (response.Status === undefined) {
                        $('#loading2-DataMutasi').hide();
                        $('#DataMutasi').show();
                        $('#DataMutasi').html(response);
                    }
                    else {
                        swal.fire({
                            icon: 'warning',
                            title: '<b style="color:orange">Peringatan</b>',
                            text: response.Message
                        })
                    }
              },
              error: function (xhr, status, error) {
                 $('#loading2-DataMutasi').hide();
                 $('#DataMutasi').hide();
                 $('#DataMutasi').html('<p class="text-danger">Terjadi kesalahan saat memuat data.</p>');
              }
           });
        }

        function detailPiutangCellTemplate(cellElement, cellInfo) {
            const enumPajak = cellInfo.data.EnumPajak;

            // Ambil tahun dari Caption kolom
            const tahun = parseInt(cellInfo.column.caption);

            const $link = $('<a>')
                 .addClass('value-link text-decoration-none')
                 .attr('href', 'javascript:void(0);')
                 .attr('title', 'Lihat Detail')
                 .text((cellInfo.value ?? 0).toLocaleString('id-ID'))
                 .on('click', () => ondetailPiutangClick(enumPajak, tahun));

            const $wrapper = $('<div>')
                 .css({
                     display: 'flex',
                     alignItems: 'center',
                     justifyContent: 'flex-end'
                 })
                 .append($link);

             $(cellElement).append($wrapper);

        }



        function ondetailPiutangClick(enumPajak, tahun) {
            const $modal = $("#staticBackdropExtraLargeScrollableCenter");

            $modal.find(".modal-title").text(`Detail Piutang - Tahun ${tahun}`);
            $modal.find(".modal-body").html(`
                <div class="text-center my-3">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            `);

            $modal.modal("show");

            $.ajax({
                url: '/Dashboard/DetailPiutang',
                type: 'GET',
                data: {
                    jenisPajak: enumPajak, // perbaikan: pakai jenisPajak di server
                    tahun: tahun
                },
                success: function (response) {
                    $modal.find(".modal-body").html(response);
                },
                error: function () {
                    $modal.find(".modal-body").html(`
                        <div class="alert alert-danger">
                            Gagal memuat detail data.
                        </div>
                    `);
                }
            });
        }

        function getChartColorsArray(id) {
            if (document.getElementById(id) !== null) {
                let colors = document.getElementById(id).getAttribute("data-colors");
                colors = JSON.parse(colors);

                return colors.map(function (value) {
                    let val = value.replace(" ", "");
                    if (val.indexOf(",") === -1) {
                        return getComputedStyle(document.documentElement).getPropertyValue(val) || val;
                    } else {
                        let valSplit = value.split(",");
                        if (valSplit.length === 2) {
                            return "rgba(" + getComputedStyle(document.documentElement).getPropertyValue(valSplit[0]) + "," + valSplit[1] + ")";
                        }
                        return val;
                    }
                });
            }
        }


        function hitungPersentase(e) {
            var dataSource = e.component.getDataSource();
            var items = dataSource.items();

            var $summaryCells = e.element.find(".dx-datagrid-total-footer .dx-datagrid-summary-item");

             for (var i = 7; i >= 1; i--) {
                var totalTarget = 0;
                var totalRealisasi = 0;

                // Hitung total target & realisasi dari semua row
                items.forEach(function(item) {
                    totalTarget += item["Target" + i] || 0;
                    totalRealisasi += item["Realisasi" + i] || 0;
                });

                var persentase = totalTarget > 0 ? totalRealisasi / totalTarget : 0;

                // mapping index (supaya tetap 1..7 walau i berjalan 7..1)
                var order = 8 - i;
                var persentaseIndex = (order * 3) + 2;

                // eq() itu 0-based
                var $persentaseCell = $summaryCells.eq(persentaseIndex - 1);

                if ($persentaseCell.length) {
                    $persentaseCell.text(
                        DevExpress.localization.formatNumber(persentase, "#,##0.00%")
                    );
                }
            }
        }

    </script>
    }
