@model MonPDReborn.Models.DataOP.ProfilePotensiOPUPTBVM.ShowRekap

<div class="row">
    <div class="col-lg-3">
        <div class="card card-animate shadow-sm rounded-3" style="border-top: 5px solid #00712D; transition: transform 0.3s; height: 100%;">
            <div class="card-body d-flex align-items-center">
                <!-- Icon -->
                <div class="bg-soft-primary rounded-circle d-flex justify-content-center align-items-center me-3"
                     style="width: 45px; height: 45px; aspect-ratio: 1/1; flex-shrink: 0;">
                    <i class="bx bx-money-withdraw  fs-4 text-primary"></i>
                </div>

                <!-- Text -->
                <div>
                    <div class="text-uppercase fw-bold fs-14 text-muted mb-1">Total Potensi</div>
                    <div class="fs-16 fw-semibold text-dark">
                        Rp. @Model.DataDashboard.Potensi.ToString("N0")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card card-animate shadow-sm rounded-3" style="border-top: 5px solid #00712D; transition: transform 0.3s; height: 100%;">
            <div class="card-body d-flex align-items-center">
                <!-- Icon -->
                <div class="bg-soft-primary rounded-circle d-flex justify-content-center align-items-center me-3"
                     style="width: 45px; height: 45px; aspect-ratio: 1/1; flex-shrink: 0;">
                    <i class="bx bx-file  fs-4 text-primary"></i>
                </div>

                <!-- Text -->
                <div>
                    <div class="text-uppercase fw-bold fs-14 text-muted mb-1">Total Realisasi</div>
                    <div class="fs-16 fw-semibold text-dark">
                        Rp. @Model.DataDashboard.RealisasiTotal.ToString("N0")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card card-animate shadow-sm rounded-3" style="border-top: 5px solid #00712D; transition: transform 0.3s; height: 100%;">
            <div class="card-body d-flex align-items-center">
                <!-- Icon -->
                <div class="bg-soft-primary rounded-circle d-flex justify-content-center align-items-center me-3"
                     style="width: 45px; height: 45px; aspect-ratio: 1/1; flex-shrink: 0;">
                    <i class=" bx bx-coin  fs-4 text-primary"></i>
                </div>

                <!-- Text -->
                <div>
                    <div class="text-uppercase fw-bold fs-14 text-muted mb-1">Total Objek Pajak</div>
                    <div class="fs-16 fw-semibold text-dark">
                        @Model.DataDashboard.TotalOP.ToString("N0")
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="card card-animate shadow-sm rounded-3" style="border-top: 5px solid #00712D; transition: transform 0.3s; height: 100%;">
            <div class="card-body d-flex align-items-center">
                <!-- Icon -->
                <div class="bg-soft-primary rounded-circle d-flex justify-content-center align-items-center me-3"
                     style="width: 45px; height: 45px; aspect-ratio: 1/1; flex-shrink: 0;">
                    <i class="bx bx-money  fs-4 text-primary"></i>
                </div>

                <!-- Text -->
                <div>
                    <div class="text-uppercase fw-bold fs-14 text-muted mb-1">Persentase Capaian</div>
                    <div class="fs-16 fw-semibold text-dark">
                        @Model.DataDashboard.Capaian.ToString("N0")%
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@{
    var currentYear = DateTime.Now.Year;
    var tahun1 = (currentYear - 2).ToString();
    var tahun2 = (currentYear - 1).ToString();
    var tahun3 = currentYear.ToString();

    var tahunnext1 = (currentYear + 1).ToString();
    var tahunnext2 = (currentYear + 2).ToString();
    var tahunnext3 = (currentYear + 3).ToString();
    var tahunnext4 = (currentYear + 4).ToString();
    var tahunnext5 = (currentYear + 5).ToString();

}


<div class="table-responsive">
    @(
        Html.DevExtreme().DataGrid<MonPDReborn.Models.DataOP.ProfilePotensiOPUPTBVM.RekapPotensi>()
        .ID("rekapPotensiGrid")
        .ShowBorders(true)
        .ShowColumnHeaders(true)
        .ShowColumnLines(true)
        .ShowRowLines(true)
        .ColumnAutoWidth(true)
        .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(false))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(h => h.Visible(true))
        .Sorting(s => s.Mode(GridSortingMode.Multiple))
        .AllowColumnResizing(true)
        .Sorting(s => s.Mode(GridSortingMode.None))
        .DataSource(Model.DataRekapPotensi)
        .KeyExpr("JenisPajak")
        .Export(e => e.Enabled(true).AllowExportSelectedData(false).Formats(new[] { "xlsx", "pdf" }))
        .OnExporting("exportGrid")
        .Columns(columns =>
        {
            columns.AddFor(x => x.JenisPajak).Caption("JENIS PAJAK").Alignment(HorizontalAlignment.Left).Fixed(true);
            columns.Add().Caption(tahun1).Alignment(HorizontalAlignment.Center).Columns(subColumns =>
            {
                subColumns.AddFor(x => x.Target1).Caption("Target").Format("#,##0");
                subColumns.AddFor(x => x.Realisasi1).Caption("Realisasi").Format("#,##0");
                    subColumns.AddFor(x => x.Capaian1).Caption("Capaian (%)").Format("#,##0.00");
            });
            columns.Add().Caption(tahun2).Alignment(HorizontalAlignment.Center).Columns(subColumns =>
            {
                subColumns.AddFor(x => x.Target2).Caption("Target").Format("#,##0");
                subColumns.AddFor(x => x.Realisasi2).Caption("Realisasi").Format("#,##0");
                subColumns.AddFor(x => x.Capaian2).Caption("Capaian (%)").Format("#,##0.00");
            });
            columns.Add().Caption(tahun3).Alignment(HorizontalAlignment.Center).Columns(subColumns =>
            {
                subColumns.AddFor(x => x.Target3).Caption("Target").Format("#,##0");
                subColumns.AddFor(x => x.Realisasi3).Caption("Realisasi").Format("#,##0");
                subColumns.AddFor(x => x.Capaian3).Caption("Capaian (%)").Format("#,##0.00");
            });
            columns.Add().Caption("POTENSI").Alignment(HorizontalAlignment.Center).Columns(subColumns =>
            {
                subColumns.AddFor(x => x.TotalPotensi1).Caption("Total " + tahunnext1).Format("#,##0");
                subColumns.AddFor(x => x.TotalPotensi2).Caption("Total " + tahunnext2).Format("#,##0");
                subColumns.AddFor(x => x.TotalPotensi3).Caption("Total " + tahunnext3).Format("#,##0");
                subColumns.AddFor(x => x.TotalPotensi4).Caption("Total " + tahunnext4).Format("#,##0");
                subColumns.AddFor(x => x.TotalPotensi5).Caption("Total " + tahunnext5).Format("#,##0");
            });
        })
        .Summary(summary =>
        {
            summary.TotalItems(items =>
            {
                items.AddFor(x => x.JenisPajak)
            .SummaryType(SummaryType.Sum)
            .DisplayFormat("Total");

                items.AddFor(x => x.Target1)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");


                items.AddFor(x => x.Realisasi1)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");

                items.AddFor(x => x.Capaian1)
            .SummaryType(SummaryType.Avg)   // atau Sum jika memang mau jumlah total
            .ValueFormat("#,##0.00").DisplayFormat("{0}%");

                items.AddFor(x => x.Target2)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");


                items.AddFor(x => x.Realisasi2)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");

                items.AddFor(x => x.Capaian2)
            .SummaryType(SummaryType.Avg)   // atau Sum jika memang mau jumlah total
            .ValueFormat("#,##0.00").DisplayFormat("{0}%");

                items.AddFor(x => x.Target3)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");


                items.AddFor(x => x.Realisasi3)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");

                items.AddFor(x => x.Capaian3)
            .SummaryType(SummaryType.Avg)   // atau Sum jika memang mau jumlah total
            .ValueFormat("#,##0.00").DisplayFormat("{0}%");

                items.AddFor(x => x.TotalPotensi1)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");

                items.AddFor(x => x.TotalPotensi2)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");

                items.AddFor(x => x.TotalPotensi3)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");

                items.AddFor(x => x.TotalPotensi4)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");

                items.AddFor(x => x.TotalPotensi5)
            .SummaryType(SummaryType.Sum)
            .ValueFormat("#,##0")
            .DisplayFormat("{0}");

            });

        })
        .OnContentReady("function(e) { hitungPersentase(e); }")
        .MasterDetail(md => md
        .Enabled(true)
        .Template(
    @<text>
        @{
        ViewData["JenisPajak"] = new JS("data.EnumPajak");
        ViewData["wilayahPajak"] = new JS("data.wilayahPajak");
        }
        @await Html.PartialAsync("/Views/DataOP/ProfilePotensiOPUPTB/_ShowDetail.cshtml")
        <% if (data.EnumPajak === 3) { %>
        @await Html.PartialAsync("/Views/DataOP/ProfilePotensiOPUPTB/_ShowDetailHotel.cshtml")
        <% } %>
    </text>)
        )
        )
</div>
