@model MonPDReborn.Models.AktivitasWP.PenagihanVM.Index
@using DevExtreme.AspNet.Mvc

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-1">
                        Dashboard Monitoring Penagihan Pajak
                    </h4>
                    <p class="text-muted mb-0">Ringkasan data penagihan pajak daerah</p>
                </div>
            </div>
            <div class="card-body">
                <div class="row g-3 align-items-center">

                    <div class="col-lg-3 col-md-4">
                        @(Html.DevExtreme().SelectBox()
                            .ID("selectJenisPajakFilter")
                            .DataSource(new[] { "Semua Jenis Pajak", "Makanan", "Hotel", "Parkir", "Listrik" })
                            .Placeholder("Semua Jenis Pajak")
                            .StylingMode(EditorStylingMode.Outlined)
                            .Name("jenisPajak") 
                            )
                    </div>

                    <div class="col-lg-2 col-md-3">
                        <button id="btnFilter" class="btn btn-success w-100">
                            <i class="bi bi-funnel-fill"></i> Filter
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow-sm rounded-xl p-3 text-center">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-primary-subtle p-2 me-2">
                        <i class=" ri-error-warning-line text-primary fs-1"></i>
                    </div>
                    <div class="text-start">
                        <h3 class="mb-0 fw-bold">Rp @Model.Data.JmlPenagihan.ToString("N0")</h3>
                        <small class="text-muted">Total Penagihan</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow-sm rounded-xl p-3 text-center">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-primary-subtle p-2 me-2">
                        <i class="ri-time-line text-warning fs-1"></i>
                    </div>
                    <div class="text-start">
                        <h3 class="mb-0 fw-bold">@Model.Data.PenagihanAktif</h3>
                        <small class="text-muted">Penagihan SPTPD Aktif</small>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow-sm rounded-xl p-3 text-center">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="d-flex align-items-center">
                    <div class="rounded-circle bg-primary-subtle p-2 me-2">
                        <i class="ri-checkbox-circle-line text-success fs-1"></i>
                    </div>
                    <div class="text-start">
                        <h3 class="mb-0 fw-bold">Rp @Model.Data.TotalPenerimaan.ToString("N0")</h3>
                        <small class="text-muted">Total Penerimaan Penagihan</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="flex-grow-1">
                    <h4 class="card-title fs-16 mb-1">
                        Rekap Data WP yang Harus Ditagih
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <div id="Show"></div>
                <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div id="detailModalContent">
                                <div class="text-center p-5">
                                    <div class="spinner-border text-primary"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            // pertama kali load semua
            loadShow("");

            // ketika klik tombol filter
            $("#btnFilter").on("click", function () {
                // Ambil nilai yang dipilih
                let jenisPajak = $("#selectJenisPajakFilter").dxSelectBox("instance").option("value");

                // Jika yang dipilih adalah "Semua Jenis Pajak", ubah nilainya menjadi string kosong
                if (jenisPajak === "Semua Jenis Pajak") {
                    jenisPajak = "";
                }

                // Panggil fungsi load dengan nilai yang sudah dikoreksi
                loadShow(jenisPajak);
            });

            function loadShow(jenisPajak) {
                $.ajax({
                    url: '@Url.Action("Show", "Penagihan")',
                    type: 'GET',
                    data: { JenisPajak: jenisPajak },
                    beforeSend: function () {
                        $('#Show').html('<div class="text-muted">Memuat data...</div>');
                    },
                    success: function (result) {
                        $('#Show').html(result);
                    },
                    error: function (xhr, status, error) {
                        console.error("Gagal memuat data:", error);
                        $('#Show').html('<div class="text-danger">Gagal memuat data.</div>');
                    }
                });
            }
        });

        function onDetailClick(cellElement, cellInfo) {
            const npwpd = cellInfo.data.NPWPD;

            $('<button>')
                .attr('type', 'button')
                .attr('data-npwpd', npwpd)
                .addClass('btn btn-sm btn-outline-primary btn-detail')
                .html('<i class="bx bx-show"></i>')
                .appendTo(cellElement);
        }

        // Klik detail
        $(document).on('click', '.btn-detail', function () {
            const npwpd = $(this).data('npwpd');
            const url = '@Url.Action("Detail", "Penagihan")' + '?npwpd=' + encodeURIComponent(npwpd);

            $('#detailModalContent').html(`
                <div class="text-center p-5">
                    <div class="spinner-border text-primary"></div>
                </div>
            `);

            $('#detailModal').modal('show');

            $.get(url, function (data) {
                $('#detailModalContent').html(data);
            });
        });

        // function onDetailClick(){

        // }
    </script>
}