@model MonPDReborn.Models.AktivitasOP.ReklameSummaryVM.GetDetailUpaya

<div class="card">
    <div class="card-body">
        <div class="mb-4">
            <label for="noFormulir" class="form-label fs-4">No. Formulir</label>
            <input type="text" class="form-control" id="noFormulir" value="@Model.Data.NoFormulir" disabled>
        </div>

        <ul class="nav nav-tabs nav-border-top nav-border-top-primary mb-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#input-upaya" role="tab">
                    Input Upaya
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#informasi-reklame" role="tab" onclick="fnShowSeries()">
                    Informasi Reklame
                </a>
            </li>
        </ul>

        <div class="tab-content text-muted">
            <div class="tab-pane active" id="input-upaya" role="tabpanel">
                <form id="formUpaya" asp-action="SimpanUpaya" asp-controller="Reklame" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label asp-for="Data.NewRowUpaya.IdUpaya" class="form-label">Jenis Upaya</label>
                        @(Html.DevExtreme().SelectBoxFor(m => m.SelectedUpaya)
                            .ID("cbUpaya")
                            .ValueExpr("Value")
                            .DisplayExpr("Text")
                            .DataSource(d => d.Mvc().Controller("ReklameSummary").LoadAction("GetDataList").Key("filter"))
                            .OnValueChanged("fnReloadTindakan")
                            .SearchExpr("Text")
                            .SearchEnabled(true)
                            .MinSearchLength(3)
                            )
                    </div>

                    <div class="mb-3">
                        <label asp-for="Data.NewRowUpaya.Keterangan" class="form-label">Keterangan</label>
                        @(Html.DevExtreme().SelectBoxFor(m => m.SelectedTindakan)
                            .ID("cbNop")
                            .ValueExpr("ObjekPajak.EncryptedNop")
                            .DisplayExpr("InfoNOP")
                            .DataSource(x => x.Mvc().Controller("SPTPD").LoadAction("GetTindakan").LoadParams(new JS("fnGetParamsTindakan()")))
                            .OnValueChanged("fnReloadData")
                            .DataSourceOptions(m => m.Group("NamaPajak"))
                            .Grouped(true)
                            .SearchEnabled(true)
                            )
                    </div>

                    <div class="mb-3">
                        <label asp-for="Data.NewRowUpaya.NamaPetugas" class="form-label">Petugas</label>
                        @Html.TextBoxFor(m => m.Data.NewRowUpaya.NamaPetugas, new { @class = "form-control" })
                    </div>

                    <div class="mb-3">
                        <label asp-for="Data.NewRowUpaya.TglUpaya" class="form-label">Tanggal Upaya</label>
                        @(Html.DevExtreme().DateBoxFor(m => m.Data.NewRowUpaya.TglUpaya)
                            .Type(DateBoxType.Date)
                            .DisplayFormat("dd MMM yyyy")
                            .Value(DateTime.Today)
                            .Name("NewRowUpaya.TglUpaya")
                            .ID("NewRowUpaya_TglUpaya"))
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Lampiran</label>
                        <input type="file" class="form-control" name="Lampiran" id="Lampiran" accept=".jpg,.jpeg,.png,.pdf" />
                        <small class="form-text text-muted">
                            Hanya file gambar (.jpg, .jpeg, .png) dan PDF yang diperbolehkan.
                        </small>
                    </div>

                    <div class="mb-3 text-end">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="informasi-reklame" role="tabpanel">

                <div class="container mt-4">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label class="form-label">Isi Reklame</label>
                            <input type="text" class="form-control" value="@Model.Data.InfoReklameUpaya.IsiReklame" readonly />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <label class="form-label">Alamat Reklame</label>
                            <input type="text" class="form-control" value="@Model.Data.InfoReklameUpaya.AlamatReklame" readonly />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <label class="form-label">Jenis Reklame</label>
                            <input type="text" class="form-control" value="@Model.Data.InfoReklameUpaya.JenisReklame" readonly />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-3">
                            <label class="form-label">Panjang (P)</label>
                            <input type="text" class="form-control" value="@Model.Data.InfoReklameUpaya.Panjang" readonly />
                        </div>
                        <div class="col-3">
                            <label class="form-label">Lebar (L)</label>
                            <input type="text" class="form-control" value="@Model.Data.InfoReklameUpaya.Lebar" readonly />
                        </div>
                        <div class="col-3">
                            <label class="form-label">Luas (LS)</label>
                            <input type="text" class="form-control" value="@Model.Data.InfoReklameUpaya.Luas" readonly />
                        </div>
                        <div class="col-3">
                            <label class="form-label">Tinggi (T)</label>
                            <input type="text" class="form-control" value="@Model.Data.InfoReklameUpaya.Tinggi" readonly />
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-6">
                            <label class="form-label">Tahun Pajak</label>
                            <input type="text" class="form-control" value="@Model.Data.InfoReklameUpaya.TahunPajak" readonly />
                        </div>
                        <div class="col-6">
                            <label class="form-label">Masa Pajak</label>
                            <input type="text" class="form-control"
                                   value="@Model.Data.InfoReklameUpaya.MasaPajak"
                                   readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="card-title fs-16 mb-3 mt-2">
            Data Upaya
        </h4>
        <div class="table-responsive">
            @(
                Html.DevExtreme().DataGrid<MonPDReborn.Models.AktivitasOP.ReklameSummaryVM.DetailUpaya.DataUpaya>()
                .ID("detailUpayaInfoGrid")
                .DataSource(Model.Data.DataUpayaList)
                .ShowBorders(true)
                .ShowColumnHeaders(true)
                .ShowColumnLines(true)
                .ShowRowLines(true)
                .AllowColumnResizing(true)
                .RowAlternationEnabled(true)
                .ColumnAutoWidth(true)
                .Sorting(s => s.Mode(GridSortingMode.Multiple))
                .Paging(p => p.PageSize(10))
                .Pager(p => p
                .ShowPageSizeSelector(true)
                .AllowedPageSizes(new[] { 10, 20, 50 })
                .ShowInfo(true)
                )
                .Columns(columns =>
                {
                    columns.AddFor(m => m.NoFormulir).Caption("Nomor Formulir");
                    columns.AddFor(m => m.TglUpaya).Caption("Tanggal Upaya").Format("dd MMM yyyy");
                    columns.AddFor(m => m.NamaUpaya).Caption("Upaya");
                    columns.AddFor(m => m.Keterangan).Caption("Keterangan");
                    columns.AddFor(m => m.Petugas).Caption("Petugas");
                })

                )
        </div>
    </div>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#formUpaya').on('submit', function (e) {
                e.preventDefault();

                var formData = new FormData(this);

                $.ajax({
                    url: '@Url.Action("SimpanUpaya", "Reklame")',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $("#loader").show()
                    },
                    complete: function () { $("#loader").hide(); },
                    success: function (response) {
                        if (response.status === 1) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Berhasil',
                                text: response.message
                            });
                           
                            $('#formUpaya')[0].reset();
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Gagal',
                                text: response.message
                            });
                        }
                    },
                    error: function (xhr) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Terjadi kesalahan saat mengirim data.'
                        });
                    }
                });
            });
        });
    </script>
}
